<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

    <title>Gestion Auto-écoles - J2HB Plus Editeur de la securité routiére au maroc.</title>
</head>
<body>
<app-headertop></app-headertop>
    <div style="margin-top: -44%"></div>
    <app-header></app-header>
    <div style="margin-top: -42%"></div>
<div class="page custom-pages"  style="background: linear-gradient(to right, #4f2e2e, #a41f20);">
    <div class="page-content z-index-10">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-12 col-md-12 d-block mx-auto " style="box-shadow: white;">
                    <div class="card mb-0" >
                        <div class="card-header" style="display: flex;flex-direction:column">
                        
                            <h3 class="card-title"  style="width: 100%; font-size: 15px;font-weight: 600;">{{'RÉINITIALISER LE MOT DE PASSE' | translate}}</h3>
                             <div *ngIf="!success" style="color: white;background: red;text-align: left;margin-left: -10px;font-size: 16px;padding: 4px;">
                                Aucun utilisateur n'a été trouvé avec cette adresse email.
                            </div>
                            
                           

                        </div>
                        <form [formGroup]="form" (ngSubmit)="resetPass()" method="POST" action="" id="login" 
                        enctype="multipart/form-data" >
                        <div class="card-body">
                            <div class="form-group">

                                <label class="form-label text-dark" style="font-size: 20px;">{{'Votre email' | translate}}</label>
                                <input type="email" class="form-control valid"  name="email" value="" formControlName="email" required>
                                <div class="err" *ngIf="submitted && this.form.controls.email.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.email.errors.required">
                                        {{' Email required.' | translate}} 
                                    </div>
                                    <div style="color: red;" *ngIf="this.form.controls.email.errors.email">
                                        {{' Please enter a valid email address !' | translate}} 
                                    </div>
                                </div>
                                <div  style="color: #ff382b;">
                                    <span>{{error}}</span>
                                </div>
                            </div>
                         
                         
                            <div class="form-footer mt-2 " >
                                <button type="submit" class="btn  btn-block" style="width: 90%;background: green;color: white;">
                                 {{'Reinitialisation du mot de passe' | translate}}
                            </button> 
                            </div>
                         
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<div style="display: flex;align-items:center;justify-content:space-around;padding-bottom: 20px;">
    <div class="logo"><img src="/assets/img/logo_gae.png" style="height: 100px;" alt=""></div>
    <div style="display: flex;align-items:center;flex-direction:column;">
         <a routerLink="/" style="font-size: 12px;font-weight: 400;text-decoration: none;color:black;margin-bottom: 15px;"><b>Accueil</b></a>
         <a routerLink="/apropos" style="font-size: 12px;font-weight: 400;text-decoration: none;color:black;margin-bottom: 15px;"><b>Logiciel GAE PLUS</b></a>
         <a href="/boutique-j2hb" style="font-size: 12px;font-weight: 400;text-decoration: none;color:black"><b>Boutique j2hb</b></a>
    </div>
    <div style="display: flex;align-items:center;flex-direction:column;">
        <a routerLink="/contact" style="font-size: 12px;font-weight: 400;text-decoration: none;color:black;margin-bottom: 15px;"><b>Contact</b></a>
        <a routerLink="/ministre_notes" style="font-size: 12px;font-weight: 400;text-decoration: none;color:black;margin-bottom: 15px;"><b>Téléchargement</b></a>
        <a href="/" style="font-size: 12px;font-weight: 400;text-decoration: none;color:black"><b>Auto-ecoles</b></a>
   </div>
    <div class="">
        <form class="row g-3">
            
            <div class="col-auto">
              <input type="email" style="width: 200px;" class="form-control" id="abonnement" placeholder="Enter votre email">
            </div>
            <div class="col-auto">
              <span type="submit" class="btn text-danger mb-3 abonnement" style="border: 2px solid red;padding: 6px;width: 105px;margin-left: -10px;font-size: 13px;">Abonner</span>
            </div>
          </form>
    </div>
   
</div> 
<div style="border-top:2px solid rgb(241, 237, 237);margin-top: 30px;">
<p style="text-align: center;font-size: 13px;margin-top: 26px;padding-bottom: 15px;">
<b>Copyright © {{dateVal | date: 'yyyy'}}  GAE.</b></p>
</div>


</body>
</html>
