<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Job board html template">
    <meta name="Author" content="Spruko Technologies Private Limited">
    <meta name="keywords" content=""/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta property="og:image" content="/assets/img/logo_gae.png">
    <meta name="csrf-token" content="mI1WuJX2LYbSg925WVPdlMeViHNA0mCSlg28y1PH">
    <link rel="icon" href="/assets/img/logo_gae.png" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/logo_gae.png" />
<!-- font style -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet"> 
    <!-- Title -->
    <title>Gestion Auto-écoles - J2HB Plus Editeur de la securité routiére au maroc.</title>
    <!-- Bootstrap Css -->
    <link href="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css">
    <!-- Dashboard Css -->
    <link href="/assets/css/gestion.css" rel="stylesheet" />

    <!--Horizontal Menu-->
    <link href="https://gestionautoecole.com/plugins/horizontal/horizontal-menu/animation/fade-down.css" rel="stylesheet" />
    <link href="https://gestionautoecole.com/plugins/horizontal/horizontal-menu/horizontal.css" rel="stylesheet" />

</head>
<body>
    <!-- <app-header></app-header> -->
    <app-headerlogged></app-headerlogged>
    <div style="margin-top: -480px"></div>
    <style>.avatar{background: #e5e5e5 no-repeat center/cover !important;background-size: cover !important}</style>
<!--Sliders Section-->
<div> 
    <div class="bannerimg cover-image bg-background3 bg-white" style="background: white">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-dark">
                    <h1>Nous contacter</h1>
                </div> 
            </div> 
        </div> 
    </div> 
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <!--Job lists-->
            <div class=" mb-lg-0">
                <div class="">
                    <div class="item2-gl">
                        <div class=" mb-0">
                            <div class="">
                                <div>
                                    <div class="sptb bg-white my-3" style="box-shadow: none;">
                                        <div class="container">
                                            <div class="row">
                                                <div class="single-page">
                                                    <div class="col-lg-8 col-xl-12 col-md-12 d-block mx-auto">
                                                        <div class="wrapper wrapper2">
                                                            
                                                            <form  [formGroup]="form" (ngSubmit)="sendEmail()"  enctype="multipart/form-data" >
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <div class="alert" id="EmailMessage" style="display:none;">
                                                                        </div>
                                                                        <ul class="list-group mb-4">
                                                                            <li class="list-group-item py-3" style="color: black"><i class="far fa-phone-alt"></i> +212661-072777</li>
                                                                            <li class="list-group-item py-3" style="color: black"><i class="far fa-map-marker"></i>  45 AVENUE HASSAN 2 IMMEUBLE WATANIYA 8ÈME ETAGE NUMÉRO 802 - FÈS</li>
                                                                        </ul>
                                                                        <div class="form-group">
                                                                            <label class="form-label">Nom </label>
                                                                            <input name="nom" class="form-control" formControlName="nom" placeholder="votre nom" >
                                                                        </div>
                                                                        <div class="err" style="margin-top: -20px" *ngIf="submitted && this.form.controls.nom.errors">
                                                                            <div style="color: red;" *ngIf="this.form.controls.nom.errors.required">
                                                                                  {{'champs obligatoire *' | translate}}  
                                                                            </div>
                                               
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="form-label">Email </label>
                                                                            <input name="email" class="form-control" formControlName="email" placeholder="votre email">
                                                                        </div>
                                                                        <div class="err" style="margin-top: -20px" *ngIf="submitted && this.form.controls.email.errors">
                                                                            <div style="color: red;" *ngIf="this.form.controls.email.errors.required">
                                                                                  {{'champs obligatoire *' | translate}}  
                                                                            </div>
                                                                            <div style="color: red;" *ngIf="this.form.controls.email.errors.email">
                                                                                {{'email invalid *' | translate}}  
                                                                          </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                        <label class="form-label">Message </label>
                                                                        <textarea class="form-control" name="message" formControlName="message" rows="6" placeholder="votre message"></textarea>
                                                                        <div class="err" *ngIf="submitted && this.form.controls.message.errors">
                                                                            <div style="color: red;" *ngIf="this.form.controls.message.errors.required">
                                                                                  {{'champs obligatoire *' | translate}}
                                                                            </div>
                                               
                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.062375877423!2d-5.000435985362007!3d34.04227102570417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd9f8b40cf952467%3A0x15db367b095e9bf6!2sJ2HB!5e0!3m2!1sen!2sma!4v1656579146116!5m2!1sen!2sma" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="card-footer">
                                                                <div class="submit">
                                                                    <button class="btn btn-primary btn-sm pull-left my-3" type="submit"> Envoyer </button>
                                                                </div>
                                                            </div>	
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <script src="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/js/popper.min.js"></script>
        <script src="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
</body>
</html>