<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background:rgb(239, 239, 243);">
    <app-headertop></app-headertop>
    <div style="margin-top: -44%"></div>
    <app-header></app-header>
    <div style="margin-top: -40%"></div>
    
    <div class="container-list-blog">
        <div class="child-container-blog">
            <div style="font-size: 40px ;">{{ 'Liste des véhicules' | translate }}</div>
        </div>
    </div>
    <div class="container-rechercher">
        <div class="child-blog-right">
            <div class="rechercher" style="background: white;display: flex;align-items: center;border: 1px solid white;height: 100px;padding: 10px;">
                <input type="text" class="form-control" name="rechercher" id="rechercher">
                <div class="mb-0">
                    <button  class="btn btn-danger">Rechercher</button>
                </div>
            </div>
           
        </div>
    </div>
<div class="container-blog-content">
    <div class="child-blog-left">
        <div class="child-blog">
            <img src="https://gestionautoecole.com/storage/app/public/images/blog/1646056876_blog.jpg" alt="">
            <div class="date-blog">
                <span class="bi bi-calendar"></span>
                <div> lundi 26 juillet 2021</div>
            </div>
            <div class="blog-description">
                Ouvrir une auto-école au Maroc Ouvrir une auto-école au Maroc : jusqu’à  35% de marge nette Par Ibtissam Benchanna Le 6 Fév, 2013  Partager UNE AUTO-ÉCOLE DE 50 M2 ÉQUIPÉE DE DEUX VOITURES...
            </div>
            <span style="border-radius: 0;margin-left: 10px;margin-bottom: 10px;" class="btn btn-primary">Lire la suite</span>
        </div>
        <div class="child-blog">
            <img src="https://gestionautoecole.com/storage/app/public/images/blog/1646056876_blog.jpg" alt="">
            <div class="date-blog">
                <span class="bi bi-calendar"></span>
                <div> lundi 26 juillet 2021</div>
            </div>
            <div class="blog-description">
                Ouvrir une auto-école au Maroc Ouvrir une auto-école au Maroc : jusqu’à  35% de marge nette Par Ibtissam Benchanna Le 6 Fév, 2013  Partager UNE AUTO-ÉCOLE DE 50 M2 ÉQUIPÉE DE DEUX VOITURES...
            </div>
            <span style="border-radius: 0;margin-left: 10px;margin-bottom: 10px;" class="btn btn-primary">Lire la suite</span>
        </div>
        <div class="child-blog">
            <img src="https://gestionautoecole.com/storage/app/public/images/blog/1646056876_blog.jpg" alt="">
            <div class="date-blog">
                <span class="bi bi-calendar"></span>
                <div> lundi 26 juillet 2021</div>
            </div>
            <div class="blog-description">
                Ouvrir une auto-école au Maroc Ouvrir une auto-école au Maroc : jusqu’à  35% de marge nette Par Ibtissam Benchanna Le 6 Fév, 2013  Partager UNE AUTO-ÉCOLE DE 50 M2 ÉQUIPÉE DE DEUX VOITURES...
            </div>
            <span style="border-radius: 0;margin-left: 10px;margin-bottom: 10px;" class="btn btn-primary">Lire la suite</span>
        </div>
        <div class="child-blog">
            <img src="https://gestionautoecole.com/storage/app/public/images/blog/1646056876_blog.jpg" alt="">
            <div class="date-blog">
                <span class="bi bi-calendar"></span>
                <div> lundi 26 juillet 2021</div>
            </div>
            <div class="blog-description">
                Ouvrir une auto-école au Maroc Ouvrir une auto-école au Maroc : jusqu’à  35% de marge nette Par Ibtissam Benchanna Le 6 Fév, 2013  Partager UNE AUTO-ÉCOLE DE 50 M2 ÉQUIPÉE DE DEUX VOITURES...
            </div>
            <span style="border-radius: 0;margin-left: 10px;margin-bottom: 10px;" class="btn btn-primary">Lire la suite</span>
        </div>
        <div class="child-blog">
            <img src="https://gestionautoecole.com/storage/app/public/images/blog/1646056876_blog.jpg" alt="">
            <div class="date-blog">
                <span class="bi bi-calendar"></span>
                <div> lundi 26 juillet 2021</div>
            </div>
            <div class="blog-description">
                Ouvrir une auto-école au Maroc Ouvrir une auto-école au Maroc : jusqu’à  35% de marge nette Par Ibtissam Benchanna Le 6 Fév, 2013  Partager UNE AUTO-ÉCOLE DE 50 M2 ÉQUIPÉE DE DEUX VOITURES...
            </div>
            <span style="border-radius: 0;margin-left: 10px;margin-bottom: 10px;" class="btn btn-primary">Lire la suite</span>
        </div>
    </div>
  
</div>
<!-- footer -->
<div style="display: flex;align-items:center;justify-content:space-around;padding-bottom: 20px;border-top:2px solid rgb(228, 220, 220)">
    <div class="logo"><img src="/assets/img/logo_gae.png" style="height: 100px;" alt=""></div>
    <div style="display: flex;align-items:center;flex-direction:column;">
         <a routerLink="/" style="font-size: 12px;font-weight: 400;text-decoration: none;color:black;margin-bottom: 15px;"><b>Accueil</b></a>
         <a routerLink="/apropos" style="font-size: 12px;font-weight: 400;text-decoration: none;color:black;margin-bottom: 15px;"><b>Logiciel GAE PLUS</b></a>
         <a href="/boutique-j2hb" style="font-size: 12px;font-weight: 400;text-decoration: none;color:black"><b>Boutique j2hb</b></a>
    </div>
    <div style="display: flex;align-items:center;flex-direction:column;">
        <a routerLink="/contact" style="font-size: 12px;font-weight: 400;text-decoration: none;color:black;margin-bottom: 15px;"><b>Contact</b></a>
        <a routerLink="/ministre_notes" style="font-size: 12px;font-weight: 400;text-decoration: none;color:black;margin-bottom: 15px;"><b>Téléchargement</b></a>
        <a href="/" style="font-size: 12px;font-weight: 400;text-decoration: none;color:black"><b>Auto-ecoles</b></a>
   </div>
    <div class="">
        <form class="row g-3">
            
            <div class="col-auto">
              <input type="email" style="width: 200px;" class="form-control" id="abonnement" placeholder="Enter votre email">
            </div>
            <div class="col-auto">
              <span type="submit" class="btn text-danger mb-3 abonnement" style="border: 2px solid red;padding: 6px;width: 105px;margin-left: -10px;font-size: 13px;">Abonner</span>
            </div>
          </form>
    </div>
   
</div> 
<div style="border-top:2px solid rgb(241, 237, 237);margin-top: 30px;">
<p style="text-align: center;font-size: 13px;margin-top: 26px;padding-bottom: 15px;">
<b>Copyright © {{dateVal | date: 'yyyy'}}  GAE.</b></p>
</div>


</body>
</html>