<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Job board html template">
    <meta name="Author" content="Spruko Technologies Private Limited">
    <meta name="keywords" content=""/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta property="og:image" content="/assets/img/logo_gae.png">
    <meta name="csrf-token" content="mI1WuJX2LYbSg925WVPdlMeViHNA0mCSlg28y1PH">
    <link rel="icon" href="/assets/img/logo_gae.png" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/logo_gae.png" />
<!-- font style -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet"> 
    <!-- Title -->
    <title>Gestion Auto-écoles - J2HB Plus Editeur de la securité routiére au maroc.</title>
    <!-- Bootstrap Css -->
    <link href="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css">
    <!-- Dashboard Css -->
    <link href="/assets/css/gestion.css" rel="stylesheet" />

    <!--Horizontal Menu-->
    <link href="https://gestionautoecole.com/plugins/horizontal/horizontal-menu/animation/fade-down.css" rel="stylesheet" />
    <link href="https://gestionautoecole.com/plugins/horizontal/horizontal-menu/horizontal.css" rel="stylesheet" />

</head>
<body>
    <!-- <app-header></app-header> -->
    <app-headerlogged></app-headerlogged>
    <div style="margin-top: -480px"></div>
    <style>.avatar{background: #e5e5e5 no-repeat center/cover !important;background-size: cover !important}</style>
<!--Sliders Section-->
<div> 
    <div class="bannerimg cover-image bg-background3 bg-white" style="background: white">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-dark">
                    <h1>Notre Blog </h1>
                </div> 
            </div> 
        </div> 
    </div> 
</div>
<!--Job listing-->
<div  *ngIf="!blog" style="margin-left: 50%;margin-bottom: 20%;margin-top: 12px;">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
</div>
<div class="sptb" *ngIf="blog">
    <div class="container">
        <div class="row">
            <div class="d-block mx-auto col-lg-8 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="item7-card-img" *ngIf="image">
                            <img src="{{image}}" alt="img"  style="height: 400px;width:400px;margin-left: 100px;">
                        </div>
                        <div class="item7-card-desc d-flex mb-2 mt-3">
                            <a><i class="fa fa-calendar-o text-muted mr-2"></i>{{date}}</a>
                            <a><i class="fa fa-user text-muted mr-2"></i> Admin </a>
                        </div>
                        <div class="text-dark"><h2 class="font-weight-semibold">{{titre}}</h2>

                            <div class="content">
                            <div class="field field--item field--label-hidden field--name-body field--type-text-with-summary">
                                        <span>{{description}}</span>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <script src="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/js/popper.min.js"></script>
        <script src="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
</body>
</html>