<div class="card-body">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group text-center">
             <label class="form-label">Logo de votre établissement</label>
                  <div class="team-section text-center">
                    <div class="team-img">
                        <img src="https://gestionautoecole.com/storage/wEW3VYKEx1WzwOboeQJSlpgCmJp5X6bcI1kZYy9R.png" class="img-thumbnail rounded-circle alt=" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label text-dark">Nom auto-école</label>
                <input type="text" class="form-control" name="nom_auto_ecole" value="x" readonly="readonly">

                <label class="form-label text-dark">N. patente</label>
                <input type="text" class="form-control" name="n_patente" value="x" readonly="readonly">

                <label class="form-label text-dark">Date d'autorisation</label>
                <div class="wd-200 mg-b-30">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                            </div>
                        </div><input class="form-control datepickerNoOfMonths hasDatepicker" placeholder="DD/MM/YYYY" type="text" name="date_autorisation" value="01/09/2022" readonly="readonly" id="dp1660386586521">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group">

                <label class="form-label text-dark">N.registre de commerce</label>
                <input type="text" class="form-control" name="n_registre_commerce" value="x" readonly="readonly">
                                                    <div class="demo-gallery">
                    <ul id="lightgallery" class="list-unstyled row" lg-uid="lg0">
                        <li class="col-xs-6 col-sm-4 col-md-3" data-responsive="https://gestionautoecole.com/storage/vmYuWqpK87xmYlDNu964WmiCaMjnGIopECPF2gPr.png" data-src="https://gestionautoecole.com/storage/vmYuWqpK87xmYlDNu964WmiCaMjnGIopECPF2gPr.png" data-sub-html="<h4>N. Registre de Commerce: x</h4>" lg-event-uid="&amp;1">
                            <a href="">
                                <img class="img-responsive" src="https://gestionautoecole.com/storage/vmYuWqpK87xmYlDNu964WmiCaMjnGIopECPF2gPr.png" alt="Thumb-1">
                            </a>
                        </li>
                    </ul>
                </div>
                                                    
                <label class="form-label text-dark">Identification fiscale</label>
                <input type="text" class="form-control" name="ident_fiscale" value="x" readonly="readonly">

                <label class="form-label text-dark">Date d'ouverture</label>
                <div class="wd-200 mg-b-30">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                            </div>
                        </div><input class="form-control datepickerNoOfMonths hasDatepicker" placeholder="DD/MM/YYYY" type="text" name="date_ouverture" value="11/08/2022" readonly="readonly" id="dp1660386586522">
                    </div>
                </div>
                </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label text-dark">N.agrément</label>
                <input type="text" class="form-control" name="n_agrement" value="x" readonly="readonly">
                                                    <div class="demo-gallery">
                    <ul id="lightgallery_2" class="list-unstyled row" lg-uid="lg1">
                        <li class="col-xs-6 col-sm-4 col-md-3" data-responsive="https://gestionautoecole.com/storage/EktPIa7kNHc8DeNi1z1z78VAPrZj7U2EWL6Q60YL.png" data-src="https://gestionautoecole.com/storage/EktPIa7kNHc8DeNi1z1z78VAPrZj7U2EWL6Q60YL.png" data-sub-html="<h4>N. Agrément: x</h4>" lg-event-uid="&amp;2">
                            <a href="">
                                <img class="img-responsive" src="https://gestionautoecole.com/storage/EktPIa7kNHc8DeNi1z1z78VAPrZj7U2EWL6Q60YL.png" alt="Thumb-2">
                            </a>
                        </li>
                    </ul>
                </div>
                                                </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label text-dark">N.CNSS</label>
                <input type="text" class="form-control" name="n_cnss" value="x" readonly="readonly">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label text-dark">ICE</label>
                <input type="text" class="form-control" name="ice" value="x" readonly="readonly">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label text-dark">Compte bancaire</label>
                <input type="text" class="form-control" name="n_compte_bancaire" value="x" readonly="readonly">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label text-dark"> Taux de TVA</label>
                <input type="text" class="form-control" name="tva" value="678" readonly="readonly">
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label text-dark">Pays</label>
                <input type="text" class="form-control" name="pays" value="x" readonly="readonly">

                <label class="form-label text-dark">Téléphone</label>
                <input type="text" class="form-control" name="telephone" value="0999999999" readonly="readonly">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label text-dark">Ville</label>
                <input type="text" class="form-control" name="ville" value="x" readonly="readonly">

                <label class="form-label text-dark">Fax</label>
                <input type="text" class="form-control" name="fax" value="" readonly="readonly">

            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">

                <label class="form-label text-dark">Email</label>
                <input type="text" class="form-control" name="email" value="vadegih880@5k2u.com" readonly="readonly">

                <label class="form-label text-dark">Site web</label>
                <input type="text" class="form-control" name="site_web" value="xxx" readonly="readonly">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
            <label class="form-label text-dark">Adresse</label>
                <textarea rows="5" class="form-control" name="adresse" placeholder="Adresse de votre établissement " readonly="readonly">                                    </textarea>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label text-dark">Cin</label>
                <input type="text" class="form-control" value="asas" readonly="readonly">
                                                        <div class="demo-gallery">
                        <ul id="lightgallery_3" class="list-unstyled row" lg-uid="lg2">
                            <li class="col-xs-6 col-sm-4 col-md-3" data-responsive="https://gestionautoecole.com/storage/XKVomfHfZ7t1HKkbbLclLXQ43Z38K3L7w8tptZh2.png" data-src="https://gestionautoecole.com/storage/XKVomfHfZ7t1HKkbbLclLXQ43Z38K3L7w8tptZh2.png" data-sub-html="<h4>Cin: asas</h4>" lg-event-uid="&amp;3">
                                <a href="">
                                    <img class="img-responsive" src="https://gestionautoecole.com/storage/XKVomfHfZ7t1HKkbbLclLXQ43Z38K3L7w8tptZh2.png" alt="Thumb-2">
                                </a>
                            </li>
                        </ul>
                    </div>
                                                </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label text-dark">Nom gérant(e)</label>
                <input type="text" class="form-control" name="nom_responsable" value="s" readonly="readonly">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label text-dark">Prénom gérant(e)</label>
                <input type="text" class="form-control" name="prenom_responsable" value="x" readonly="readonly">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label text-dark">Tél de gérant(e)</label>
                <input type="text" class="form-control" name="tel_responsable" value="0666665666" readonly="readonly">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label text-dark">Adresse de gérant(e)</label>

                <textarea rows="5" class="form-control" name="adresse_responsable" placeholder="Adresse de Résponsable" readonly="readonly">                                    </textarea>
            </div>
        </div>
    </div>
</div>