<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <title>Gestion Auto-écoles-J2HB PLUS Editeur sécurité Routière</title>
</head>
<body>
	<!-- <app-headerlogged></app-headerlogged> -->
    <!-- <app-menu-admin></app-menu-admin> -->
    <app-slide-bar></app-slide-bar>
    <div class="container-dashboard-body" style="max-width: 100%;margin-top: 60px;margin-bottom: 20px;">
      <div style="margin-top: 30px;padding: 15px;">

        <div class="mat-elevation-z8" style="background: white">
          <div style="margin-bottom: 10px;margin-left: 6px;margin-right: 6px;padding: 10px;">
            <div style="font-size: 16px;font-weight: 600;">
              <div style="display: flex;align-items:center; justify-content:space-between;margin-bottom: 10px;">
                <div style="font-size: 14px;">GESTION AUTO-ÉCOLE
                </div>
                <div>
                  <button style="outline:none;border:none;background:#05a8e9;color: white;border-radius: 5px;padding: 7px;">
                     <i class="fa fa-archive"></i>
                     Archives
                  </button>
                </div>
            </div>
          <div class="tableDiv" >
            <div style="display: flex;align-items:center;justify-content:flex-end">
              <div style="margin-right: 6px">  Rechercher:</div>
              <mat-form-field appearance="standard">
                 <mat-label></mat-label>
                 <input matInput (keyup)="applyFilter($event)" placeholder="... " #input>
              </mat-form-field>
          </div>
          <table mat-table [dataSource]="dataSource" matSort>    
        
            <!-- nom_auto_ecole Column ['nom_auto_ecole', 'date_debut', 'date_fin', 'prix','actions'];     --> 
            <ng-container matColumnDef="nom_auto_ecole">       
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nom_auto_ecole"> 
                <span style="font-weight:900;font-size: 11px;">NOM</span>    
              </th>
              <td mat-cell *matCellDef="let element">{{element?.nom_auto_ecole}}</td>
            </ng-container>
       
            <!-- responsable Column --> 
            <ng-container matColumnDef="responsable">  
              <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">RESPONSABLE</span></th>
              <td mat-cell *matCellDef="let element">{{element?.nom_responsable}}{{" "}}{{element?.prenom_responsable}} </td>
            </ng-container>
    
              <!-- etat Column -->  
              <ng-container matColumnDef="etat">  
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">ETAT</span>   </th>
                <td mat-cell *matCellDef="let element"><p style="background-color: rgb(255, 187, 0);color: white;font-size: 10px;">En attente</p></td>
              </ng-container> 
    
            <!-- telephone Column --> 
            <ng-container matColumnDef="telephone">  
              <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">TEL AUTO-ÉCOLE</span></th>
              <td mat-cell *matCellDef="let element">{{element?.telephone}} </td>
            </ng-container>
    
            
            <!-- tel_responsable Column --> 
            <ng-container matColumnDef="tel_responsable">   
              <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">TÉL DE GÉRANT(E)</span> </th>
              <td mat-cell *matCellDef="let element">{{element?.tel_responsable}}</td>
            </ng-container>
        
            <!-- pays Column -->
            <ng-container matColumnDef="pays">  
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;font-size: 11px;">PAYS/VILLE</span> </th>
              <td mat-cell *matCellDef="let element">{{element?.pays}}/{{element?.ville}}</td>
            </ng-container>   
           <!-- actions Column -->
           <ng-container matColumnDef="actions">  
            <th mat-header-cell *matHeaderCellDef><span style="font-weight:900;font-size: 11px;">ACTIONS</span>  </th>
            <td mat-cell *matCellDef="let element"> 
                <a  href="/detail-auto-ecole/{{element?.id}}"  title="detail" class="btn" style="border-color:rgb(3, 197, 245); background: rgb(3, 197, 245);color: white;padding: 8px;">
                  Detail
                </a>
    
                <button title="approver"  (click)="approver(element?.id)"   class="btn" style="background: rgb(2, 245, 34);color: white;padding: 8px;">
                    Approuver
                </button>  
              
                <button (click)="deleteAutoEcole(element?.id)" title="supprimer" class="btn btn-green" style="background: black;color: white;padding: 8px;">
                    Supprimer
                </button>
            </td>
          </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator 
          [length]="n" 
          [pageSize]="5"  
          [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
          </div>
            </div>
            
        </div>
       
          
        
          
           
          </div>
      </div>
   </div>
</body>
</html>
