<!-- <div class="modal fade bd-example-modal-lg show"  style="padding-right: 4px; display: block;">
	<div class="modal-dialog modal-lg">
	
	</div>
</div> -->
<div class="modal-content" style="padding: 10px;width: 600px;">
	<div class="modal-header">
	  <h5 class="modal-title" id="exampleModalLabel" style="font-size: 16px">Présences</h5>
	  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">×</span>
	  </button>
	</div>
	<form class="form" [formGroup]="form"  method="POST"   enctype="multipart/form-data">
	  <div class="card-body">
		  <div class="card-body">
			  <p style="color: red; font-weight: bold;font-size: 12px;">(*)Champs obligatoire</p>
			  <div class="row">
				  <div class="col-md-3">   
					  <div class="form-group">
						  <label class="form-label">Heure début</label>
						  <input name="heure_debut" class="form-control" formControlName='heure_debut' >
					  </div>
				  </div>
				  <div class="col-md-3">
					  <div class="form-group">
						  <label class="form-label">Heure fin</label>
						  <input name="heure_fin"  class="form-control" formControlName='heure_fin' >
					  </div>
				  </div>

				  <div class="col-md-4">
					  <div class="form-group">
						  <label class="form-label">Moniteur</label>
						  <select type="text" id="appt" name="appt" class="form-control input" formControlName='moniteur_theorique_id' style="font-size: 16px;height:32px"> 
								<option *ngFor="let data of moniteurTh" value="{{data?.id}}">{{data?.nom}}{{" "}}{{data?.prenom}}</option>

						  </select>   
					  </div>
				  </div>
				  <div class="col-md-3">
					  <div class="form-group">
						  <label class="form-label">Catégorie</label>
						  <input name="presence_categorie"  class="form-control"  formControlName='categorie'>
					  </div>
				  </div>
			  </div>

			  <div class="row">
				  <div class="col-md-12">
					<table class="table table-candidats">
						<thead>
						  <tr>
							<th scope="col">CANDIDAT</th>
							<th scope="col">PRESENT / ABSENT</th>
						  </tr>
						</thead>
						<tbody style="height:100px;">
						  <tr *ngFor="let data of candidats">
							<td>{{data[1]}}</td>

							<td>
							  <div *ngIf="checkedorNot[data[0]] === 'A'">
								  <input type="checkbox" id="check" style="height: 15px;" 
								  (click)="checkBoxValue($event, data[0])">
							  </div>
							  <div *ngIf="checkedorNot[data[0]] === 'P'">
								  <input type="checkbox" id="check" style="height: 15px;" 
								  (click)="checkBoxValue($event, data[0])" checked>
							  </div>
								
							</td>
						  </tr>
						</tbody>
					  </table>
				  </div>
			  </div>
		  </div>
	  </div>

	  <div class="card-footer">
		  <button type="submit" class="btn" style="background: #198754;color: white;" (click)="AjoutePresence()">Ajouter</button>
		  <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">Annuler</button>
	  </div>
  </form>	
</div>