.link{
    font-size: 13px;
    text-decoration: none;
    font-weight: 400;
    color: white;
}
.nav-home:hover{
  /* background-color: #dc3545!important; */
  /* border: 1px solid #dc3545; */
  outline: none;
  border: 1px solid rgb(233, 230, 230);
}

.icon{
    color: red;font-size: 13px;margin-right: 5px;
}

* {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

  .nav-home{
    margin-left: 2px;
  }

.header-fix{
  position:fixed;
  z-index: 600;
  right: 0;
  left: 0;
}

.nav-home-user{
  border: 1px solid rgb(243, 240, 240);
  border-radius: 50%;
  color: white;
  padding: -4px;
}

.mat-menu-content{
  background: white;
}

.profileAvatar:hover{
   background: white;
}

button:active{
  background: white;
}
.service::after{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.profileAvatar:hover{
  border: 1px solid rgb(238, 241, 241);
}