<div style="display: flex;align-items:center;justify-content:flex-end">
    <div style="margin-right: 6px">  Rechercher:</div>
    <mat-form-field appearance="standard">
       <mat-label></mat-label>
       <input matInput (keyup)="applyFilter($event)" placeholder="... " #input>
    </mat-form-field>
</div>
 <table mat-table [dataSource]="dataSource" matSort>    

   <!-- cin Column -->
   <ng-container matColumnDef="cin">
     <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by candidat"> 
       <span style="font-weight:900;font-size: 16px;margin-right:7px">{{ "CIN" | translate }}</span>    
     </th>
     <td mat-cell *matCellDef="let element" style="text-align: center;">  {{element?.candidat?.cin}}</td>
   </ng-container>   
  
   <!-- candidat Column -->
   <ng-container matColumnDef="candidat">  
     <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 16px;margin-right:7px">{{ "NOM" | translate }}</span>   </th>
     <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element?.candidat?.nom_fr}}{{" "}}{{element?.candidat?.prenom_fr}} </td>
   </ng-container>

   <!-- categorie Column --> 
   <ng-container matColumnDef="categorie">   
     <th mat-header-cell *matHeaderCellDef mat-sort-header>  <span style="font-weight:900;font-size: 16px;margin-right:7px">{{ "CATEGORIE" | translate }}</span> </th>
     <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element?.candidat?.categorie}} </td>
   </ng-container>

   <!-- date Column -->
   <ng-container matColumnDef="date">  
     <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;font-size: 16px;margin-right:7px">{{ "DATE" | translate }}</span> </th>
     <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element?.date}} </td>
   </ng-container>   

   <!-- type_p Column -->
   <ng-container matColumnDef="type_p"> 
     <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;font-size: 16px;margin-right:7px">{{ "TYPE" | translate }}</span> </th>
     <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element?.type_p}} </td>
   </ng-container>
   <!-- montant Column -->
   <ng-container matColumnDef="montant">  
     <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;font-size: 16px;">{{ "MONTANT" | translate }}</span> </th>
     <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element?.montant}} </td>
   </ng-container> 

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 </table>
 <mat-paginator 
   [length]="n" 
   [pageSize]="5"  
   [pageSizeOptions]="[5, 10, 25, 100]">
 </mat-paginator>

 <!-- <table class="table">
        
          <thead>
            <tr  style="color: black;">
              <th  scope="col">{{ "CIN" | translate }}</th>
              <th  scope="col">{{ "NOM" | translate }}</th>
              <th scope="col">{{ "CATEGORIE" | translate }}</th>
              <th  scope="col">{{ "DATE" | translate }}</th>
              <th scope="col">{{ "TYPE" | translate }}</th>
              <th scope="col">{{ "MONTANT" | translate }}</th>
            </tr>
          </thead>
          <tbody> 
            <tr *ngFor="let data of permis;">
              <td> {{data.candidat.cin}}</td>
              <td>{{data.candidat.nom_fr}}{{" "}}{{data.candidat.prenom_fr}}</td>
              <td>{{data.candidat.categorie}}</td>
              <td>{{data.date}}</td>
              <td>{{data?.type_p}}</td>
              <td>{{data.montant}}</td>
            </tr>
            </tbody>
        </table> -->