<!-- <div class="modal-dialog modal-lg">

  </div> -->
  <div class="modal-content"  style="padding: 10px;border: none;padding-top: 0;">
	<div class="modal-header" >
	  <h5 class="modal-title" id="exampleModalLabel">Ajouter absence moniteur</h5>
	  <button type="button" style="border: none;background: white;" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">×</span>
	  </button>
	</div>
	<form class="form" [formGroup]="form"  method="POST"   enctype="multipart/form-data">
		  <div class="card-body">
			  <p style="color: red; font-weight: bold;font-size: 12px;">(*)Champs obligatoire</p>
			  <div class="col-md-12">
				  <div class="alert" id="EditMessage" style="display: none;">
				  </div>
			  </div>
			  <div class="row">
				     <div class="col-md-6">
						<div class="form-group">
							<div class="form-label">
								Type Moniteur* 
							</div>
							<select name="type_moniteur" style="font-size:14px;" id="type_moniteur" class="form-control" formControlName="type_moniteur" (change)="loadMoniteur($event)">
								<option value="">Choisir type moniteur</option>
								<option value="moniteur theorique">Moniteur Theorique</option>
								<option value="moniteur pratique">Moniteur Pratique</option>
							</select>
							<div class="err" *ngIf="submitted && this.form.controls.type_moniteur.errors">
								<div style="color: red;" *ngIf="this.form.controls.type_moniteur.errors.required">
									  {{'champ obligatoire ' | translate}}  
								</div>
							</div>
						</div>
					 </div>
			  </div>
			  <div class="row">
				  <div class="col-md-6">
					  <div class="form-group">      
						  <label class="form-label">Moniteur*</label>
						  <select name="employe" class="form-control" style="font-size:14px;" formControlName="moniteur_id">
							  <option value="">Choisir un moniteur</option>  
							  <option *ngFor="let data of loadMoniteurs;" value="{{data?.id}}">
                                {{data?.nom}}{{" "}}{{data?.prenom}}
                            </option>
							
						  </select>
						  <div class="err" *ngIf="submitted && this.form.controls.moniteur_id.errors">
							<div style="color: red;" *ngIf="this.form.controls.moniteur_id.errors.required">
								  {{'champ obligatoire ' | translate}}  
							</div>
						</div>
					  </div>
				  </div>

				  <div class="col-md-6">
					  <div class="form-group">
						  <label class="form-label">Type absence*</label>
						  <div class="input-group mb-3">
							  <select id="type5" name="type_absence" style="font-size:14px;" class="form-control" formControlName="type_absence">
								  <option value="">Choisir un type</option>
								  <option value="Congé">Congé</option>
								  <option value="Maladie">Maladie</option>
								  <option value="Non justifié">Non justifié</option>
								  <option value="Préparation papier">Préparation papier</option>
								  <option value="Problèmes familiaux">Problèmes familiaux</option>
							   </select>
							   
						  </div>	
						  <div style="margin-top: -14px" class="err" *ngIf="submitted && this.form.controls.type_absence.errors">
							<div style="color: red;" *ngIf="this.form.controls.type_absence.errors.required">
								  {{'champ obligatoire ' | translate}}  
							</div>
						</div>
					  </div>
				  </div>

				  <div class="col-md-6">
					  <div class="form-group">    
						  <label class="form-label">Date début*</label>
						  <div class="wd-200 mg-b-30">
							  <div class="input-group">
								  <div class="input-group-prepend">
								  </div>
								  <input class="form-control"  placeholder="DD/MM/YYYY" type="date" style="font-size:14px;" name="date_debut" formControlName="date_debut">
							  </div>
							  <div class="err" *ngIf="submitted && this.form.controls.date_debut.errors">
								<div style="color: red;" *ngIf="this.form.controls.date_debut.errors.required">
									  {{'champ obligatoire ' | translate}}  
								</div>
							</div>
						  </div>
					  </div>
				  </div>

				  <div class="col-md-6">
					  <div class="form-group">
						  <label class="form-label">Date fin*</label>
						  <div class="wd-200 mg-b-30">
							  <div class="input-group">
								  <div class="input-group-prepend">
								  </div><input class="form-control" placeholder="DD/MM/YYYY"style="font-size:14px" type="date" name="date_fin" formControlName="date_fin">
							  </div>
							  <div class="err" *ngIf="submitted && this.form.controls.date_fin.errors">
								<div style="color: red;" *ngIf="this.form.controls.date_fin.errors.required">
									  {{'champ obligatoire' | translate}}  
								</div>
							</div>
						  </div>
					  </div>
				  </div>

				  <div class="col-md-10">
					  <div class="form-group">
						  <label class="form-label">Remarques</label>
						  <textarea rows="5" class="form-control" style="font-size:14px;" name="remarques"  formControlName="remarque"></textarea>
					  </div>
					  
				  </div>
			  </div>	
		  </div>

		  <div class="card-footer" style="margin-top: 7px;">
					 <button type="submit" class="btn" style="background: #198754;color: white;" id="button_edit" (click)="AddAbsence()">  Ajouter </button>
		<button type="button" class="btn btn-danger" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">Annuler</button>
		  </div>
	  </form>	
  </div>