<!-- <div class="modal-dialog modal-lg">

  </div> -->
  <div class="modal-content"  style="padding: 10px;border: none;padding-top: 0;">
	<div class="modal-header" >
	  <h5 class="modal-title" id="exampleModalLabel" style="font-size: 13px;">{{'Ajouter absence moniteur'| translate}}{{" "}}{{title| translate}}</h5>
	  <button type="button" style="border: none;background: white;" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">×</span>
	  </button>
	</div>
	<form class="form" [formGroup]="form"  method="POST"   enctype="multipart/form-data">
		  <div class="card-body">
			  <p style="color: red; font-weight: bold;font-size: 13px;">(*){{'Champs obligatoire'| translate}}</p>
			 
			  <div class="row">
				  <div class="col-md-6">
					  <div class="form-group">      
						  <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Moniteur'| translate}}<span style="color:red">*</span></label>
						  <select name="employe" class="form-control" style="font-size:13px;" formControlName="moniteur_id">
							  <option value="" style="font-size: 13px;font-weight: 400;">{{'Choisir un moniteur'| translate}}{{title| translate}}</option>  
							  <option *ngFor="let data of loadMoniteurs;" value="{{data?.id}}">
                                {{data?.nom}}{{" "}}{{data?.prenom}}
                            </option>
							
						  </select>
						  <div class="err" *ngIf="submitted && this.form.controls.moniteur_id.errors">
							<div style="color: red;" *ngIf="this.form.controls.moniteur_id.errors.required">
								  {{'champ obligatoire ' | translate}}  
							</div>
						</div>
					  </div>
				  </div>

				  <div class="col-md-6">
					  <div class="form-group">
						  <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Type absence'| translate}}<span style="color:red">*</span></label>
						  <div class="input-group mb-3">
							  <select id="type5" name="type_absence" style="font-size:13px;" class="form-control" formControlName="type_absence">
								  <option value="" style="font-size: 13px;font-weight: 400;"> {{'Choisir un type'| translate}}</option>
								  <option value="Congé" style="font-size: 13px;font-weight: 400;">{{'Congé'| translate}}</option>
								  <option value="Maladie" style="font-size: 13px;font-weight: 400;">{{'Maladie'| translate}}</option>
								  <option value="Non justifié" style="font-size: 13px;font-weight: 400;">{{'Non justifié'| translate}}</option>
								  <option value="Préparation papier" style="font-size: 13px;font-weight: 400;">{{'Préparation papier'| translate}}</option>
								  <option value="Problèmes familiaux" style="font-size: 13px;font-weight: 400;">{{'Problèmes familiaux'| translate}}</option>
							   </select>
							   
						  </div>	
						  <div style="margin-top: -14px" class="err" *ngIf="submitted && this.form.controls.type_absence.errors">
							<div style="color: red;" *ngIf="this.form.controls.type_absence.errors.required">
								  {{'champ obligatoire ' | translate}}  
							</div>
						</div>
					  </div>
				  </div>

				  <div class="col-md-6">
					  <div class="form-group">    
						  <label class="form-label " style="font-size: 13px;font-weight: 400;">{{'Date début'| translate}}<span style="color:red">*</span></label>
						  <div class="wd-200 mg-b-30">
							  <div class="input-group">
								  <div class="input-group-prepend">
								  </div>
								  <input class="form-control"  placeholder="DD/MM/YYYY" type="date" style="font-size:13px;" name="date_debut" formControlName="date_debut">
							  </div>
							  <div class="err" *ngIf="submitted && this.form.controls.date_debut.errors">
								<div style="color: red;" *ngIf="this.form.controls.date_debut.errors.required">
									  {{'champ obligatoire ' | translate}}  
								</div>
							</div>
						  </div>
					  </div>
				  </div>

				  <div class="col-md-6">
					  <div class="form-group">
						  <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Date fin'| translate}}<span style="color:red">*</span></label>
						  <div class="wd-200 mg-b-30">
							  <div class="input-group">
								  <div class="input-group-prepend">
								  </div><input class="form-control" placeholder="DD/MM/YYYY"style="font-size:13px" type="date" name="date_fin" formControlName="date_fin">
							  </div>
							  <div class="err" *ngIf="submitted && this.form.controls.date_fin.errors">
								<div style="color: red;" *ngIf="this.form.controls.date_fin.errors.required">
									  {{'champ obligatoire' | translate}}  
								</div>
							</div>
						  </div>
					  </div>
				  </div>

				  <div class="col-md-10">
					  <div class="form-group">
						  <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Remarques'| translate}}<span style="color:red">*</span></label>
						  <textarea rows="5" class="form-control" style="font-size:13px;" name="remarques"  formControlName="remarque"></textarea>
					  </div>
					  <div class="err" *ngIf="submitted && this.form.controls.remarque.errors">
						<div style="color: red;" *ngIf="this.form.controls.remarque.errors.required">
							  {{'champ obligatoire' | translate}}  
						</div>
					</div>
				  </div>
			  </div>	
		  </div>

		  <div class="card-footer" style="margin-top: 7px;">
					 <button type="submit" class="btn" style="background: #198754;color: white;" id="button_edit" (click)="AddAbsence()">  {{'Ajouter'| translate}} </button>
		<button type="button" class="btn btn-danger" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">{{'Annuler'| translate}}</button>
		  </div>
	  </form>	
  </div>