<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Gestion Auto-écoles-J2HB PLUS Editeur sécurité Routière</title>
</head>
<body style=" background:rgb(251, 251, 252);" id="boutique">
	<!-- <app-headerlogged></app-headerlogged> -->
    <!-- <app-menu-admin></app-menu-admin> -->
    <app-slide-bar></app-slide-bar>
    <div class="container-dashboard-body" style="max-width: 100%;margin-top: 60px;margin-bottom: 10px;">
      <div style="display: flex;background:rgb(233, 236, 236);">
<div class="wrap-table100">
   
  <div class="tableDiv">

    <div class="mat-elevation-z8">
     
      <div style="margin-left: 6px;margin-right: 6px;padding: 10px;">
        <div style="font-size: 16px;font-weight: 600;">
          <div style="display: flex;align-items:center; justify-content:space-between;margin-bottom: 10px;">
            <div style="font-size: 14px;">GESTION AUTO-ÉCOLE
            </div>
            <div>
              <button style="outline:none;border:none;background:#05a8e9;color: white;border-radius: 5px;padding: 7px;">
                 <i class="fa fa-archive"></i>
                 Archives
              </button>
            </div>
        </div>
      <div class="tableDiv" >
          <!--  -->
        <div class="detail" id="newProduit" *ngIf="hiddingNewAbonnement">
            <div class="childNewProduit">
              <span style="padding-left: 10px;">Modifier Abonnement </span> 
                <hr>
                <div class="formulaire" >
                  <form [formGroup]="form"  method="POST" action="" id="register" 
                  enctype="multipart/form-data" style="margin-right: 10px;margin: 60px;" >
                  <!-- first row -->
                     <div class="row">
                      <div class="col-6">
                        <div class="form-group"> 
                            <label class="form-label">Prix*</label>
                            <input type="text" name="prix" class="form-control"  formControlName="prix">
                            <div class="err" *ngIf="submitted && this.form.controls.prix.errors">
                                <div style="color: red;" *ngIf="this.form.controls.prix.errors.required">
                                    {{'field required.' | translate}} 
                                </div>
                            </div>
                        </div>
                    </div>
                     </div>
                     <!-- second row -->
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group"> 
                              <label class="form-label">Date Debut</label> 
                              <input type="date"   name="date_debut" class="form-control" formControlName="date_debut"/>
                              <div class="err" *ngIf="submitted && this.form.controls.date_debut.errors">
                                  <div style="color: red;" *ngIf="this.form.controls.date_debut.errors.required">
                                      {{' field required.' | translate}} 
                                  </div>
                              </div>
                          </div>
                      </div>
                     
                     </div>
                     <div class="row">
                      <div class="col-6">
                          <div class="form-group"> 
                              <label class="form-label">Date Fin*   
                              </label>  
                              <input type="date" name="date_fin" class="form-control"  formControlName="date_fin">
                              <div class="err" *ngIf="submitted && this.form.controls.date_fin.errors">
                                  <div style="color: red;" *ngIf="this.form.controls.date_fin.errors.required">
                                      {{' field required.' | translate}} 
                                  </div>
                              </div>
                          </div>
                      </div>
                     </div>
                        <div> 
                          <button type="submit" class="ajouter" (click)="abonnement(idAbonnemet)" >{{action}}</button>
                          <button  class="fermer" style="color: white;" (click)="hiddingNewP(false)">Fermer</button>
                        </div>
                  </form>
                </div>
          
            </div>
          </div>
          <div style="display: flex;align-items:center;justify-content:flex-end">
            <div style="margin-right: 6px">  Rechercher:</div>
            <mat-form-field appearance="standard">
               <mat-label></mat-label>
               <input matInput (keyup)="applyFilter($event)" placeholder="... " #input>
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>    
      
          <!-- nom_auto_ecole Column ['nom_auto_ecole', 'date_debut', 'date_fin', 'prix','actions'];     --> 
          <ng-container matColumnDef="nom_auto_ecole">       
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nom_auto_ecole"> 
              <span style="font-weight:900;font-size: 11px;">NOM</span>    
            </th>
            <td mat-cell *matCellDef="let element">{{element?.nom_auto_ecole}}</td>
          </ng-container>
     
          <!-- responsable Column --> 
          <ng-container matColumnDef="responsable">  
            <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">RESPONSABLE</span></th>
            <td mat-cell *matCellDef="let element">{{element?.nom_responsable}}{{" "}}{{element?.prenom_responsable}} </td>
          </ng-container>

            <!-- etat Column -->  
            <ng-container matColumnDef="etat">  
              <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">ETAT</span>   </th>
              <td mat-cell *matCellDef="let element"><p style="background-color: rgb(0, 255, 13);color: white;">Approuvé</p></td>
            </ng-container> 

          <!-- telephone Column --> 
          <ng-container matColumnDef="telephone">  
            <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">TEL AUTO-ÉCOLE</span></th>
            <td mat-cell *matCellDef="let element">{{element?.telephone}} </td>
          </ng-container>

          
          <!-- tel_responsable Column --> 
          <ng-container matColumnDef="tel_responsable">   
            <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">TÉL DE GÉRANT(E)</span> </th>
            <td mat-cell *matCellDef="let element">{{element?.tel_responsable}}</td>
          </ng-container>
      
          <!-- pays Column -->
          <ng-container matColumnDef="pays">  
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;font-size: 11px;">PAYS/VILLE</span> </th>
            <td mat-cell *matCellDef="let element">{{element?.pays}}/{{element?.ville}}</td>
          </ng-container>   
         <!-- actions Column -->
         <ng-container matColumnDef="actions">  
          <th mat-header-cell *matHeaderCellDef><span style="font-weight:900;font-size: 11px;">ACTIONS</span>  </th>
          <td mat-cell *matCellDef="let element"> 

            <a  routerLink="/detail-auto-ecole/{{element?.id}}"  title="detail" class="btn" style="border-color:rgb(3, 197, 245); background: rgb(3, 197, 245);color: white;padding: 8px;">Detail</a>

            <button title="Contrat"class="btn" style="background: rgb(24, 235, 5);color: white;padding: 8px;" (click)="contrat(element)">Contrat</button> 

            <button title="approver" *ngIf="element?.etat === 'en_attente'" (click)="approver(element?.id)"  class="btn" style="background: orange;color: white;padding: 8px;">Approver</button>  
      
            <button title="désapprouver" *ngIf="element?.etat === 'approuve'" (click)="desapprover(element?.id)"   class="btn" style="background: orange;color: white;padding: 8px;">Desapprouver</button> 

            <button (click)="deleteAutoEcole(element?.id)" title="supprimer" class="btn" style="background: black;color: white;padding: 8px;">Supprimer</button>

            <button title="abonnement" (click)="open(element?.abonnement, 'Abonnement')"  class="btn" style="background: orange;color: white;padding: 8px;">Abonnement</button> 

          </td>
        </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator 
        [length]="n" 
        [pageSize]="5"  
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
      </div>
        </div>
    </div>   
      </div>
  </div>
</div>
      </div>
   </div>
</body>
</html>