
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <title>Gestion Auto-écoles-J2HB PLUS Editeur sécurité Routière</title>
</head>
<body style=" background:rgb(251, 251, 252);">
	<app-headerlogged></app-headerlogged>
    <app-menu-slide></app-menu-slide>
    <div class="container-dashboard-body" style="max-width: 100%;margin-top: 60px;margin-bottom: 10px;">
        <!-- first container -->
      <div style=" display: flex;background:rgb(233, 236, 236);padding: 20px;">
      
        <div class="container-form col-12">
            <div class="container">
                <section class="content" id="form-font">
                    <div style="display: flex;align-items: center;justify-content: space-between;margin-left: 20px;margin-right: 20px;">
                        <span>NOUVEL EMPLOYÉ
                        </span>
                        <a href="/listes-utilisateurs" style="border-radius: 5px; color: white;text-decoration: none; background: #198754;border: 1px solid #198754; padding: 5px;">Listes des utilisateurs</a>
                    </div>
                    <hr style="color: #b8babb;">
                    <span style="margin-left: 10px; color: red;">(*) Champs obligatoire</span>
                    <form class="form" [formGroup]="form" (ngSubmit)="addUtilisateur()" method="POST" action="" id="addUtilisateur" 
                    enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="city-column">{{ "Type" | translate }}:</label>
                                    <select id="type" name="employe_id" class="form-control input-class" formControlName="employe_id">
                                        <option value="">Choisir un employe</option>
                                        <option value="Directeur">emloyee 1</option>
                                        <option value="Directeur">emloyee 2</option>
                                    </select>
                                    <div class="err" *ngIf="submitted && this.form.controls.employe_id.errors">
                                        <div style="color: red;" *ngIf="this.form.controls.employe_id.errors.required">
                                              {{'field required ' | translate}}  
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="city-column">{{ "Type" | translate }}:</label>
                                    <select id="type" name="type_employe" class="form-control input-class" formControlName="type">
                                        <option value="">Choisir un type</option>
                                        <option value="Directeur">Directeur</option>
                                        <option value="Secretaire">Secretaire</option>
                                    </select>
                                    <div class="err" *ngIf="submitted && this.form.controls.type.errors">
                                        <div style="color: red;" *ngIf="this.form.controls.type.errors.required">
                                              {{'field required ' | translate}}  
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="city-column">{{ "Login" | translate }}:</label>
                                    <input type="text" id="login" name="login" class="form-control input-class" formControlName="login">
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.login.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.login.errors.required">
                                          {{'field required ' | translate}}  
                                    </div>
    
                                </div>
                            </div> 
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="city-column">{{ "Mot de Passe" | translate }}:</label>
                                    <input placeholder="Mot de Passe" type="text" id="appt" name="appt" class="form-control input-class" formControlName="mot_pass">
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.mot_pass.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.mot_pass.errors.required">
                                          {{'field required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <button class="btn next-btn" id="button1-fnt"  (click)="addUtilisateur()">
                            <i class="fa fa-plus"></i>
                            <span > {{ "Ajouter" | translate }}</span>
                            
                        </button>
                    </div>
                </div>
            </div>
            </div>



      </div>
                        <div class="row examen-vehicule" style="margin-left: 0;margin-right:0;background: #e8eeea;">
            
                   <footer class="footer">

                    <div class="container">
                        <div class="row align-items-center flex-row-reverse">
                            <div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center">
                                Copyright © {{dateVal | date: 'yyyy'}} <a>G2HB Plus</a>.
                            </div>
                        </div>
                    </div>
                </footer>
                      </div>
                  
   </div>
      
   <script>
    $(document).ready(function()
        {
        $('#permisoui').change(function() 
        {
            if(this.checked === true)
            {
                document.getElementById('permis').style.display =  'block' ;
            }
        });   
        });
</script>

</body>
</html>
<!-- 
     -->