
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <title>Gestion Auto-écoles-J2HB PLUS Editeur sécurité Routière</title>
</head>
<body style=" background:rgb(251, 251, 252);">
    <app-headerlogged></app-headerlogged>
    <app-menu-sb></app-menu-sb>
    <div class="container-dashboard-body" style="max-width: 100%;margin-top: 60px;margin-bottom: 10px;">
        <!-- first container -->
      <div style=" display: flex;background:rgb(233, 236, 236);padding: 20px;">
        <form class="form" [formGroup]="form" (ngSubmit)='AjoutePresence()'  method="POST" action="" 
        enctype="multipart/form-data">
            <div class="container-form col-12">
                <div class="container">
                    <section class="content" id="form-font">       
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="first-name-column">{{ "Heure Debut" | translate }} :</label>
                                        <input type="time" id="appt" name="appt" class="form-control input" formControlName='heure_debut'>
                                    </div>
                                    <div class="err" *ngIf="submitted && this.form.controls.heure_debut.errors">
                                        <div style="color: red;" *ngIf="this.form.controls.heure_debut.errors.required">
                                              {{'field required ' | translate}}  
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6"> 
                                    <div class="form-group">
                                        <label for="city-column">{{ "Heure Fin" | translate }}:</label>
                                        <input type="time" id="appt" name="appt" class="form-control input" formControlName='heure_fin'>    
                                    </div>
                                    <div class="err" *ngIf="submitted && this.form.controls.heure_fin.errors">
                                        <div style="color: red;" *ngIf="this.form.controls.heure_fin.errors.required">
                                              {{'field required ' | translate}}  
                                        </div>
        
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="city-column">{{ "Moniteur" | translate }}:</label>
                                        <input type="text" id="appt" name="appt" class="form-control input" formControlName='moniteur_theorique_id'>    
                                    </div>
                                    <div class="err" *ngIf="submitted && this.form.controls.moniteur_theorique_id.errors">
                                        <div style="color: red;" *ngIf="this.form.controls.moniteur_theorique_id.errors.required">
                                              {{'field required ' | translate}}  
                                        </div>
        
                                    </div>
                                </div>
                                
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="last-name-column">{{ "Categorie" | translate }}:</label>
                                        <input type="text" id="appt" name="appt" class="form-control input" formControlName='categorie'>
                                    </div>
                                    <div class="err" *ngIf="submitted && this.form.controls.categorie.errors">
                                        <div style="color: red;" *ngIf="this.form.controls.categorie.errors.required">
                                              {{'field required ' | translate}}  
                                        </div>
                                    </div>
                                </div>
                                <div  style="height: 60px;display: flex;flex-direction: column;margin-left: 10px;padding-right: 20px;">
                                    <table class="table table-candidats">
                                      <thead>
                                        <tr>
                                          <th scope="col">CANDIDAT</th>
                                          <th scope="col">PRESENT / ABSENT</th>
                                        </tr>
                                      </thead>
                                      <tbody style="height:100px;">
                                        <tr *ngFor="let data of candidats">
                                          <td>{{data[1]}}</td>

                                          <td>
                                         
                                            <div *ngIf="checkedorNot[data[0]] === 'A'">
                                                <input type="checkbox" id="check" style="height: 15px;" 
                                                (click)="checkBoxValue($event, data[0])">
                                            </div>
                                            <div *ngIf="checkedorNot[data[0]] === 'P'">
                                                <input type="checkbox" id="check" style="height: 15px;" 
                                                (click)="checkBoxValue($event, data[0])" checked>
                                            </div>
                                              
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                            </div>
                     
                    </section>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-3 ajouterfermer">
                            <!-- (click)="AddVehicule()" -->
                            <button style="margin-right: 10px; background: #0ca930;" class="btn next-btn" id="button1-fnt" type="submit" >
                               Ajouter
                            </button>
                        </div>
                    </div>
                </div>
                </div>
            </form>
  


      </div>
                        <div class="row examen-vehicule" style="margin-left: 0;margin-right:0;background: #e8eeea;">
            
                  
                      </div>
                  
   </div>
      
  
</body>
</html>

