<!doctype html>
<html lang="fr">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="Job board html template">
        <meta name="Author" content="Spruko Technologies Private Limited">
        <meta name="keywords" content=""/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <link rel="icon" href="/assets/img/logo.png" type="image/x-icon"/>
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/logo.png" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
        <!-- Font-awesome  Css -->
        <!-- <link href="https://gestionautoecole.com/css/icons.css" rel="stylesheet"/> -->
        <link href="/assets/css/font-awesome.min.css" rel="stylesheet"/>
        <!-- Title -->
        <title>Gestion Auto-écoles - J2HB Plus Editeur de la securité routiére au maroc.</title>
        <!-- Réalisation Yancom Création <a href="www.yancom-creation.com" target="_blank">Yancom Création</a> -->

        <link href="https://gestionautoecole.com/fi/css/flag-icons.min.css" rel="stylesheet" />
        <script>window.lang = "fr";</script>
        <script>window.appUrl = "https://gestionautoecole.com/fr";</script>
        <script>
            window.appRoute = function(name) {
                return `${window.appUrl}/${name}`;
            }
        </script>
		<!-- Bootstrap Css -->
                    <link href="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Dashboard Css -->
        <link href="https://gestionautoecole.com/css/style.css" rel="stylesheet" />

                

        <!--Horizontal Menu-->
        <link href="https://gestionautoecole.com/plugins/horizontal/horizontal-menu/animation/fade-down.css" rel="stylesheet" />
        <link href="https://gestionautoecole.com/plugins/horizontal/horizontal-menu/horizontal.css" rel="stylesheet" />

        <!--Select2 Plugin -->
        <link href="https://gestionautoecole.com/plugins/select2/select2.min.css" rel="stylesheet" />

        <!-- Time picker Plugin -->
        <!-- <link href="https://gestionautoecole.com/plugins/time-picker/jquery.timepicker.css" rel="stylesheet" /> -->

        <!-- Date Picker Plugin -->
        <link href="https://gestionautoecole.com/plugins/date-picker/spectrum.css" rel="stylesheet" />
        
        <!-- file Uploads -->
        <link href="https://gestionautoecole.com/plugins/fileuploads/css/dropify.css" rel="stylesheet" type="text/css" />

        <!-- jquery ui RangeSlider -->
        <link href="https://gestionautoecole.com/plugins/jquery-uislider/jquery-ui.css" rel="stylesheet">
        <!-- font style -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet"> 
        <!-- Owl Theme css-->
        <link href="https://gestionautoecole.com/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />

        <!-- Custom scroll bar css-->
        <link href="https://gestionautoecole.com/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

        <!-- Accordion Css -->
        <link href="https://gestionautoecole.com/plugins/accordion/accordion.css" rel="stylesheet" />
       
        <!-- Custom Css -->
       <link href="https://gestionautoecole.com/css/custom.css" rel="stylesheet" />

        <!-- Tags Input -->
        <link href="https://gestionautoecole.com/css/bootstrap-tagsinput.css" rel="stylesheet" />

        <!-- Color-Skins -->
        <link rel="stylesheet" media="all" href="https://gestionautoecole.com/color-skins/color10.css" />
        
        <!-- JQuery js-->
        <script src="https://gestionautoecole.com/js/jquery-3.5.1.js"></script>
        <script src="https://gestionautoecole.com/js/vendors/jquery-3.2.1.min.js"></script>
        <script src="https://gestionautoecole.com/js/validate/jquery.validate.js" ></script>
        <script src="https://gestionautoecole.com/js/validate/login.js"></script>
        <script src="https://gestionautoecole.com/js/validate/register.js"></script>
</head>

    <body class="bg-white">
        <style>

 
.form-section{
    padding-left: 15px;
    display: none;
}

.form-section.current
{
    display: block;
}

/* .btn-success
{
    margin-left: 20px;
} */
/* .btn-info, .btn-success
{
    margin-top: 10px;
    font-size: 1rem;
} */

.form-label {
    font-size: 20px;
}

.form-navigation
{
    text-align: center;
}

.modal h5
{
    font-size: 40px;
    font-weight: 700;
}

#registerMission
{
    display: none;
}
#loginMission
{
 display: none;   
}




.parsley-required,.parsley-type
{
    margin: 2px 0px 3px;
    padding: 0;
    list-style-type: none;
    color: red;
}

</style>
    
        <script src="https://gestionautoecole.com/js/validate/register.js" ></script>
<script src="https://gestionautoecole.com/js/validate/show-pass.js" ></script>
<style type="text/css">
    hr{
        width: 70% !important;
    }
    label{
        font-size: 13px !important;
    }
    #view_eye{display:none;}
</style>
<!--Header Main-->
<div class="header-main" id="top_scroll" style="display: flex;align-items: center;justify-content: center;margin-top: 30px;">
 
    <div class="desktoplogo d-flex align-content-center">
        <a routerLink="/" >
            <img width="200px" height="50px" src="/assets/img/logo_gae.png" alt=""></a>
    </div>

</div>
<!--/Header Main-->

<!--Page-->
 <div class="page custom-pages" style="margin-top:-215px" >
    <div class="page-content z-index-10">
        <div class="container">
            <div class="row">
                <div style="margin-top: 170px;margin-bottom: 600px;margin-bottom: 0;" class="card">
                      <div *ngIf="form.invalid" style="display: flex;align-items:center;justify-content:end;" id="btnalert">
                        <button type="button" style="background: white;border: none;" onclick="document.getElementById('alertid').style.display='none';document.getElementById('btnalert').style.display='none'" >
                            <span aria-hidden="true">×</span>
                         </button>
                       </div>
                  <ul style="margin-top: 3px" id="alertid">
                    <!-- error alert -->
                      <li *ngIf="email_exist_in_data_base" class="bg-danger text-white"  role="alert">
                        {{email_exist_in_data_base}}!
                      </li>
                      <!-- image -->
                      <li *ngIf="submitted && this.form.controls.image.errors" class="bg-danger text-white"  role="alert" >
                        <div style="color: white;" *ngIf="this.form.controls.image.errors.required">
                            {{'Logo  obligatoire ' | translate}}
                        </div>
                      </li>
                      <!-- nom auto ecole -->
                      <li *ngIf="submitted && this.form.controls.nom_auto_ecole.errors" class="bg-danger text-white"  role="alert" >
                        <div style="color: white;" *ngIf="this.form.controls.nom_auto_ecole.errors.required">
                              {{'Nom auto ecole  obligatoire ' | translate}}  
                        </div>
                      </li>
                      <li *ngIf="submitted && this.form.controls.date_ouverture.errors" class="bg-danger text-white"  role="alert" >
                        <div style="color: white;" *ngIf="this.form.controls.date_ouverture.errors.required">
                              {{'date ouverture  obligatoire ' | translate}}  
                        </div>

                    </li>
                    <li *ngIf="submitted && this.form.controls.n_register_de_commerce.errors" class="bg-danger text-white"  role="alert">
                        <div style="color: white;" *ngIf="this.form.controls.n_register_de_commerce.errors.required">
                              {{'Registre commerce obligatoire ' | translate}}  
                        </div>
                    </li>
                    <div *ngIf="submitted && this.form.controls.identification_fiscale.errors" class="bg-danger text-white"  role="alert" >
                        <div style="color: white;" *ngIf="this.form.controls.identification_fiscale.errors.required">
                              {{'ident fiscale obligatoire ' | translate}}  
                        </div>
                    </div>
                    <div *ngIf="submitted && this.form.controls.n_agrement.errors" class="bg-danger text-white"  role="alert" >
                        <div style="color: white;" *ngIf="this.form.controls.n_agrement.errors.required">
                              {{'N. Agrement obligatoire' | translate}}  
                        </div>
                    </div>
                    <div *ngIf="submitted && this.form.controls.n_agrement.errors" class="bg-danger text-white"  role="alert" >
                        <div style="color: white;" *ngIf="this.form.controls.n_agrement.errors.required">
                              {{'N. Agrement obligatoire' | translate}}  
                        </div>

                    </div>
                    <div  *ngIf="submitted && this.form.controls.n_patente.errors" class="bg-danger text-white"  role="alert" >
                        <div style="color: white;" *ngIf="this.form.controls.n_patente.errors.required">
                              {{' N. patente obligatoire.' | translate}}  
                        </div>

                    </div>
                    <div  *ngIf="submitted && this.form.controls.image_rc.errors" class="bg-danger text-white"  role="alert" >
                        <div style="color: white;" *ngIf="this.form.controls.image_rc.errors.required">
                            {{'image RC obligatoire ' | translate}}
                        </div>
                        <span style="color: white;"  *ngIf="this.form.controls.image_rc.status === 'INVALID' && this.form.controls.image_rc.touched">{{' extension  .jpeg, .jpg, .png' | translate}} </span>
                    </div>
                    <div *ngIf="submitted && this.form.controls.image_agrement.errors" class="bg-danger text-white"  role="alert" >
                        <div style="color: white;" *ngIf="this.form.controls.image_agrement.errors.required">
                            {{'Image agrement obligatoire ' | translate}}
                        </div>
                   
                    </div>
                    <div  *ngIf="submitted && this.form.controls.n_cnss.errors" class="bg-danger text-white"  role="alert" >
                        <div style="color: white;" *ngIf="this.form.controls.n_cnss.errors.required">
                            {{'N. Cnss obligatoire.' | translate}} 
                        </div>
                    </div>
                    <div  *ngIf="submitted && this.form.controls.ice.errors" class="bg-danger text-white"  role="alert" >
                        <div style="color: white;" *ngIf="this.form.controls.ice.errors.required" >
                            {{'Ice obligatoire.' | translate}} 
                        </div>
                    </div>
                    <div  *ngIf="submitted && this.form.controls.n_compte_bancaire.errors" class="bg-danger text-white"  role="alert" >
                        <div style="color: white;" *ngIf="this.form.controls.n_compte_bancaire.errors.required">
                            {{' N. compte bancaire obligatoire.' | translate}} 
                        </div>

                    </div>
                    <div  *ngIf="submitted && this.form.controls.tva.errors" class="bg-danger text-white"  role="alert" >
                        <div style="color: white;" *ngIf="this.form.controls.tva.errors.required">
                            {{' Tva obligatoire.' | translate}} 
                        </div>

                    </div>
                    <div  *ngIf="submitted && this.form.controls.pays.errors" class="bg-danger text-white"  role="alert" >
                        <div style="color: white;" *ngIf="this.form.controls.pays.errors.required">
                            {{' pays obligatoire.' | translate}} 
                        </div>

                    </div>
                    <div  *ngIf="submitted && this.form.controls.telephone.errors" class="bg-danger text-white"  role="alert" >
                        <div style="color: white;" *ngIf="this.form.controls.telephone.errors.required || this.form.controls.telephone.status === 'INVALID'">
                            {{' Telephone obligatoire.' | translate}} 
                        </div>
                    </div>
                    <div  *ngIf="submitted && this.form.controls.ville.errors" class="bg-danger text-white"  role="alert">
                        <div style="color: white;" *ngIf="this.form.controls.ville.errors.required"  >
                            {{' ville obligatoire.' | translate}} 
                        </div>

                    </div>
                    <div  *ngIf="submitted && this.form.controls.email.errors" class="bg-danger text-white"  role="alert">
                        <div style="color: white;" *ngIf="this.form.controls.email.errors.required">
                            {{' email obligatoire.' | translate}} 
                        </div>

                    </div>
                    <div  *ngIf="submitted && this.form.controls.password.errors" class="bg-danger text-white"  role="alert">
                        <div style="color: white;" *ngIf="this.form.controls.password.errors.required">
                            {{' password obligatoire.' | translate}} 
                        </div>

                    </div>
                    <div  *ngIf="submitted && this.form.controls.cin_responsable.errors" class="bg-danger text-white"  role="alert">
                        <div style="color: white;" *ngIf="this.form.controls.cin_responsable.errors.required">
                            {{' Cin obligatoire.' | translate}} 
                        </div>

                    </div>
                    <div  *ngIf="submitted && this.form.controls.nom_responsable.errors" class="bg-danger text-white"  role="alert">
                        <div style="color: white;" *ngIf="this.form.controls.nom_responsable.errors.required">
                            {{' Nom responsable obligatoire.' | translate}} 
                        </div>

                    </div>
                    <div  *ngIf="submitted && this.form.controls.prenom_responsable.errors" class="bg-danger text-white"  role="alert">
                        <div style="color: white;" *ngIf="this.form.controls.prenom_responsable.errors.required">
                            {{' Prenom responsable obligatoire.' | translate}} 
                        </div>

                    </div>
                    <div  *ngIf="submitted && this.form.controls.tel_responsable.errors" class="bg-danger text-white"  role="alert">
                        <div style="color: white;" *ngIf="this.form.controls.tel_responsable.errors.required || this.form.controls.tel_responsable.status === 'INVALID'">
                            {{' tel responsable obligatoire. ' | translate}} 
                        </div>
                    </div>
                    <div *ngIf="submitted && this.form.controls.image_cin.errors" class="bg-danger text-white"  role="alert">
                        <div style="color: white;" *ngIf="this.form.controls.image_cin.errors.required">
                            {{'image cin obligatoire ' | translate}}
                        </div>
                    </div>
                  </ul>
                   
                    <form [formGroup]="form"  method="POST" action=""  
                    enctype="multipart/form-data" >
                     <!-- spinner -->
                     <!-- <div *ngIf="!form.invalid && loadSpinner" style="position:fixed;z-index: 4000;margin-left: 40%;margin-top: 10%;" >
                        <div class="spinner-border text-danger"  role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                     </div> -->
                     <!-- end spinner -->
                     <div class="card-body"  style="background: white;">
                         <p style="color: red; font-weight: bold;font-size: 12px;">
                             {{'(*) Champs obligatoire' | translate}} </p>
                         <div class="row" >
                          
                             
                             <div class="col-3"  style="background: white;">
                                 <label>{{ "Logo de votre etablissement" | translate }}:</label>
                                 <div class="form-group">
                                     <input type="file"   class="form-control dropify" formControlName="image" (change)="fileChangeEvent($event, 'image')"
                                     data-allowed-file-extensions="jpeg jpg png"
                                      name="image" data-height="180"
                                     accept="image/*"
                                     required>
                                    <!-- <input type="file" class="dropify form-control"  name="image" data-height="180" accept=".jpg, .jpeg, .png" /> -->

                                 </div>

                                 <div class="err" *ngIf="submitted && this.form.controls.image.errors">
                                     <div style="color: red;" *ngIf="this.form.controls.image.errors.required">
                                         {{'Champ obligatoire ' | translate}}
                                     </div>
                                     <span style="color: red;"  *ngIf="this.form.controls.image.status === 'INVALID' && this.form.controls.image.touched">{{' extension  .jpeg, .jpg, .png' | translate}} </span>
                                 </div>

                                 <div class="err" *ngIf="submitted && this.form.controls.date_autorisation.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.date_autorisation.errors.required">
                                          {{'date autorisation obligatoire ' | translate}}  
                                    </div>
    
                                </div>
                             </div>
                           
                             <div class="col-md-3"  style="background: white;">
                                 <div class="form-group">
                                     <label class="form-label text-dark">{{'Nom Auto-école*' | translate}}</label>
                                     <input type="text" class="form-control input_shadow" name="nom_auto_ecole" value="" formControlName="nom_auto_ecole" required>
                                    
                                     <div class="err" *ngIf="submitted && this.form.controls.nom_auto_ecole.errors">
                                         <div style="color: red;" *ngIf="this.form.controls.nom_auto_ecole.errors.required">
                                               {{'Nom auto ecole is obligatoire ' | translate}}  
                                         </div>
            
                                     </div>
                                     <label class="form-label text-dark">{{'Date d\'Overture*' | translate}}</label>
                                     <div class="wd-200 mg-b-30">
                                         <div class="input-group">
                                           
                                             <input 
                                                 class="form-control input_shadow datepickerNoOfMonths do hasDatepicker" 
                                                 placeholder="DD/MM/YYYY" type="date" name="date_ouverture"
                                                  value="" id="dp1645567079409" formControlName="date_ouverture" required>
                                                 
                                              
                                         </div>
                                         <div class="err" *ngIf="submitted && this.form.controls.date_ouverture.errors">
                                             <div style="color: red;" *ngIf="this.form.controls.date_ouverture.errors.required">
                                                   {{'date ouverture  obligatoire ' | translate}}  
                                             </div>
             
                                         </div>
                                     </div>
            
                                     <label class="form-label text-dark"> {{'N. Registre de Commerce*' | translate}}</label>
                                     <input type="text" class="form-control input_shadow" name="n_register_de_commerce" value="" formControlName="n_register_de_commerce" required>
                                  
                                     <div class="err" *ngIf="submitted && this.form.controls.n_register_de_commerce.errors">
                                         <div style="color: red;" *ngIf="this.form.controls.n_register_de_commerce.errors.required">
                                               {{'Registre commerce obligatoire ' | translate}}  
                                         </div>
            
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-3"  style="background: white;">
                                 <div class="form-group">
                                     <label class="form-label text-dark">{{'Identification Fiscale*' | translate}}</label>
                                     <input type="text" class="form-control input_shadow" name="identification_fiscale" value="" formControlName="identification_fiscale" required>
                                    
                                     <div class="err" *ngIf="submitted && this.form.controls.identification_fiscale.errors">
                                         <div style="color: red;" *ngIf="this.form.controls.identification_fiscale.errors.required">
                                               {{'ident fiscale obligatoire ' | translate}}  
                                         </div>
            
                                     </div>
                                     <label class="form-label text-dark">{{'Date Autorisation*' | translate}}</label>
                                     <div class="wd-200 mg-b-30">
                                         <div class="input-group">
                                            
                                             <input 
                                                 class="form-control input_shadow datepickerNoOfMonths da hasDatepicker"
                                                 placeholder="DD/MM/YYYY" 
                                                 type="date" id="date autorisation"
                                                 name="date_autorisation" value="" formControlName="date_autorisation" required>
                                         </div>
                                         <div class="err" *ngIf="submitted && this.form.controls.date_autorisation.errors">
                                             <div style="color: red;" *ngIf="this.form.controls.date_autorisation.errors.required">
                                                   {{'date autorisation obligatoire ' | translate}}  
                                             </div>
             
                                         </div>
                                     </div>
            
                                     <label class="form-label text-dark">{{'N. Agrément*' | translate}}</label>
                                     <input type="text" class="form-control input_shadow" name="n_agrement" value=""  formControlName="n_agrement" required>
                                     
                                     <div class="err" *ngIf="submitted && this.form.controls.n_agrement.errors">
                                         <div style="color: red;" *ngIf="this.form.controls.n_agrement.errors.required">
                                               {{'N. Agrement obligatoire' | translate}}  
                                         </div>
            
                                     </div>
                                 </div>
                             </div>
            
                             <div class="col-md-3"  style="background: white;">
                                 <div class="form-group">
                                     <label class="form-label text-dark">{{'N. Patente*' | translate}}</label>
                                     <input type="text" class="form-control input_shadow" name="n_patente" value="" formControlName="n_patente" required>
                                   
                                     <div class="err" *ngIf="submitted && this.form.controls.n_patente.errors">
                                         <div style="color: red;" *ngIf="this.form.controls.n_patente.errors.required">
                                               {{' N. patente obligatoire.' | translate}}  
                                         </div>
            
                                     </div>
                                 </div>
                             </div>
                            
                             <div class="col-md-3"  style="background: white;">
                                 <label>{{ "Image de RC*" | translate }}:</label>
                                 <div class="form-group">
                                     <input type="file"    class="form-control dropify" (change)="fileChangeEvent($event, 'image_rc')"
                                     data-allowed-file-extensions="jpeg jpg png"
                                      name="image" data-height="180" 
                                     formControlName="image_rc"
                                     required>
                                    
                                 </div>
                                 <div class="err" *ngIf="submitted && this.form.controls.image_rc.errors">
                                     <div style="color: red;" *ngIf="this.form.controls.image_rc.errors.required">
                                         {{'Champ obligatoire ' | translate}}
                                     </div>
                                     <span style="color: red;"  *ngIf="this.form.controls.image_rc.status === 'INVALID' && this.form.controls.image_rc.touched">{{' extension  .jpeg, .jpg, .png' | translate}} </span>
                                 </div>
                             </div>
                            
                                <div class="col-md-3">
                                 <label>{{ "Image de N. Agrément*" | translate }}:</label>
                                 <div class="form-group">
                                     <input type="file"   class="form-control dropify" (change)="fileChangeEvent($event, 'image_agrement')"
                                     data-allowed-file-extensions="jpeg jpg png"
                                     data-height="180"
                                     formControlName="image_agrement"
                                     required>
                                    
                                 </div>
                                 <div class="err" *ngIf="submitted && this.form.controls.image_agrement.errors">
                                     <div style="color: red;" *ngIf="this.form.controls.image_agrement.errors.required">
                                         {{'Champ obligatoire ' | translate}}
                                     </div>
                                     <span style="color: red;"  *ngIf="this.form.controls.image_agrement.status === 'INVALID' && this.form.controls.image_agrement.touched">{{' extension  .jpeg, .jpg, .png' | translate}} </span>
                                 </div>
                             </div>
                          
                         </div>
                         <hr  style="background: white;">
                         <div class="row"  style="background: white;">
                             <div class="col-md-3">
                                 <div class="form-group">
                                     <label class="form-label text-dark">{{'N. CNSS*' | translate}}</label>
                                     <input type="text" class="form-control input_shadow" name="n_cnss" value="" formControlName="n_cnss" required>
                                         <div class="err" *ngIf="submitted && this.form.controls.n_cnss.errors">
                                             <div style="color: red;" *ngIf="this.form.controls.n_cnss.errors.required">
                                                 {{'N. Cnss obligatoire.' | translate}} 
                                             </div>
                 
                                         </div>
                                 </div>
                             </div>
            
                             <div class="col-md-3"  style="background: white;">
                                 <div class="form-group">
                                     <label class="form-label text-dark">{{'ICE*' | translate}}</label>
                                     <input type="text" class="form-control input_shadow" name="ice" value="" formControlName="ice" required>
                                     <div class="err" *ngIf="submitted && this.form.controls.ice.errors">
                                         <div style="color: red;" *ngIf="this.form.controls.ice.errors.required">
                                             {{'Ice obligatoire.' | translate}} 
                                         </div>
             
                                     </div>
                                 </div>
                             </div>
            
                             <div class="col-md-3"  style="background: white;">
                                 <div class="form-group">
                                     <label class="form-label text-dark">{{'Compte Bancaire*' | translate}}</label>
                                     <input type="text" class="form-control input_shadow" name="n_compte_bancaire" value="" formControlName="n_compte_bancaire" required>
                                     <div class="err" *ngIf="submitted && this.form.controls.n_compte_bancaire.errors">
                                         <div style="color: red;" *ngIf="this.form.controls.n_compte_bancaire.errors.required">
                                             {{' N. compte bancaire obligatoire.' | translate}} 
                                         </div>
             
                                     </div>
                                 </div>
                             </div>
            
                             <div class="col-md-3" style="background: white;">
                                 <div class="form-group">
                                     <label class="form-label text-dark">{{'TVA*' | translate}}</label>
                                     <input type="number" class="form-control input_shadow" name="tva" value="" formControlName="tva" required>
                                     <div class="err" *ngIf="submitted && this.form.controls.tva.errors">
                                         <div style="color: red;" *ngIf="this.form.controls.tva.errors.required">
                                             {{' Tva obligatoire.' | translate}} 
                                         </div>
             
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <hr  style="background: white;">
                         <div class="row"  style="background: white;">
                             <div class="col-md-3">
                                 <div class="form-group">
                                     <label class="form-label text-dark">{{'Pays*' | translate}}</label>
                                     <input type="text" class="form-control input_shadow" name="pays" value=""  formControlName="pays" required>
                                     <div class="err" *ngIf="submitted && this.form.controls.pays.errors">
                                         <div style="color: red;" *ngIf="this.form.controls.pays.errors.required">
                                             {{' pays obligatoire.' | translate}} 
                                         </div>
             
                                     </div>
                                     <label class="form-label text-dark">{{'Téléphone*' | translate}}</label>
                                     <input type="text" class="form-control input_shadow" name="telephone" value="" formControlName="telephone" required>
                                     <div class="err" *ngIf="submitted && this.form.controls.telephone.errors">
                                         <div style="color: red;" *ngIf="this.form.controls.telephone.errors.required || this.form.controls.telephone.status === 'INVALID'">
                                             {{' Telephone obligatoire.non valide' | translate}} 
                                         </div>
                                         <!-- <span style="color: red;"  *ngIf="this.form.controls.telephone.status === 'INVALID'">
                                            {{'telephone non valide' | translate}} </span> -->
                                     </div>
                                 </div>
                             </div>
            
                             <div class="col-md-3"  style="background: white;">
                                 <div class="form-group">
                                     <label class="form-label text-dark">{{'Ville*' | translate}}</label>
                                     <input type="text" class="form-control input_shadow" name="ville" value="" formControlName="ville" required>
                                     <div class="err" *ngIf="submitted && this.form.controls.ville.errors">
                                         <div style="color: red;" *ngIf="this.form.controls.ville.errors.required">
                                             {{' ville obligatoire.' | translate}} 
                                         </div>
             
                                     </div>
                                     <label class="form-label text-dark">{{'Fax' | translate}}</label>
                                     <input type="text" class="form-control input_shadow" name="fax" value="" formControlName="fax" >
                                 
                                     
                                 </div>
                             </div>
            
                             <div class="col-md-6"  style="background: white;">
                                 <div class="form-group">
            
                                     <label class="form-label text-dark">{{'email*' | translate}}</label>
                                     <input formControlName="email" type="email" class="form-control input_shadow" (change)="setError()"  required />
                                     <span style="color: red;">{{this.email_exist_in_data_base}}</span>
                                     <div class="err" *ngIf="submitted && this.form.controls.email.errors">
                                         <div style="color: red;" *ngIf="this.form.controls.email.errors.required">
                                             {{' email obligatoire.' | translate}} 
                                         </div>
             
                                     </div>
                                
                                    <label class="form-label text-dark">{{'password*' | translate}}</label>
                                    <input formControlName="password" type="password" class="form-control input_shadow ng-untouched ng-pristine ng-invalid"  i18n="password"  required />
                                    <div class="err" *ngIf="submitted && this.form.controls.password.errors">
                                        <div style="color: red;" *ngIf="this.form.controls.password.errors.required">
                                            {{' password obligatoire.' | translate}} 
                                        </div>
            
                                    </div>
                                  
                                 </div>
                            
                             </div>
            
                             <div class="col-md-6"  style="background: white;">
                                 <div class="form-group">
                                 <label class="form-label  text-dark" style="display: flex;align-items: center;">{{'Adresse' | translate}}</label>
                                     <textarea 
                                         rows="5" 
                                         class="form-control input_shadow" 
                                         name="adresse" 
                                         value="" 
                                         formControlName="adresse"
                                     >
            
                                     </textarea>
                                     <label  style="background: white;" class="form-label text-dark">{{'Site Web' | translate}}</label>
                                  
                                     <input formControlName="site_web" name="site_web" type="text" class="form-control input_shadow"  i18n="site_web"/>
                                 </div>
                             </div>
                         </div>
                         <hr>
                         <div class="row"  style="background: white;">
                             <div class="col-md-3">
                                 <div class="form-group">
                                     <label class="form-label text-dark">{{'Cin de Résponsable*' | translate}}</label>
                                     <input type="text" class="form-control input_shadow" name="cin_responsable" value="" formControlName="cin_responsable" required>
                                     <div class="err" *ngIf="submitted && this.form.controls.cin_responsable.errors">
                                         <div style="color: red;" *ngIf="this.form.controls.cin_responsable.errors.required">
                                             {{' Cin obligatoire.' | translate}} 
                                         </div>
             
                                     </div>
                                 </div>
                             </div>
            
                             <div class="col-md-3"  style="background: white;">
                                 <div class="form-group">
                                     <label class="form-label text-dark">{{'Nom de Résponsable*' | translate}}</label>
                                     <input type="text" class="form-control input_shadow" name="nom_responsable" value="" formControlName="nom_responsable" required>
                                     <div class="err" *ngIf="submitted && this.form.controls.nom_responsable.errors">
                                         <div style="color: red;" *ngIf="this.form.controls.nom_responsable.errors.required">
                                             {{' Nom responsable obligatoire.' | translate}} 
                                         </div>
             
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-3"  style="background: white;">
                                 <div class="form-group">
                                     <label class="form-label text-dark">{{'Prenom Responsable*' | translate}}</label>
                                     <input type="text" class="form-control input_shadow" name="prenom_responsable" value="" formControlName="prenom_responsable" required>
                                     <div class="err" *ngIf="submitted && this.form.controls.prenom_responsable.errors">
                                         <div style="color: red;" *ngIf="this.form.controls.prenom_responsable.errors.required">
                                             {{' Prenom responsable obligatoire.' | translate}} 
                                         </div>
             
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-3"  style="background: white;">
                                 <div class="form-group">
                                     <label class="form-label text-dark">{{'Tél de Résponsable*' | translate}}</label>
                                     <input type="text" class="form-control input_shadow" name="tel_responsable" value="" formControlName="tel_responsable" required>
                                     <div class="err" *ngIf="submitted && this.form.controls.tel_responsable.errors">
                                         <div style="color: red;" *ngIf="this.form.controls.tel_responsable.errors.required || this.form.controls.tel_responsable.status === 'INVALID'">
                                             {{' tel responsable obligatoire. non valide' | translate}} 
                                         </div>
                                         <!-- <span style="color: red;" *ngIf="this.form.controls.tel_responsable.status === 'INVALID'">
                                            {{'non valide' | translate}}
                                        </span> -->
                                     </div>
                                 </div>
                             </div>
                     
                               <div class="col-md-3"  style="background: white;">
                                 <label>{{ "Image de CIN*" | translate }}:</label>
                                 <div class="form-group">
                                     <input type="file"   class="form-control dropify" (change)="fileChangeEvent($event, 'image_cin')"
                                     data-allowed-file-extensions="jpeg jpg png"
                                     data-height="180"
                                     formControlName="image_cin"
                                     required>
                                 </div>
                                 <div class="err" *ngIf="submitted && this.form.controls.image_cin.errors">
                                     <div style="color: red;" *ngIf="this.form.controls.image_cin.errors.required">
                                         {{'Champ obligatoire ' | translate}}
                                     </div>
                                     <span style="color: red;"  *ngIf="this.form.controls.image_cin.status === 'INVALID' && this.form.controls.image_cin.touched">{{' extension  .jpeg, .jpg, .png' | translate}} </span>
                                 </div>
                             </div>
                      
                             <div class="col-md-9"  style="background: white;"> 
                                 <div class="form-group"> 
                                     <label class="form-label text-dark">{{'Adresse de Résponsable' | translate}}</label> 
                                     <textarea 
                                         rows="5" 
                                         class="form-control input_shadow"  
                                         name="adresse_responsable"  
                                         value=""  
                                         formControlName="adresse_responsable"> 
                                     </textarea>
                                
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="card-footer" style="background: white;">
                         <div class="form-footer mt-2">
                             <button *ngIf="!(form.invalid || errors)" type="submit" class="btn" style="background: red;color: white;" (click)="register()">{{'Enregistrer' | translate}}
                              <!-- <a *ngIf="form.invalid" href="/register#alertid">{{'Enregistrer' | translate}}</a> -->
                            </button> 
                              <button [disabled]="disabled" style="border: none;background: white;">
                                 <a  href="/register#alertid" *ngIf="form.invalid || errors" type="submit" class="btn" style="background: red;color: white;"  (click)="register()">{{'Enregistrer' | translate}}</a> 
                              </button>
                             <button type="reset" class="btn btn-dark">{{'Annuler' | translate}}</button> 
                         </div>
                         <span style="color: red;">{{email_exist_in_data_base}}</span>
                     </div>
                     
                 </form>
                 <div style="margin-left:20px;padding-bottom: 7px;">
                    vous avez déjà un compte gae <a href="/login" style="text-decoration:underline;color:black;font-weight:700">login</a>
                 </div>
                </div>
            </div>
        </div>
    
    </div>

</div> 
<!--Page-->


</body>
</html>



