
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <title>Gestion Auto-écoles-J2HB PLUS Editeur sécurité Routière</title>
</head>
<body style=" background:rgb(251, 251, 252);">
    <app-headerlogged></app-headerlogged>
    <app-menu-sb></app-menu-sb>
    <div class="container-dashboard-body" style="max-width: 100%;margin-top: 60px;margin-bottom: 10px;">
        <!-- first container -->
      <div style=" display: flex;background:rgb(233, 236, 236);padding: 20px;">
      
        <div class="container-form col-12">
            <div class="container">
                <section class="content" id="form-font">
                    <div style="display: flex;align-items: center;justify-content: space-between;margin-left: 20px;margin-right: 20px;">
                        <span>NOUVEL EMPLOYÉ
                        </span>
                        <a routerLink="/listes-employees" style="border-radius: 5px; color: white;text-decoration: none; background: #198754;border: 1px solid #198754;padding: 5px;">Listes des employes</a>
                    </div>
                    <hr style="color: #b8babb;">
                    <span style="margin-left: 10px; color: red;">(*) Champs obligatoire</span>
                    <form class="form" [formGroup]="form" (ngSubmit)="addemploye()" method="POST" action="" id="ajoute_cours" 
                    enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="city-column">{{ "nom" | translate }}:</label>
                                    <input type="text" id="appt" name="appt" class="form-control input-class" formControlName="nom">
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.nom.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.nom.errors.required">
                                          {{'Nom required ' | translate}}  
                                    </div>
    
                                </div>
                            </div> 
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="city-column">{{ "prenom" | translate }}:</label>
                                    <input type="text" id="appt" name="appt" class="form-control input-class" formControlName="prenom">
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.prenom.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.prenom.errors.required">
                                          {{'Prenom required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="city-column">{{ "CIN" | translate }}:</label>
                                    <input type="text" id="cin" name="cin" class="form-control input-class" formControlName="cin">
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.cin.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.cin.errors.required">
                                          {{'Cin required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                            
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="last-name-column">{{ "Date de naissance" | translate }}:</label>
                                    <input type="date" id="date_naissance" name="date_naissance" class="form-control input-class" formControlName="date_naissance">
                                </div>
                                 <div class="err" *ngIf="submitted && this.form.controls.date_naissance.errors">
                                        <div style="color: red;" *ngIf="this.form.controls.date_naissance.errors.required">
                                              {{'Date de naissance required ' | translate}}  
                                        </div>
        
                                    </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="city-column">{{ "Lieu de naissance" | translate }}:</label>
                                    <input type="text" id="lieu_naissance" name="lieu_naissance" class="form-control input-class" formControlName="lieu_naissance">
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.lieu_naissance.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.lieu_naissance.errors.required">
                                          {{'Lieu de naissance required ' | translate}}  
                                    </div>
    
                                </div>
                            </div> 
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="city-column">{{ "email" | translate }}:</label>
                                    <input type="text" id="email" name="email" class="form-control input-class" formControlName="email">
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.email.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.email.errors.required">
                                          {{'Email required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="city-column">{{ "telephone" | translate }}:</label>
                                    <input type="text" id="telephone" name="telephone" class="form-control input-class" formControlName="telephone">
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.telephone.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.telephone.errors.required">
                                          {{'Telephone required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="last-name-column">{{ "Date de embauche" | translate }}:</label>
                                    <input type="date" id="date_embauche" name="date_embauche" class="form-control input-class" formControlName="date_embauche">
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.date_embauche.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.date_embauche.errors.required">
                                          {{'Date de embauche required ' | translate}}  
                                    </div>
    
                                </div>
                            </div> 
                           
                            <div class="col-5">
                                <label class="form-label">Type*</label>
                                <div class="mb-3" style="display: flex;align-items: center;">
                                    <select *ngIf="add_type"  name="type_employe" class="form-control" id="type2" formControlName="type">
                                        <option value="">Choisir un type</option>
                                        <option value="Directeur">Directeur</option>
                                        <option value="Secretaire">Secretaire</option>
                                    </select>
                                    <input  type="text" name="type_employe_autre" style="display: none;" id="authertype" class="form-control" placeholder="Autre ..."   formControlName="type">
                                        <button type="button" class="btn btn-success" style="padding: 7px;margin-top: -15px;" title="Autre type" (click)="otherType()">
                                          <i class="fa fa-plus" *ngIf="!add_type"></i>
                                          <i class="fa fa-minus" *ngIf="add_type"></i>
                                      </button>
                             
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.type.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.type.errors.required">
                                          {{'Type required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                           
                            <div class="col-6" style="margin-top: 10px;margin-left: 5px;">
                                <div class="form-group">
                                    <label for="city-column">{{ "C.A.P.N" | translate }}:</label>
                                    <input type="text" id="capn" name="capn" class="form-control input-class" formControlName="capn">
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.capn.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.capn.errors.required">
                                          {{'C.A.P.N required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="city-column">{{ "N° P Conduire" | translate }}:</label>
                                    <input type="text" id="conduire" name="conduire" class="form-control input-class" formControlName="conduire">
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.conduire.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.conduire.errors.required">
                                          {{'Conduire required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                           
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email-id-column">{{ "adresse:" | translate }}:</label>
                                    <textarea class="form-control adresse input-class" name="adresse" id="adresse" rows="3"
                                        placeholder="{{ 'Adresse' | translate }}" formControlName="adresse"></textarea>
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.adresse.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.adresse.errors.required">
                                          {{'Adresse required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email-id-column">{{ "Observations:" | translate }}:</label>
                                    <textarea class="form-control adresse input-class" name="observations" id="observations" rows="3"
                                        placeholder="{{ 'Observations' | translate }}" formControlName="observations"></textarea>
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.observations.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.observations.errors.required">
                                          {{'Observations required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <button class="btn next-btn" id="button1-fnt"  (click)="addemploye()">
                            <i class="fa fa-plus"></i>
                            {{action}}
                            
                        </button>
                    </div>
                </div>
            </div>
            </div>



      </div>
                       
                  
   </div>
      
   

</body>
</html>
<!-- 
     -->