
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="Job board html template">
        <meta name="Author" content="Spruko Technologies Private Limited">
        <meta name="keywords" content=""/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta property="og:image" content="/assets/img/logo_gae.png">
        <meta name="csrf-token" content="mI1WuJX2LYbSg925WVPdlMeViHNA0mCSlg28y1PH">
        <link rel="icon" href="/assets/img/logo_gae.png" type="image/x-icon"/>
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/logo_gae.png" />
    <!-- font style -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet"> 
        <!-- Title -->
        <title>Gestion Auto-écoles - J2HB Plus Editeur de la securité routiére au maroc.</title>
        <!-- Réalisation Yancom Création <a href="www.yancom-creation.com" target="_blank">Yancom Création</a> -->
        
        <link href="https://gestionautoecole.com/fi/css/flag-icons.min.css" rel="stylesheet" />
    
        <!-- Bootstrap Css -->
        <link href="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css">
        <link rel="stylesheet" href="/assets/css/gestion.css">
    
        
        <!-- Font-awesome  Css -->
        <link href="https://gestionautoecole.com/css/icons.css" rel="stylesheet"/>
        <link href="https://gestionautoecole.com/fonts/fonts/font-awesome.min.css" rel="stylesheet"/>
    
        <!--Horizontal Menu-->
        <link href="https://gestionautoecole.com/plugins/horizontal/horizontal-menu/animation/fade-down.css" rel="stylesheet" />
        <link href="https://gestionautoecole.com/plugins/horizontal/horizontal-menu/horizontal.css" rel="stylesheet" />
    
        <!--Select2 Plugin -->
        <link href="https://gestionautoecole.com/plugins/select2/select2.min.css" rel="stylesheet" />
    
        <!-- Time picker Plugin -->
        <!-- <link href="https://gestionautoecole.com/plugins/time-picker/jquery.timepicker.css" rel="stylesheet" /> -->
    
        <!-- Date Picker Plugin -->
        <link href="https://gestionautoecole.com/plugins/date-picker/spectrum.css" rel="stylesheet" />
        
        <!-- file Uploads -->
        <link href="https://gestionautoecole.com/plugins/fileuploads/css/dropify.css" rel="stylesheet" type="text/css" />
    
        <!-- jquery ui RangeSlider -->
    
        <link href="https://gestionautoecole.com/plugins/jquery-uislider/jquery-ui.css" rel="stylesheet">
    
        <!-- Owl Theme css-->
        <link href="https://gestionautoecole.com/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />
    
        <!-- Custom scroll bar css-->
        <link href="https://gestionautoecole.com/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />
    
        <!-- Accordion Css -->
        <link href="https://gestionautoecole.com/plugins/accordion/accordion.css" rel="stylesheet" />
       
        <!-- Custom Css -->
       <link href="https://gestionautoecole.com/css/custom.css" rel="stylesheet" />
    
        <!-- Tags Input -->
        <link href="https://gestionautoecole.com/css/bootstrap-tagsinput.css" rel="stylesheet" />
    

    </head>
    <body>
        <app-headerlogged></app-headerlogged>
        <div style="margin-top: -480px"></div>
        <style>.avatar{background: #e5e5e5 no-repeat center/cover !important;background-size: cover !important}</style>
    <!--Sliders Section-->
    <div> 
        <div class="bannerimg cover-image bg-background3 bg-danger" data-image-src="https://gestionautoecole.com/images/banners/banner1.jpg" style="background: url(&quot;../assets/images/banners/banner2.jpg&quot;) center center;"> 
            <div class="header-text mb-0"> 
                <div class="container"> 
                    <div class="text-center text-white "> 
                        <h1 class="">Détail Moniteur</h1> 
                        <ol class="breadcrumb text-center"> 
                            <li class="breadcrumb-item"><a routerLink="/"> Accueil </a></li> 
                            <li class="breadcrumb-item active text-white" aria-current="page">  Détail</li> 
                        </ol> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div>

    <!--Job listing-->
    <div *ngIf="!(moniteur)" style="display: flex;align-items:center;justify-content:center;margin-top: 20px;">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
    </div>
    <!--Detail moniteurs-->
    <section style="margin: 10px;" class="sptb" *ngIf="moniteur">
        <div class="container">
            <div class="row">
                <div class="col-md-12 tab-pane active">
                    <div class="card">
                        <div class="card-title p-3">
                            Détail Moniteur
                        </div>
                        <div class="d-md-flex">
                            <div class="item-card9-img">
                                
                                <img src="{{moniteur?.image}}" alt="img" class="cover-image">
                            </div>
                            <div class="card border-0 mb-0">
                                <div class="card-body ">
                                    <div class="item-card9">
                                        <h4 class="font-weight-semibold">{{moniteur?.nom}}</h4>
                                        <p>{{moniteur?.description}}</p>
                                        <div class="item-card9-desc">
                                            <a class=""><span class=""><i class="fa fa-calendar-o text-muted mr-2"></i>{{moniteur?.created_at}}</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="item-card9-footer d-flex">
                                        <div class="item-card9-cost">
                                                <h3 class="text-dark font-weight-semibold mb-0">{{moniteur?.salaire}} DH</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Detail moniteurs-->

    <script src="https://gestionautoecole.com/js/Filter/notes_category.js"></script>
            <!-- <section class="main-footer" style="background-color: white;">
        <footer class="bg-footer text-white " >
            <div class="text-white-50 border-top p-0">
                <div class="container pb-4">
                    <div class="row d-flex">
                        <div class="text-center col-md-3 col-12">
                            <a class="header-brand" routerLink="/">
                                <img src="/assets/img/logo_gae.png"  class="header-brand-img" alt="Jobslist logo" style="height: 4.5rem !important;">
                            </a>
                        </div>
                        <div class="col-md-3 col-12">
                            <ul>
                                <li><a routerLink="/" class="btn copy-footer"><b> Accueil</b></a></li>
                                <li><a routerLink="/apropos" class="btn copy-footer"><b> Logiciel GAE PLUS</b></a></li>
                                <li><a routerLink="/boutique-j2hb" class="btn copy-footer"><b> Boutique j2hb</b></a></li>
                                
                            </ul>
                        </div>
                        <div class="col-md-3 col-12">
                            <ul><li><a routerLink="/contact" class="btn copy-footer"><b> Contact</b></a></li>
                                <li><a routerLink="/ministre_notes" class="btn copy-footer"><b>Téléchargement</b></a></li>
                                <li><a routerLink="/ecoles" class="btn copy-footer"><b> Auto-écoles</b></a></li>
                            </ul>
                        </div>
                        
                        <div class=" d-flex flex-column justify-content-center col-md-3 col-12">
                            <form method="post" id="AddAbonner" >
                                <input type="hidden" name="_token" value="kXi4tgiKIbxgpBTEB8E0zfRpwYcrFiEaqrLvveTH">							<div id="AddMessageFR" class="alert"></div>
                                <div class="input-group ">
                                    <input name="email" type="text" class="form-control" placeholder="Entrer vôtre email" aria-label="Entrer vôtre email" aria-describedby="basic-addon2" style="border: 2px solid #c6c6c6 !important;">
                                    <div class="input-group-append">
                                        <button type="submit" id="basic-addon2" class="input-group-text btn btn-primary btn-block" style="border: 2px solid red !important;background-color: white;color: red;margin-inline-start: -1px;position: relative;height: 39px;">Abonner</button> 
                                    </div>
                                </div>
                            </form>
                            
                            <ul class="social-f text-center mb-0" style="margin-top: 2rem">
                                    <li>
                                        <a class="social-icon hov-footer" routerLink="https://www.facebook.com/jalal.elamrani.756" style="font-size: 20px !important"><i class="fa fa-facebook" ></i></a>
                                    </li>
                                    <li>
                                        <a class="social-icon hov-footer" routerLink="https://api.whatsapp.com/send?phone=212661072777" style="font-size: 20px !important"><i class="fa fa-phone" ></i></a>
                                    </li>
                                    <li>
                                        <a class="social-icon hov-footer" routerLink="https://www.youtube.com/channel/UCd97nMww3vq2ts3pr86QN3Q/videos" style="font-size: 20px !important"><i class="fab fa-youtube"></i></a>
                                    </li>
                                    <li>
                                        <a class="social-icon hov-footer" routerLink="mailto:jhb.plus@yahoo.com" style="font-size: 20px !important"><i class="fa fa-envelope" ></i></a>
                                    </li>
                                </ul>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="containner-fluid">
                    <div class="row">
                        <div class="col-12 cp-ft">
                            <div class="copy-footer text-center">
                                <hr style="border-top: 3px solid #e6e6e6 !important;margin-top:auto;margin-bottom:auto">
                                <br>
                                <b>	Copyright © 2022 GAE.</b>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            
        </footer>
    </section> -->
    <script src="https://gestionautoecole.com/js/Abonner/abonner.js"></script>
    <!--Footer Section-->    
            
            <!-- Back to top -->
            <a routerLink="#top" id="back-to-top" ><i class="fa fa-arrow-up"></i></a>
    
            <!-- Bootstrap js -->
            
            <script src="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/js/popper.min.js"></script>
            <script src="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
            
            <!-- Tags Input -->
            <script src="https://gestionautoecole.com/js/bootstrap-tagsinput.js"></script>
    
            <!-- Sweet alert Plugin -->
            <script src="https://gestionautoecole.com/plugins/sweet-alert/sweetalert.min.js"></script>
            <script src="https://gestionautoecole.com/js/sweet-alert.js"></script>
    
            <!---Accordion Js-->
            <script src="https://gestionautoecole.com/plugins/accordion/accordion.min.js"></script>
            <script src="https://gestionautoecole.com/js/accor.js"></script>
    
            <!--JQuery Sparkline Js-->
            <script src="https://gestionautoecole.com/js/vendors/jquery.sparkline.min.js"></script>
    
            <!-- Circle Progress Js-->
            <script src="https://gestionautoecole.com/js/vendors/circle-progress.min.js"></script>
    
            <!-- Star Rating Js-->
            <script src="https://gestionautoecole.com/plugins/rating/jquery.rating-stars.js"></script>
    
            <!--Counters -->
            <script src="https://gestionautoecole.com/plugins/counters/counterup.min.js"></script>
            <script src="https://gestionautoecole.com/plugins/counters/waypoints.min.js"></script>
            <script src="https://gestionautoecole.com/plugins/counters/numeric-counter.js"></script>
    
            <!--Owl Carousel js -->
            <script src="https://gestionautoecole.com/plugins/owl-carousel/owl.carousel.js"></script>
    
            <!--Horizontal Menu-->
            <script src="https://gestionautoecole.com/plugins/horizontal/horizontal-menu/horizontal.js"></script>
    
            <!--JQuery TouchSwipe js-->
            <script src="https://gestionautoecole.com/js/jquery.touchSwipe.min.js"></script>
    
            <!--Select2 js -->
            <script src="https://gestionautoecole.com/plugins/select2/select2.full.min.js"></script>
            <script src="https://gestionautoecole.com/js/select2.js"></script>
    
            <!-- Datepicker js -->
            <script src="https://gestionautoecole.com/plugins/date-picker/spectrum.js"></script>
            <script src="https://gestionautoecole.com/plugins/date-picker/jquery-ui.js"></script>
            <!-- <script src="https://gestionautoecole.com/plugins/input-mask/jquery.maskedinput.js"></script> -->
    
            <!-- Inline js -->
            <script src="https://gestionautoecole.com/js/formelements.js"></script>
    
            <!-- file uploads js -->
            <script src="https://gestionautoecole.com/plugins/fileuploads/js/dropify.js"></script>
    
            <!-- sticky Js-->
            <script src="https://gestionautoecole.com/js/sticky.js"></script>
    
            <!-- Ion.RangeSlider -->
            <script src="https://gestionautoecole.com/plugins/jquery-uislider/jquery-ui.js"></script>
    
            <!--Showmore Js-->
            <script src="https://gestionautoecole.com/js/jquery.showmore.js"></script>
            <script src="https://gestionautoecole.com/js/showmore.js"></script>
    
            <!-- Custom scroll bar Js-->
            <script src="https://gestionautoecole.com/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>
    
            <!-- Swipe Js-->
            <script src="https://gestionautoecole.com/js/swipe.js"></script>
    
            <!-- Scripts Js-->
            <script src="https://gestionautoecole.com/js/scripts2.js"></script>
    
            <!-- Custom Js-->
            <script src="https://gestionautoecole.com/js/custom.js"></script>
    </body>
    </html>
    
    
    
    <!-- ******************** -->
    
               

