<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Job board html template">
    <meta name="Author" content="Spruko Technologies Private Limited">
    <meta name="keywords" content=""/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta property="og:image" content="/assets/img/logo_gae.png">
    <meta name="csrf-token" content="mI1WuJX2LYbSg925WVPdlMeViHNA0mCSlg28y1PH">
    <link rel="icon" href="/assets/img/logo_gae.png" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/logo_gae.png" />
<!-- font style -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet"> 
    <!-- Title -->
    <title>Gestion Auto-écoles - J2HB Plus Editeur de la securité routiére au maroc.</title>
    <!-- Bootstrap Css -->
    <link href="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css">
    <!-- Dashboard Css -->
    <link href="/assets/css/gestion.css" rel="stylesheet" />
    <!--Horizontal Menu-->
    <link href="https://gestionautoecole.com/plugins/horizontal/horizontal-menu/animation/fade-down.css" rel="stylesheet" />
    <link href="https://gestionautoecole.com/plugins/horizontal/horizontal-menu/horizontal.css" rel="stylesheet" />
</head>
<body>
    <!-- <app-header></app-header> -->
    <app-headerlogged></app-headerlogged>
    <div style="margin-top: -480px"></div>
    <style>.avatar{background: #e5e5e5 no-repeat center/cover !important;background-size: cover !important}</style>
<!--Sliders Section-->
<div> 
    <div class="bannerimg cover-image bg-background3 bg-white" style="background: white">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-dark">
                    <h1>{{title}} </h1>
                </div> 
            </div> 
        </div> 
    </div> 
</div>
<section *ngIf="dbTelecharhement" class="sptb">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="text-wrap">
                            <div class="row" id="ListNotes" data-id="3">
                                <div class="col-md-6 col-lg-4 features" *ngFor="let data of dbTelecharhement"> 
                                    <div class="card bg-light"> 
                                        <div class="card-body text-center"> 
                                            <div class="feature"> 
                                                    <h3 class="font-weight-bold"> <i class="fal fa-hand-point-down" style="font-size: 2rem"></i><br><br>
                                                        <a [attr.href]="'//'+ data.fichier" target="_blank" style="text-decoration: none;color: black;">{{data?.titre}}</a>  </h3> 
                                            </div> 
                                        </div> 
                                                
                                    </div> 
                                </div>   
 
							</div><br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
        <script src="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/js/popper.min.js"></script>
        <script src="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
</body>
</html>