<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="Description" content="Job board html template">
		<meta name="Author" content="Spruko Technologies Private Limited">
		<meta name="keywords" content=""/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta property="og:image" content="/assets/img/logo_gae.png">
        <!-- carousel bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
        <!-- css caousel -->
        <link rel="stylesheet" href="/assets/css/carousel.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/darkly/bootstrap.min.css">
		<link rel="icon" href="/assets/img/logo_gae.png" type="image/x-icon"/>
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/logo_gae.png" />
    	<title>Gestion Auto-écoles - J2HB Plus Editeur de la securité routiére au maroc.</title>
        <!-- Réalisation Yancom Création <a href="www.yancom-creation.com" target="_blank">Yancom Création</a> -->
        
        <link href="https://gestionautoecole.com/fi/css/flag-icons.min.css" rel="stylesheet" />
		<!-- Bootstrap Css -->
        <link href="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />
        		
 
        <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css"> -->
		<!-- Dashboard Css -->
		<link href="https://gestionautoecole.com/css/style.css" rel="stylesheet" />

        

		<!--Horizontal Menu-->
		<link href="https://gestionautoecole.com/plugins/horizontal/horizontal-menu/animation/fade-down.css" rel="stylesheet" />
		<link href="https://gestionautoecole.com/plugins/horizontal/horizontal-menu/horizontal.css" rel="stylesheet" />

		<!--Select2 Plugin -->
		<link href="https://gestionautoecole.com/plugins/select2/select2.min.css" rel="stylesheet" />

        <!-- Time picker Plugin -->
        <!-- <link href="https://gestionautoecole.com/plugins/time-picker/jquery.timepicker.css" rel="stylesheet" /> -->

        <!-- Date Picker Plugin -->
        <link href="https://gestionautoecole.com/plugins/date-picker/spectrum.css" rel="stylesheet" />
        
        <!-- file Uploads -->
        <link href="https://gestionautoecole.com/plugins/fileuploads/css/dropify.css" rel="stylesheet" type="text/css" />

        <!-- Accordion Css -->
        <link href="https://gestionautoecole.com/plugins/accordion/accordion.css" rel="stylesheet" />
       
        <!-- Custom Css -->
       <link href="https://gestionautoecole.com/css/custom.css" rel="stylesheet" />

        <!-- Tags Input -->
        <link href="https://gestionautoecole.com/css/bootstrap-tagsinput.css" rel="stylesheet" />

        <!-- Color-Skins -->
        <link rel="stylesheet" media="all" href="https://gestionautoecole.com/color-skins/color10.css" />
        <!-- bootstrap css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <!-- JQuery js-->
        <script src="https://gestionautoecole.com/js/jquery-3.5.1.js"></script>
        <script src="https://gestionautoecole.com/js/vendors/jquery-3.2.1.min.js"></script>
        <script src="https://gestionautoecole.com/js/validate/jquery.validate.js" ></script>
        <script src="https://gestionautoecole.com/js/validate/login.js"></script>
        <script src="https://gestionautoecole.com/js/validate/register.js"></script>
        <script src="https://gestionautoecole.com/js/date.js"></script>
        <script src="https://gestionautoecole.com/js/fr-FR.js"></script>
        <!--scripts for carousel-->
        <script src="/assets/js/carousel.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
     
        <style>

 
          .form-section{
              padding-left: 15px;
              display: none;
          }
          
          .form-section.current
          {
              display: block;
          }
          
          /* .btn-success
          {
              margin-left: 20px;
          } */
          /* .btn-info, .btn-success
          {
              margin-top: 10px;
              font-size: 1rem;
          } */
          
          .form-label {
              font-size: 20px;
          }
          
          .form-navigation
          {
              text-align: center;
          }
          
          .modal h5
          {
              font-size: 40px;
              font-weight: 700;
          }
          
          #registerMission
          {
              display: none;
          }
          #loginMission
          {
           display: none;   
          }
          
          
          
          
          .parsley-required,.parsley-type
          {
              margin: 2px 0px 3px;
              padding: 0;
              list-style-type: none;
              color: red;
          }
          .our_icon
          {
              background: linear-gradient(to right, rgba(22, 80, 226, 0.95) 0%, rgba(126, 81, 236, 0.95) 100%);
          }
          section {
              padding-top: 0px !important;
          }
          .href_color{
              color: black;
          }
          .href_color:hover{
              color: red;
          }
          </style>

</head>
<body style="background: white;">
  
<app-header></app-header>
<div style="margin-top: -460px"></div>
       
    

        <style>
    .our_icon
    {
        background: linear-gradient(to right, rgba(22, 80, 226, 0.95) 0%, rgba(126, 81, 236, 0.95) 100%);
    }
    section {
        padding-top: 0px !important;
    }
    .href_color{
        color: black;
    }
    .href_color:hover{
        color: red;
    }
</style> 

<!--Sliders Section-->
<section class="bg-light animation-background">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-7 col-md-auto d-flex flex-column justify-content-center">
                <div class="sptb mx-auto text-center d-none d-lg-block"> 
                    <img src="https://gestionautoecole.com/images/demo.png" alt="img" class="w-100 h-100 float-md-right floating"> 
                </div>
            </div>
            <div class="col-xl-5  col-lg-5 col-md-12 mx-auto d-block">
                <div class="sptb">
                    <div class="card mb-0 shadow-none">
                        <div class="card-body section-title">
                            <div class="mb-5">
                                <h1 ><b>gestion auto-école</b></h1>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 d-block mx-auto">
                                    <div class="bg-transparent">
                                        <div class="form">
                                            
                                            <div class="form-group bg-white"> 
                                                <p style="text-align: left;"><br>Vous dirigez une auto-école et devez faire face à de nombreuses tâches quotidiennes chronophages ?<br></p>
                                                <p style="text-align: left;"><br>Faites le choix d’un logiciel de services spécialement élaboré pour l’administration d’une auto-école !<br></p>
                                                <p style="text-align: left;"><br>Faites des économies au quotidien pour votre auto-école dans une solution innovante et intuitive !<br></p>
                                                <p style="text-align: left;"><br>Pas d'investissement à l'achat, sans engagement et utilisable immédiatement !</p>
                                                <p style="text-align: left;"><br>Donnez un nouveau regard à la gestion de votre auto-école. <br>
                                                <strong>Pourquoi choisir GAE PLUS ?</strong>
                                                <br></p>
                                            </div>
            
                                                    <div class="mb-0"> 
                                                      <a routerLink="/apropos" class="btn btn-primary">Voir plus</a> 

                                                </div>
                                       </div>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Sliders Section-->



<!-- Section youtube video -->
<section class="sptb bg-white border-top" style="padding-top: 60px !important;padding-bottom: 54px !important;">
    <div class="container">
        <div class="row no-gutters row-deck find-job">
            
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/m1kIWuYXb-Q" title="YouTube video player" frameborder="0" style="margin: auto;"allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/TAdTKN-BQXo" title="YouTube video player" frameborder="0" style="margin: auto;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            
        </div>
    </div>
</section>
<!--/Section-->
<!--  -->
<!-- ***************** -->

<!-- ***************** -->
<!--  -->
<div  *ngIf="!boutique" style="margin-left: 50%;margin-bottom: 20%;">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
</div>
<!-- boutique gae plus -->
<div *ngIf="nBoutique" style="background:white;padding-bottom: 10px;">
    <div class="auto-ecole-child" style="border-top: 1px solid rgb(224, 213, 213);padding-top: 25px;" >
        <div>
           <h2 style="text-align: center;font-size: 20px;font-weight: 900px;"> BOUTIQUE J2HB</h2> 
           <p style="font-size: 16px;margin-bottom: 25px;">Découvrir notre boutique</p>
        </div>
        
    </div>
    <div class="container">
        <section>
          <ngx-slick-carousel class="carousel" 
          #slickModal="slick-carousel" 
          [config]="slideConfig" 
          (init)="slickInit($event)"
          (breakpoint)="breakpoint($event)"
          (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)">
          <mat-card class="example-card" ngxSlickItem *ngFor="let data of boutique; trackBy: trackById" class="slide" style="margin-right: 7px;height: 500px;">
                <img mat-card-image src="{{ data?.image }}" style="height: 260px;width: 260px;" alt="">
                <mat-card-content style="width: 260px;">
                <p>{{data?.description}}</p>
                </mat-card-content>
                <mat-card-footer style="position: absolute;bottom:0;margin-bottom:15px">
                    <button mat-button><a routerLink="/detail-produit/{{data?.id}}" class="btn" style="background: red;color:white">Voir détail</a></button>
                    <button mat-button><a class="btn btn-outline-dark" routerLink="https://api.whatsapp.com/send?phone=212661072777"><i class="fa fa-whatsapp"></i></a></button>
                </mat-card-footer>
          </mat-card>
          </ngx-slick-carousel>
        </section>
      </div>
</div>
<div *ngIf="nBoutique" id="spinnerBoutique" style="display: flex;align-items:center;justify-content:center;margin-top: 60px;margin-bottom: 40px;background: white;">
            
    <a routerLink="/boutique-j2hb" class="btn btn-outline-danger" style="width: 108px;font-size: 14px;">Voir plus</a>
  
  </div>
<hr *ngIf="nBoutique" style="background:white">
<!--  -->

<!--/*for mobile and small  devices */-->

<!--  -->

<!-- end boutique gae plus -->


<!-- vehicules carousel -->
<div *ngIf="nvehiculeOccasion" style="background:white;padding-bottom: 10px;">
    <div class="auto-ecole-child" style="border-top: 1px solid rgb(224, 213, 213);padding-top: 25px;" >
        <div>
           <h2 style="text-align: center;font-size: 20px;font-weight: 900px;">VÉHICULES D’OCCASION D’AUTO-ÉCOLE
        </h2> 
           <p style="font-size: 16px;margin-bottom: 25px;margin-left: 110px;">Découvrir nos véhicules    </p>
        </div>
        
    </div>
    <div class="container">
        <section>
          <ngx-slick-carousel class="carousel" 
          #slickModal="slick-carousel" 
          [config]="slideConfig" 
          (init)="slickInit($event)"
          (breakpoint)="breakpoint($event)"
          (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)">
          <mat-card class="example-card" ngxSlickItem *ngFor="let data of vehiculeOccasion; trackBy: trackByIdvehicule" class="slide" style="margin-right: 7px;height: 500px;">
                <img mat-card-image src="{{ data?.image }}" style="height: 260px;width: 260px;" alt="">
                <mat-card-content style="width: 260px;">
                <p>{{data.description}}</p>
                </mat-card-content>
                <mat-card-footer style="position: absolute;bottom:0;margin-bottom:15px">
                    <button mat-button><a routerLink="/detail-produit/{{data?.id}}" class="btn" style="background: red;color:white">Voir détail</a></button>
                    <button mat-button><a class="btn btn-outline-dark" routerLink="https://api.whatsapp.com/send?phone=212661072777"><i class="fa fa-whatsapp"></i></a></button>
                </mat-card-footer>
          </mat-card>
          </ngx-slick-carousel>
        </section>
    </div>
</div>
<div *ngIf="nvehiculeOccasion" style="display: flex;align-items:center;justify-content:center;margin-top: 60px;margin-bottom: 40px;background: white;">
            
    <a routerLink="/vehicule-occasion" class="btn btn-outline-danger" style="width: 108px;font-size: 14px;">Voir plus</a>
  
  </div>
<hr *ngIf="nvehiculeOccasion" style="background:white">
<!-- end vehicules carousel -->


<!-- moniteur available for job -->
<div *ngIf="nmoniteurJob" style="background:white;padding-bottom: 10px;">
    <div class="auto-ecole-child" style="border-top: 1px solid rgb(224, 213, 213);padding-top: 25px;" >
        <div>
           <h2 style="text-align: center;font-size: 20px;font-weight: 900px;"> RECRUTEMENT DES MONITEURS
    
        </h2> 
           <p style="font-size: 16px;margin-bottom: 25px;margin-left: 100px;">Liste des moniteurs
        </p>
        </div>
    </div>
    <div class="container">
        <section>
          <ngx-slick-carousel class="carousel" 
          #slickModal="slick-carousel" 
          [config]="slideConfig" 
          (init)="slickInit($event)"
          (breakpoint)="breakpoint($event)"
          (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)">
          <mat-card class="example-card" ngxSlickItem *ngFor="let data of moniteurJob; trackBy: trackByIdMoniteur" class="slide" style="margin-right: 7px;height: 500px;">
                <img mat-card-image src="{{ data?.image }}" style="height: 260px;width: 260px;" alt="">
                <mat-card-content style="width: 260px;">
                <p>{{data.description}}</p>
                </mat-card-content>
                <mat-card-footer style="position: absolute;bottom:0;margin-bottom:15px">
                    <button mat-button><a routerLink="/detail-monitor/{{data?.id}}" class="btn" style="background: red;color:white">Voir détail</a></button>
                </mat-card-footer>
          </mat-card>
          </ngx-slick-carousel>
        </section>
      </div>
</div>
<div  *ngIf="nmoniteurJob" style="display: flex;align-items:center;justify-content:center;margin-top: 60px;margin-bottom: 40px;background: white;">
            
    <a routerLink="/monitors-job" class="btn btn-outline-danger" style="width: 108px;font-size: 14px;">Voir plus</a>
  
  </div>
<hr *ngIf="nmoniteurJob" style="background:white">
<!-- end moniteur for job -->




<!-- auto ecole a vendre -->
<div *ngIf="nautoEcoleVendre" style="background:white;padding-bottom: 10px;">
    <div class="auto-ecole-child" style="border-top: 1px solid rgb(224, 213, 213);padding-top: 25px;" >
        <div>
           <h2 style="text-align: center;font-size: 20px;font-weight: 900px;margin-left: 70px;">LISTE DES AUTO ÉCOLES À VENDRE
        </h2> 
           <p style="font-size: 16px;margin-bottom: 25px;margin-left: 170px;">nouvelles auto-écoles
        </p>
        </div>
    </div>
    <div class="container">
        <section>
          <ngx-slick-carousel class="carousel" 
          #slickModal="slick-carousel" 
          [config]="slideConfig" 
          (init)="slickInit($event)"
          (breakpoint)="breakpoint($event)"
          (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)">
          <mat-card class="example-card" ngxSlickItem *ngFor="let data of autoEcoleVendre; trackBy: trackByIdAutoEcoleVendre" class="slide" style="margin-right: 7px;height: 500px;">
                <img mat-card-image src="{{ data?.image }}" style="height: 260px;width: 260px;" alt="">
                <mat-card-content style="width: 260px;">
                <p>{{data.description}}</p>
                </mat-card-content>
                <mat-card-footer style="position: absolute;bottom:0;margin-bottom:15px">
                    <button mat-button><a routerLink="/detail-ecole-vendre/{{data?.id}}" class="btn" style="background: red;color:white">Voir détail</a></button>
                </mat-card-footer>
          </mat-card>
          </ngx-slick-carousel>
        </section>
      </div>
</div>
<div *ngIf="nautoEcoleVendre" style="display: flex;align-items:center;justify-content:center;margin-top: 60px;margin-bottom: 40px;background: white;">
            
    <a routerLink="/ecoles-vendre" class="btn btn-outline-danger" style="width: 108px;font-size: 14px;">Voir plus</a>
  
  </div>
<hr *ngIf="nautoEcoleVendre" style="background:white">
<!-- end auto ecole a vendre -->

<!-- carousel auto ecoles -->
<div *ngIf="nautoEcoleAbonnee" style="background:white">
    <div class="auto-ecole-child" style="border-top: 1px solid rgb(224, 213, 213);padding-top: 25px;" >
        <div>
           <h2 style="text-align: center;font-size: 20px;font-weight: 900px;"> AUTO-ÉCOLES ADHÉRENTS</h2> 
           <p style="font-size: 16px;margin-bottom: 25px;">Liste des auto-écoles adhérents avec GAE
    
        </p>
        </div>
        
    </div>
    <div class="container">
        <section>
          <ngx-slick-carousel class="carousel" 
          #slickModal="slick-carousel" 
          [config]="slideConfig" 
          (init)="slickInit($event)"
          (breakpoint)="breakpoint($event)"
          (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)">
          <mat-card class="example-card" ngxSlickItem *ngFor="let data of autoEcoleAbonnee; trackBy: trackByIdAutoEcoleAbonnee" class="slide" style="margin-right: 7px;height: 350px;">
            <img mat-card-image src="{{ data?.image }}" style="height: 80px;width: 80px;border-radius: 50%;margin-left: 30%;" alt="">
            <mat-card-title style="margin-left:30%;font-size: small;" class="font-weight-bold">{{data?.nom_auto_ecole}}</mat-card-title>
            <mat-card-content>
                <a routerLink="#" class="icons"><mat-icon style="font-size:small"> location_on</mat-icon>
                   <span>{{data?.ville}} / {{data?.pays}}</span> 
                </a>
            </mat-card-content>
            <mat-card-content>
                <a routerLink="javascript:void(0)" class="icons"><mat-icon style="font-size:small;margin-right: 7px;">supervised_user_circle</mat-icon>
                    <span>{{data?.nom_responsable}}{{" "}}{{data?.prenom_responsable}}</span></a>
            </mat-card-content>
            <mat-card-content>
                <mat-icon style="font-size:small;margin-right: 7px;">calendar_today</mat-icon>
                <span>{{data?.date_ouverture}}</span>
                <span></span>
            </mat-card-content>
            <mat-card-footer style="position: absolute;bottom:0;margin-bottom:15px">
                <button  mat-button><a routerLink="/detail-ecole/{{data?.id}}" class="btn" style="border: 1px solid black;border-radius:5px;padding:5px">
                    <i class="fa fa-eye"></i>
                    <span>Détails</span></a></button>
                <button mat-button><a class="btn" style="background: green;color:white" routerLink="https://api.whatsapp.com/send?phone=212661072777">
                    <i class="fa fa-whatsapp" ></i><span style="margin-left: 5px;color: white">Appeler</span></a></button>
            </mat-card-footer>
          </mat-card>
          </ngx-slick-carousel>
        </section>
      </div>
    
    
</div>

<!--  end caousel auto ecoles -->
<div *ngIf="nautoEcoleAbonnee" style="display: flex;align-items:center;justify-content:center;margin-top: 60px;margin-bottom: 40px;background: white;">
            
    <a routerLink="/ecoles" class="btn btn-outline-danger" style="width: 108px;font-size: 14px;">Voir plus</a>
  
  </div>
<hr *ngIf="nautoEcoleAbonnee" style="background:white">


<!-- actualite  -->
<section *ngIf="nblogs" class="sptb bg-white border-top" style="padding-top: 40px !important;background: white;">
    <div class="container">
        <div class="section-title center-block text-center">
            <h1>Actualités</h1>
            <p>Nouveaux articles concernant le domaine d&#039;auto-école et la sécurité routière </p>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="row">
                                        
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="card my_card">
                            <div class="item7-card-img">
                                <a routerLink="/actualite/{{blogs[0]?.id}}"></a>
                                <img src="{{blogs[0]?.image}}" alt="img" class="cover-image">
                            </div>
                            <div class="card-body">
                                <div class="item7-card-desc d-flex mb-2">
                                    <a><i class="fa fa-calendar-o text-muted mr-2"></i>{{blogs[0]?.created_at}}</a>
                                </div>
                                <a routerLink="/actualite/{{blogs[0]?.id}}" class="text-dark"><h4 class="font-weight-semibold">{{blogs[0]?.titre}}</h4></a>
                                <p>{{blogs[0]?.description}}</p>
                               
                            </div>
                            <div class="card-footer">
                                <a routerLink="/actualite/{{blogs[0]?.id}}" class="btn btn-danger btn-sm">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                                        
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="card my_card">
                            <div class="item7-card-img">
                                <a routerLink="/actualite/{{blogs[1]?.id}}"></a>
                                <img src="{{blogs[1]?.image}}" alt="img" class="cover-image">
                            </div>
                            <div class="card-body">
                                <div class="item7-card-desc d-flex mb-2">
                                    <a><i class="fa fa-calendar-o text-muted mr-2"></i>{{blogs[0]?.created_at}}</a>
                                </div>
                                <a routerLink="/actualite/{{blogs[1]?.id}}" class="text-dark"><h4 class="font-weight-semibold">{{blogs[1]?.titre}}</h4></a>
                                <p>{{blogs[1]?.description}}</p>
                               
                            </div>
                            <div class="card-footer">
                                <a routerLink="/actualite/{{blogs[1]?.id}}" class="btn btn-danger btn-sm">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                                        
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="card my_card">
                            <div class="item7-card-img">
                                <a routerLink="/actualite/{{blogs[2]?.id}}"></a>
                                <img src="{{blogs[2]?.image}}" alt="img" class="cover-image">
                            </div>
                            <div class="card-body">
                                <div class="item7-card-desc d-flex mb-2">
                                    <a><i class="fa fa-calendar-o text-muted mr-2"></i>{{blogs[0]?.created_at}}</a>
                                </div>
                                <a routerLink="/actualite/{{blogs[2]?.id}}" class="text-dark"><h4 class="font-weight-semibold">{{blogs[2]?.titre}}</h4></a>
                                <p>{{blogs[2]?.description}}</p>
                               
                            </div>
                            <div class="card-footer">
                                <a routerLink="/actualite/{{blogs[2]?.id}}" class="btn btn-danger btn-sm">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                                    </div>
            </div>
            <div *ngIf="nblogs" class="center-block text-center btn-pad-ind" style="padding-top: 20px !important;">
                <a routerLink="/actualite" class="btn btn-outline-danger">Voir plus</a>
            </div>
        </div>
    </div>
</section>

<!-- end actualite -->

<!-- footer section -->
<section class="sptb bg-white border-top" style="padding-top: 40px !important;">
    <div class="container">
        <div class="section-title center-block text-center">
            <h1> Les avis à propos <span style="color:red">GAE PLUS</span> </h1>
        </div>
        <div class="owl-carousel owl-carousel-icons2">
              
                              <div class="card1 overflow-hidden">
                    <div class="item">
                        <div class="card1 mb-0">
                            <div class="review-item2">
                                <div class="review-item2-img text-center">
                                    <img src="https://gestionautoecole.com/storage/Ovzgw3MatwYzMy508SKi3tZe7PdsfNVcApxQMU42.jpg" alt="Avatar" class="avatar av-png" >
                                </div>
                            </div>
                            <div class="card-body" style="height: 200px;overflow: hidden;">
                                <div class="review-item2-desc">
                                    <h4 class="font-weight-semibold text-dark">
                                        iDriving
                                    </h4>
                                    <p class="text-muted">
                                        عمل جيد لقد اعجبني جدا وسهل الاستخدام شكرا على مجهوداتكم
                                    </p>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                           
        </div>
            </div>
</section>    


<!--Toast-->
<div id="foot-toast" role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false" style="position: fixed;z-index: 999;bottom: 1rem;right: auto;left: 1rem;">
    <div class="toast-header">
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        <ul>
            <li><b>Vous souhaitez vendre une voiture pour une auto école ?</b></li>
            <li><b>Vous souhaitez vendre une auto-école ?</b></li>
            <li><b>Vous cherchez un moniteur pour vôtre auto école ?</b></li>
            <li></li>
            <li style="text-align: center"><b>Envoyez-nous votre demande via</b></li>
            <li class="row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 text-center">
                        <i class="fa fa-whatsapp" style="color: green;"></i>
                        <div><a class="href_color" routerLink="https://api.whatsapp.com/send?phone=212661072777">+212661072777</a></div>
                        </div>
                        <div class="col-6 text-center">
                        <i class="fa fa-facebook" style="color: blue"></i>
                        <div><a class="href_color" routerLink="https://www.facebook.com/jalal.elamrani.756">Jalal el amrani</a></div>
                        </div>
                        <div class="col text-center">
                        <i class="fa fa-envelope" style="color: red"></i>
                            <div><a class="href_color" routerLink="mailto:jhb.plus@yahoo.com">jhb.plus@yahoo.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--/Job listing
position: fixed;
bottom: 7rem;
right: 1rem;
z-index: 999;
-->
<!-- Add Model -->
<div class="modal fade bd-example-modal-md" id="add_review" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
           
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
            <form method="POST" id="AddReviewForm" enctype="multipart/form-data" class="form">
              <input type="hidden" name="_token" value="zxIaeMLJnMhZaGgwxwY7EB8VaUNZFERRjNAHUcJd">                <div class="card-body">
                    <div class="text-center">
                        <i class="fal fa-comment-lines" style="font-size: 3rem;color:red"></i>
                        <h4 class="modal-title" id="exampleModalLabel">Ajouter vôtre avis</h4>
                    </div>
                    <div class="col-md-12">
                      <div class="alert" id="AddMessage">
                      </div>
                    </div>
                    <div class="row" style="justify-content: center;">
                        <div class="col-md-10">
                            <div class="form-group">
                              <textarea rows="5" class="form-control text-center" name="avis" value="" placeholder="Quelle est votre opinion?"></textarea>
                          </div>
                        </div>
                    </div>
                </div> 
              <div class="card-footer text-center">
                  <button type="submit" class="btn btn-success" id="button_add"><i class="fa fa-plus-circle"></i>Ajouter</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
              </div>
          </form>	
      </div>
    </div>
  </div>
  <!-- End Add Model -->
<script>
    $(function() {
        $('#foot-toast').toast('show')
    })
</script>
<script src = "https://gestionautoecole.com/js/review/review.js" > </script>
        <section class="main-footer" style="background-color: white;">
	<footer class="bg-footer text-white " >
		<div class="text-white-50 border-top p-0">
			<div class="container pb-4">
				<div class="row d-flex">
					<div class="text-center col-md-3 col-12">
						<a class="header-brand" routerLink="/">
							<img src="/assets/img/logo_gae.png"  class="header-brand-img" alt="Jobslist logo" style="height: 4.5rem !important;">
						</a>
					</div>
					<div class="col-md-3 col-12">
						<ul>
							<li><a routerLink="/" class="btn copy-footer"><b> Accueil</b></a></li>
							<li><a routerLink="/apropos" class="btn copy-footer"><b> Logiciel GAE PLUS</b></a></li>
							<li><a routerLink="/boutique-j2hb" class="btn copy-footer"><b> Boutique j2hb</b></a></li>
							
						</ul>
					</div>
					<div class="col-md-3 col-12">
						<ul><li><a routerLink="/contact" class="btn copy-footer"><b> Contact</b></a></li>
							<li><a routerLink="/ministre_notes" class="btn copy-footer"><b>Téléchargement</b></a></li>
							<li><a routerLink="/ecoles" class="btn copy-footer"><b> Auto-écoles</b></a></li>
						</ul>
					</div>
					
					<div class=" d-flex flex-column justify-content-center col-md-3 col-12">
						<form method="post" id="AddAbonner" >
							<input type="hidden" name="_token" value="zxIaeMLJnMhZaGgwxwY7EB8VaUNZFERRjNAHUcJd">							<div id="AddMessageFR" class="alert"></div>
							<div class="input-group ">
								<input name="email" type="text" class="form-control" placeholder="Entrer vôtre email" aria-label="Entrer vôtre email" aria-describedby="basic-addon2" style="border: 2px solid #c6c6c6 !important;">
								<div class="input-group-append">
									<button type="submit" id="basic-addon2" class="input-group-text btn btn-primary btn-block" style="border: 2px solid red !important;background-color: white;color: red;margin-inline-start: -1px;position: relative;height: 39px;">Abonner</button> 
								</div>
							</div>
						</form>
						
						<ul class="social-f text-center mb-0" style="margin-top: 2rem">
								<li>
									<a class="social-icon hov-footer" routerLink="https://www.facebook.com/jalal.elamrani.756" style="font-size: 20px !important"><i class="fa fa-facebook" ></i></a>
								</li>
								<li>
									<a class="social-icon hov-footer" routerLink="https://api.whatsapp.com/send?phone=212661072777" style="font-size: 20px !important"><i class="fa fa-phone" ></i></a>
								</li>
								<li>
									<a class="social-icon hov-footer" routerLink="https://www.youtube.com/channel/UCd97nMww3vq2ts3pr86QN3Q/videos" style="font-size: 20px !important"><i class="fab fa-youtube"></i></a>
								</li>
								<li>
									<a class="social-icon hov-footer" routerLink="mailto:jhb.plus@yahoo.com" style="font-size: 20px !important"><i class="fa fa-envelope" ></i></a>
								</li>
							</ul>
						
					</div>
					
				</div>
			</div>
			<div class="containner-fluid">
				<div class="row">
					<div class="col-12 cp-ft">
						<div class="copy-footer text-center">
							<hr style="border-top: 3px solid #e6e6e6 !important;margin-top:auto;margin-bottom:auto">
							<br>
							<b>	Copyright © 2022 GAE.</b>
						</div>
					</div>
				</div>
			</div>
			</div>
		
	</footer>
</section>
<script src="https://gestionautoecole.com/js/Abonner/abonner.js"></script>
<!--Footer Section-->   
        
        <!-- Back to top -->
        <a routerLink="#top" id="back-to-top" ><i class="fa fa-arrow-up"></i></a>

        <!-- Bootstrap js -->
        
        <script src="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/js/popper.min.js"></script>
        <script src="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
        
        <!-- Tags Input -->
        <script src="https://gestionautoecole.com/js/bootstrap-tagsinput.js"></script>

        <!-- Sweet alert Plugin -->
        <script src="https://gestionautoecole.com/plugins/sweet-alert/sweetalert.min.js"></script>
        <script src="https://gestionautoecole.com/js/sweet-alert.js"></script>

        <!---Accordion Js-->
        <script src="https://gestionautoecole.com/plugins/accordion/accordion.min.js"></script>
        <script src="https://gestionautoecole.com/js/accor.js"></script>

        <!--JQuery Sparkline Js-->
        <script src="https://gestionautoecole.com/js/vendors/jquery.sparkline.min.js"></script>

        <!-- Circle Progress Js-->
        <script src="https://gestionautoecole.com/js/vendors/circle-progress.min.js"></script>

        <!-- Star Rating Js-->
        <script src="https://gestionautoecole.com/plugins/rating/jquery.rating-stars.js"></script>

        <!--Counters -->
        <script src="https://gestionautoecole.com/plugins/counters/counterup.min.js"></script>
        <script src="https://gestionautoecole.com/plugins/counters/waypoints.min.js"></script>
        <script src="https://gestionautoecole.com/plugins/counters/numeric-counter.js"></script>

        <!--Owl Carousel js -->
        <script src="https://gestionautoecole.com/plugins/owl-carousel/owl.carousel.js"></script>

        <!--Horizontal Menu-->
        <script src="https://gestionautoecole.com/plugins/horizontal/horizontal-menu/horizontal.js"></script>

        <!--JQuery TouchSwipe js-->
        <script src="https://gestionautoecole.com/js/jquery.touchSwipe.min.js"></script>

        <!--Select2 js -->
        <script src="https://gestionautoecole.com/plugins/select2/select2.full.min.js"></script>
        <script src="https://gestionautoecole.com/js/select2.js"></script>

        <!-- Datepicker js -->
        <script src="https://gestionautoecole.com/plugins/date-picker/spectrum.js"></script>
        <script src="https://gestionautoecole.com/plugins/date-picker/jquery-ui.js"></script>
        <!-- <script src="https://gestionautoecole.com/plugins/input-mask/jquery.maskedinput.js"></script> -->

        <!-- Inline js -->
        <script src="https://gestionautoecole.com/js/formelements.js"></script>

        <!-- file uploads js -->
        <script src="https://gestionautoecole.com/plugins/fileuploads/js/dropify.js"></script>

        <!-- sticky Js-->
        <script src="https://gestionautoecole.com/js/sticky.js"></script>

        <!-- Ion.RangeSlider -->
        <script src="https://gestionautoecole.com/plugins/jquery-uimat-mat-mat-mat-sliderrrrr/jquery-ui.js"></script>

        <!--Showmore Js-->
        <script src="https://gestionautoecole.com/js/jquery.showmore.js"></script>
        <script src="https://gestionautoecole.com/js/showmore.js"></script>

        <!-- Custom scroll bar Js-->
        <script src="https://gestionautoecole.com/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

        <!-- Swipe Js-->
        <script src="https://gestionautoecole.com/js/swipe.js"></script>

        <!-- Scripts Js-->
        <script src="https://gestionautoecole.com/js/scripts2.js"></script>

        <!-- Custom Js-->
        <script src="https://gestionautoecole.com/js/custom.js"></script>


  <!-- jquery plugins -->
  <script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
        <!-- bootstrap js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


</body>
</html>
