<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Gestion Auto-écoles-J2HB PLUS Editeur sécurité Routière</title>
</head>
<body style=" background:rgb(251, 251, 252);">
	<app-headerlogged></app-headerlogged>
  <app-menu-sb></app-menu-sb>
    <div class="container-dashboard-body" style="max-width: 100%;margin-top: 60px;margin-bottom: 10px;">
        <!-- first container -->
      <div style=" display: flex;background:rgb(233, 236, 236);padding: 20px;">
      
        <div class="wrap-table100">
          <div class="table-header">
            <div class="row">
              <div class="col-9" style="font-size: 15px;">
                LIST DES RECETTES <span style="color: red;font-weight: 65;">À MOIS {{id}}</span> 
              </div>
            </div>
          </div>
      
<nav ngbNav #nav="ngbNav" class="nav-tabs">
  <ng-container ngbNavItem>
    <a ngbNavLink style="border:1px solid rgb(189, 186, 186); border-radius: 0;margin-right: 4px;color: rgb(104, 95, 95);">Permis</a>
    <ng-template ngbNavContent>
      <div class="tableDiv">
        <table class="table">
        
          <thead>
            <tr  style="color: black;">
              <th  scope="col">{{ "CIN" | translate }}</th>
              <th  scope="col">{{ "NOM" | translate }}</th>
              <th  scope="col">{{ "DATE" | translate }}</th>
              <th scope="col">{{ "TYPE" | translate }}</th>
              <th scope="col">{{ "MONTANT" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of permis;">
              <td> {{data.candidat.cin}}</td>
              <td>{{data.candidat.nom_fr}}{{" "}}{{data.candidat.prenom_fr}}</td>
              <td>{{data.date}}</td>
              <td>{{data?.type_p}}</td>
              <td>{{data.montant}}</td>
            </tr>
            </tbody>
        </table>
       
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink style="border:1px solid rgb(189, 186, 186); border-radius: 0;margin-right: 4px;color: rgb(104, 95, 95);">Cours Supplementaire</a>
    <ng-template ngbNavContent>
      <div class="tableDiv" >
        
        <table  class="table" >
          <thead>
            <tr  style="color: black;" >
              <th  scope="col">{{ "COURS" | translate }}</th>
              <th scope="col">{{ "NOMBRE HEURE PRATIQUE" | translate }}</th>
              <th scope="col">{{ "CANDIDATS" | translate }}</th>
              <th scope="col">{{ "CATEGORIE" | translate }}</th>
              <th scope="col">{{ "DATE" | translate }}</th>
              <th scope="col">{{ "MONTANT" | translate }}</th>
            </tr>
          </thead>
          <tbody>  
            <tr *ngFor="let data of supplementaire;">
              <td>Pratique</td>
              <td>{{data.candidat.nbr_heure_pratique}}</td>
              <td>{{data.candidat.nom_fr}}{{" "}}{{data.candidat.prenom_fr}}</td>
              <td> {{data.candidat.categorie}}</td>
              <td>{{data.date}}</td>
              <td>{{data.montant}}</td>
              
            </tr>
            </tbody>
        </table>
       
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink style="border:1px solid rgb(189, 186, 186); border-radius: 0;margin-right: 4px;color: rgb(104, 95, 95);">Produit Candidat</a>
    <ng-template ngbNavContent>
      
      <div class="tableDiv" >
        <table  class="table" >
            <thead>
              <tr  style="color: black;" >
                <th  scope="col">{{ "PRODUIT" | translate }}</th>
                <th scope="col">{{ "QUANTITE" | translate }}</th>
                <th scope="col">{{ "CANDIDAT" | translate }}</th>
                <th scope="col">{{ "PRIX" | translate }}</th>
                <th scope="col">{{ "DATE" | translate }}</th>
              </tr>
            </thead>
            <tbody>  
              <tr *ngFor="let data of supplementaire;">
                <td>Pratique</td>
                <td>{{data.candidat.nbr_heure_pratique}}</td>
                <td>{{data.candidat.nom_fr}}{{" "}}{{data.candidat.prenom_fr}}</td>
                <td>{{data.montant}}</td>
                <td>{{data.date}}</td>
              </tr>
              </tbody>
          </table>
        
       
      </div>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>


        </div>
      </div>
                     
                  
   </div>
      
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>