
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Gestion Auto-écoles-J2HB PLUS Editeur sécurité Routière</title>
</head>
<body style="font-size: 14px;background: #e5ebef;">
  <div class="h-55">
    <app-headerlogged></app-headerlogged>
  </div>
   <app-menu-sb></app-menu-sb>
   <div class="container-dashboard-body" style="max-width: 100%;margin-top: 112px;margin-bottom: 10px;margin-left: 225px;border-top-left-radius: 7px;background: #e5ebef;">
    <div style="display: flex;">
 <div class="wrap-table100">
  <div class="table-header">
    <div class="row">
      <div class="col-9" style="font-size: 15px;color: black;">
        LISTE DES RECETTES  À <span style="color:red">MOIS {{id}}</span></div>
    </div>
  </div>
  <div class="text-dark d-flex align-items-center my-1">
    <button (click)="stylebtn('.dg')" onclick="document.getElementById('tab1').style.display='block';document.getElementById('tab2').style.display='none';document.getElementById('tab3').style.display='none';" class="dg btn btn-button" style="background:black;color:white">Permis</button>

    <button  (click)="stylebtn('.dp')" onclick="document.getElementById('tab1').style.display='none';document.getElementById('tab2').style.display='block';document.getElementById('tab3').style.display='none';" class="dp btn btn-button">Cours supplémentaire</button>

    <button  (click)="stylebtn('.dv')" onclick="document.getElementById('tab1').style.display='none';document.getElementById('tab2').style.display='none';document.getElementById('tab3').style.display='block';" class="dv btn btn-button">Produit Candidat</button>
  </div>
  <div>
    <!-- tableau 1 -->
    <div class="text-dark" id="tab1">
      <div style="display: flex;align-items:center;justify-content:flex-end">
        <div style="margin-right: 6px">  Rechercher:</div>
        <mat-form-field appearance="standard">
           <mat-label></mat-label>
           <input matInput (keyup)="applyFilter($event)" placeholder="... " #input>
        </mat-form-field>
    </div>
     <table mat-table  [dataSource]="dataSource"  matSort #empTbSortfirst="matSort">    
   
      <ng-container matColumnDef="cin">    
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by categorie"> 
          <span style="font-weight:900;">{{ "CIN" | translate }}</span>    
        </th>
        <td mat-cell *matCellDef="let element">{{element?.candidat?.cin}}</td>
      </ng-container>
     <!-- 'cin', 'nom','date','type' ,'montant' -->
      
      <ng-container matColumnDef="nom">  					
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;">{{ "NOM" | translate }}</span>   </th>
        <td mat-cell *matCellDef="let element"> {{element?.candidat?.nom_fr}}{{" "}}{{element?.candidat?.prenom_fr}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="date">   
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  <span style="font-weight:900;">{{ "DATE" | translate }}</span> </th>
        <td mat-cell *matCellDef="let element">{{element?.date}}</td>
      </ng-container>
  
      <ng-container matColumnDef="type_p">  
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;">{{ "TYPE" | translate }}</span> </th>
        <td mat-cell *matCellDef="let element">{{element?.type_p}}</td>
      </ng-container>   
    
      <ng-container matColumnDef="montant">  
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;">{{ "MONTANT" | translate }}</span> </th>
        <td mat-cell *matCellDef="let element">{{element?.montant}}</td>
      </ng-container>   
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator 
      #paginatorfirst
      [pageSize]="5"  
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
    </div>
    <!-- end tableau 1 -->
    <!-- tableau 2 -->
    <div class="text-dark" id="tab2" style="display: none;">
      <div class="text-dark" id="tab1">
        <div style="display: flex;align-items:center;justify-content:flex-end">
          <div style="margin-right: 6px">  Rechercher:</div>
          <mat-form-field appearance="standard">
             <mat-label></mat-label>
             <input matInput (keyup)="applyFilter2($event)" placeholder="... " #input>
          </mat-form-field>
      </div>
       <table mat-table  [dataSource]="dataSource2"  matSort #empTbSortsecond="matSort">    
     
        <ng-container matColumnDef="cours">  		 
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;">{{ "COURS" | translate }}</span>   </th>
          <td mat-cell *matCellDef="let element">Pratique</td>
        </ng-container>
      
        
        <ng-container matColumnDef="nombreHeurePratique">   
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  <span style="font-weight:900;">{{ "NOMBRE D'HEURE PRATIQUE" | translate }}</span> </th>
          <td mat-cell *matCellDef="let element">{{element?.candidat?.nbr_heure_pratique}}</td>
        </ng-container>
      
        <ng-container matColumnDef="candidats">  
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;">{{ "CANDIDATS" | translate }}</span> </th>
          <td mat-cell *matCellDef="let element">{{element?.candidat?.nom_fr}}{{" "}}{{element?.candidat?.prenom_fr}}</td>
        </ng-container>   
      
        <ng-container matColumnDef="categorie">  
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;">{{ "CATÉGORIE" | translate }}</span> </th>
          <td mat-cell *matCellDef="let element">{{element?.candidat?.categorie_demandee}}</td>
        </ng-container>   
      
        <ng-container matColumnDef="date">  
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;">{{ "DATE" | translate }}</span> </th>
          <td mat-cell *matCellDef="let element">{{element?.date}}</td>
        </ng-container>   
      
        <ng-container matColumnDef="montant">  
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;">{{ "MONTANT" | translate }}</span> </th>
          <td mat-cell *matCellDef="let element">{{element?.montant}}</td>
        </ng-container>   
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>
      <mat-paginator 
        #paginatorSecond
        [pageSize]="5"  
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
      </div>
    </div>
    <!-- end tableau 2 -->
    <!-- tableau 3 -->
    <div class="text-dark" id="tab3" style="display: none;">
      <div class="text-dark" id="tab1">
        <div style="display: flex;align-items:center;justify-content:flex-end">
          <div style="margin-right: 6px">  Rechercher:</div>
          <mat-form-field appearance="standard">
             <mat-label></mat-label>
             <input matInput (keyup)="applyFilter3($event)" placeholder="... " #input>
          </mat-form-field>
      </div>
       <table mat-table  [dataSource]="dataSource3"  matSort #empTbSorthird="matSort">    
        <ng-container matColumnDef="produit">  		 
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;">{{ "PRODUIT" | translate }}</span>   </th>
          <td mat-cell *matCellDef="let element">{{element?.produit?.libelle}} </td>
        </ng-container>
    
       
        <ng-container matColumnDef="quantite">   
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  <span style="font-weight:900;">{{ "QUANTITÉ" | translate }}</span> </th>
          <td mat-cell *matCellDef="let element">{{element?.produit?.quantite}}</td>
        </ng-container>
    
        <ng-container matColumnDef="candidat">  
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;">{{ "CANDIDAT" | translate }}</span> </th>
          <td mat-cell *matCellDef="let element">{{element?.candidat?.nom_fr}}{{" "}}{{element?.candidat?.prenom_fr}}</td>
        </ng-container>   
      
        <ng-container matColumnDef="prix">  
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;">{{ "PRIX" | translate }}</span> </th>
          <td mat-cell *matCellDef="let element">{{element?.prixTotale}}</td>
        </ng-container>   

        <ng-container matColumnDef="date">  
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;">{{ "DATE" | translate }}</span> </th>
          <td mat-cell *matCellDef="let element">{{element?.date}}</td>
        </ng-container>   

        <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
      </table>
      <mat-paginator 
        #paginatorthird
        [pageSize]="5"  
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
      </div>
    </div>
    <!-- end tableau 3 -->
  </div>
 
</div>
  </div>
  <!-- fin first container -->
                  

    
             
 </div>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

