<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Gestion Auto-écoles-J2HB PLUS Editeur sécurité Routière</title>
</head>
<body style=" background:rgb(251, 251, 252);" id="boutique">
	<!-- <app-headerlogged></app-headerlogged> -->
    <!-- <app-menu-admin></app-menu-admin> -->
    <app-slide-bar></app-slide-bar>
    <div class="container-dashboard-body" style="max-width: 100%;margin-top: 60px;margin-bottom: 10px;">
      <div style="display: flex;background:rgb(233, 236, 236);">
<div class="wrap-table100">
  <div class="tableDiv">

    <div class="mat-elevation-z8">
     
      <div style="display: flex;align-items:center; justify-content:space-between;margin-bottom: 10px;margin-left: 6px;margin-right: 6px;padding: 10px;">
        <div style="font-weight: 600;">GESTION PRODUITS
        </div>
        <button 
        class="btn"
        style="background:#198754;color: white;padding: 5px;" (click)="open('Ajouter', null)">Nouveau produit</button>
    </div>
    <hr>
       <div style="display: flex;align-items:center;justify-content:flex-end">
           <div style="margin-right: 6px">  Rechercher:</div>
           <mat-form-field appearance="standard">
              <mat-label></mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="... " #input>
           </mat-form-field>
       </div>
        <table mat-table [dataSource]="dataSource" matSort>    
      
          <!-- image Column -->   
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by imege"> 
              <span style="font-weight:900;font-size: 11px;">IMAGE</span>    
            </th>
            <td mat-cell *matCellDef="let element"> <img src="{{element.image}}" style="width: 90px;height:90px;margin-right: 6px;" alt=""> </td>
          </ng-container>
      
          <!-- titre Column --> 
          <ng-container matColumnDef="titre">   
            <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">TITRE</span>   </th>
            <td mat-cell *matCellDef="let element"> {{element.titre}} </td>
          </ng-container>
      
          <!-- prix Column --> 
          <ng-container matColumnDef="prix">   
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  <span style="font-weight:900;font-size: 11px;">PRIX</span> </th>
            <td mat-cell *matCellDef="let element"> {{element.prix}} </td>
          </ng-container>
      
          <!-- promotion Column -->
          <ng-container matColumnDef="promotion">        
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;font-size: 11px;">PROMOTION</span> </th>
            <td mat-cell *matCellDef="let element"> {{element.promotion}} </td>
          </ng-container>   
         <!-- actions Column -->
         <ng-container matColumnDef="actions">    
          <th mat-header-cell *matHeaderCellDef><span style="font-weight:900;font-size: 11px;">ACTIONS</span>  </th>
          <td mat-cell *matCellDef="let element" style="display: flex;align-items: center;justify-content: center;margin-top: 20px;"> 
              <button (click)="opentail(element)" class="btn" style="background: rgb(3, 197, 245);color: white;padding: 10px;">
                Detail 
              </button>
              <button 
                  (click)="open('Modifier', element)"
                  class="btn" style="background: rgb(245, 3, 3);color: white;;padding: 10px;">
                  Modifier 
              </button>
              <button (click)="deleteProduitAdmin(element?.id)" class="btn btn-green" style="background: black; color: white;padding: 10px;">
                  Supprimer 
              </button>
          </td>
        </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator 
          #paginator
          [pageSize]="5"  
          [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
      </div>
 
  </div>
</div>
      </div>
    
   </div>
</body>
</html>