<div class="modal-content" style="height:460px;">
    <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modifier vente</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
    </button>
    </div>
    <form class="form" [formGroup]="form"  method="POST"   enctype="multipart/form-data" style="padding: 20px;">
       <div class="card-body">
          <div class="card-body">
              <p style="color: red; font-weight: bold;font-size: 12px;">(*) Champs obligatoire</p>
              
              <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">     
                            <label class="form-label">Candidat</label>  
                            <select class="form-control" name="candidat" formControlName="candidat_id" >
                                <option value="">Choisissez un candidat</option>
                                 <option *ngFor="let data of candidatBasic" value="{{data?.id}}">{{data?.nom_fr}}{{" "}}{{data?.prenom_fr}}</option>
                                 <option *ngFor="let data of candidatSupplementaire" value="{{data?.id}}">{{data?.nom_fr}}{{" "}}{{data?.prenom_fr}}</option>
                                  
                            </select>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="form-label">Libelle</label>
                            <select class="form-control" name="produit" formControlName="produit_id" >
                                <option value="">Choisissez un produit</option>
                               <option *ngFor="let data of produits" value="{{data.id}}">{{data.libelle}}</option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group"> 
                            <label class="form-label">Quantité disponible</label>
                            <input type="text" name="quantite_dispo" formControlName="quantiteDisponible"  class="form-control" >
                            
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="form-label">Prix unitaire</label>
                            <input type="text" name="prix_u"  class="form-control" formControlName="prixUnitaire" >
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="form-label">Quantité</label> 
                            <input type="text" name="quantite"  class="form-control" formControlName="quantite">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">         
                            <label class="form-label">Prix totale</label>
                            <input type="text" name="prix_t"  class="form-control" formControlName="prixTotale">
                        </div>
                    </div>
                    <div class="col-md-5" style="margin-bottom: 10px ;">
                        <div class="form-group">
                            <label class="form-label">Date</label>
                            <input type="Date" name="date" id="date_edit" class="form-control" formControlName="date">
                        </div>
                    </div>
              </div>
             
          </div>
      </div>

      <div class="card-footer">
          <button type="submit" class="btn" style="background:#198754 ;color: white;" id="button_edit" (click)="addVente()"><i class="fa fa-edit" aria-hidden="true"></i>  {{btn}}</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">Annuler</button>
      </div>
  </form>	
</div>