<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" content="Job board html template">
  <meta name="Author" content="Spruko Technologies Private Limited">
  <meta name="keywords" content=""/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta property="og:image" content="/assets/img/logo_gae.png">
  <meta name="csrf-token" content="l2vGHGGkLfgABEqzYiMOwbuolN7SWzURXuPGWLe5">
  <link rel="icon" href="/assets/img/logo_gae.png" type="image/x-icon"/>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/logo_gae.png" />
  <title>Gestion Auto-écoles-J2HB PLUS Editeur sécurité Routière</title>
</head>
<body style=" background:rgb(251, 251, 252);">
	<!-- <app-headerlogged></app-headerlogged> -->
  
    <app-slide-bar></app-slide-bar>
    <!-- <app-menu-admin></app-menu-admin> -->
    <div class="container-dashboard-body " style="max-width: 100%;margin-top: 85px;margin-bottom: 10px;">
       
        <div style="display: flex;">
            <div class="container-child-dashboard">
                <div class="child1">
                    <span> AUTO ECOLES</span>
                    <a class="btn btn-sm btn-primary" style="height: 30px;" routerLink="/gestion-auto-ecole">Voir</a>
                </div>
                <hr>
                
                <span>Total</span>
                <h3>{{totalAE}}</h3>
                <div class="progress progress-sm mt-0 mb-2">
                    <div class="progress-bar bg-primary w-100" role="progressbar"></div>
                </div>
                <div>100%</div>
            </div>
            <div class="container-child-dashboard">
                <div class="child1">
                    <span> ECOLES APPROUVER
                    </span>
                    <a class="btn btn-sm bg-success" style="height: 30px;color: white;" routerLink="/gestion-approuve-ecole">Voir</a>
                </div>
                <hr>
                
                <span>Total</span>
                <h3>{{totalAEA}}</h3>
                <div class="progress progress-sm mt-0 mb-2">
                    <div class="progress-bar bg-success w-100" role="progressbar"></div>
                </div>
                <div>0 / Mois</div>
            </div>
            <div class="container-child-dashboard">
                <div class="child1">
                    <span> ECOLES EN ATTENTE
                    </span>
                    <a class="btn btn-sm bg-warning" style="height: 30px;" routerLink="/gestion-enattente-ecole">Voir</a>
                </div>
                <hr>
                
                <span>Total</span>
                <h3>{{totalAE_Attente}}</h3>
                <div class="progress progress-sm mt-0 mb-2">
                    <div class="progress-bar bg-warning w-100" role="progressbar"></div>
                </div>
                <div>100%</div>
            </div>
            <div class="container-child-dashboard">
                <div class="child1">
                    <span> ARCHIVE </span>
                    <a class="btn btn-sm bg-secondary" style="height: 30px;color: white;" routerLink="/archive-auto-ecole">Voir</a>
                </div>
                <hr>
                
                <span>Total</span>
                <h3>{{totalAECOLEarchive}}</h3>
                <div class="progress progress-sm mt-0 mb-2">
                    <div class="progress-bar bg-secondary w-100" role="progressbar"></div>
                </div>
                <div>100%</div>
            </div>
        </div>
        <div class="avis">
                <div class="d-flex align-items-center">
                  <button id="btn1" onclick="document.getElementById('btn1').style.color='white';document.getElementById('btn1').style.background='black';document.getElementById('tab1').style.display='block';document.getElementById('tab2').style.display='none';
                  document.getElementById('btn2').style.color='black';document.getElementById('btn2').style.background='white';" 
                  class="btn mx-1" style="background: black;color: white;" >Approuver</button>
                  <button id="btn2" 
                  onclick="document.getElementById('btn1').style.color='black';
                  document.getElementById('btn1').style.background='white';
                  document.getElementById('tab1').style.display='none';
                  document.getElementById('tab2').style.display='block';
                  document.getElementById('btn2').style.color='white';
                  document.getElementById('btn2').style.background='black';"

                  class="btn btn-auto">Desapprouver</button>
                </div>
                <div id="tab1">
                  <table mat-table [dataSource]="dataSource" matSort>    

                    <ng-container matColumnDef="nom_auto_ecole">       
                      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nom_auto_ecole"> 
                        <span style="font-weight:500;font-size: 11px;">NOM</span>    
                      </th>
                      <td mat-cell *matCellDef="let element">{{element?.nom_auto_ecole}}</td>
                    </ng-container>
               
                    <ng-container matColumnDef="responsable">  
                      <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">RESPONSABLE</span></th>
                      <td mat-cell *matCellDef="let element">{{element?.nom_responsable}}{{" "}}{{element?.prenom_responsable}} </td>
                    </ng-container>
            
                      <ng-container matColumnDef="etat">  
                        <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">ETAT</span>   </th>
                        <td mat-cell *matCellDef="let element"><p style="background: rgb(0, 255, 13);width: 58px;">Approuvé</p></td>
                      </ng-container> 
            
                    <ng-container matColumnDef="telephone">  
                      <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">TEL AUTO-ÉCOLE</span></th>
                      <td mat-cell *matCellDef="let element">{{element?.telephone}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="tel_responsable">   
                      <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">TÉL DE GÉRANT(E)</span> </th>
                      <td mat-cell *matCellDef="let element">{{element?.tel_responsable}}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="pays">  
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;font-size: 11px;">PAYS/VILLE</span> </th>
                      <td mat-cell *matCellDef="let element">{{element?.pays}}/{{element?.ville}}</td>
                    </ng-container>   
                   
                    <ng-container matColumnDef="actions">  
                      <th mat-header-cell *matHeaderCellDef><span style="font-weight:900;font-size: 11px;">ACTIONS</span>  </th>
                      <td mat-cell *matCellDef="let element"> 
                        <button title="désapprouver" 
                        (click)="desapprover(element?.id)"
                        class="btn" style="background-color: #ff8819;color: white;height: 40px;width: 120px;">
                        Désapprouver
                      </button>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator 
                  [length]="n" 
                  [pageSize]="5"  
                  [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
                </div>


                <div id="tab2" style="display: none;">
                  <table  mat-table  [dataSource]="dataSource1"  matSort #empTbSort1="matSort">    
                   
                    <ng-container matColumnDef="nom_auto_ecole">       
                      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nom_auto_ecole"> 
                        <span style="font-weight:900;font-size: 11px;">NOM</span>    
                      </th>
                      <td mat-cell *matCellDef="let element">{{element?.nom_auto_ecole}}</td>
                    </ng-container>
               
                    <ng-container matColumnDef="responsable">  
                      <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">RESPONSABLE</span></th>
                      <td mat-cell *matCellDef="let element">{{element?.nom_responsable}}{{" "}}{{element?.prenom_responsable}} </td>
                    </ng-container>
            
                      <ng-container matColumnDef="etat">  
                        <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">ETAT</span>   </th>
                        <td mat-cell *matCellDef="let element"><p style="background: rgb(0, 255, 13);width: 90px;">Desapprouver</p></td>
                      </ng-container> 
            
                    <ng-container matColumnDef="telephone">  
                      <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">TEL AUTO-ÉCOLE</span></th>
                      <td mat-cell *matCellDef="let element">{{element?.telephone}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="tel_responsable">   
                      <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">TÉL DE GÉRANT(E)</span> </th>
                      <td mat-cell *matCellDef="let element">{{element?.tel_responsable}}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="pays">  
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;font-size: 11px;">PAYS/VILLE</span> </th>
                      <td mat-cell *matCellDef="let element">{{element?.pays}}/{{element?.ville}}</td>
                    </ng-container>   
                   <!-- actions Column -->  
                   <ng-container matColumnDef="actions" style="color:white;font-size:15px">   
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>  <span style="font-weight:900;font-size: 11px;">ACTIONS</span> </th>
                     <td mat-cell *matCellDef="let element" style="text-align: center;"> 
                        <button title="approuver" 
                        class="btn"
                        (click)="approver(element?.id)"
                        style="background: rgb(34, 105, 46);color: white;height: 40px;width: 120px;">
                          Approuver
                      </button>
                     </td>
                   </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator 
                      #paginatorSecond
                     [pageSize]="5"  
                     [pageSizeOptions]="[5, 10, 25, 100]">
                  </mat-paginator> 
                </div>
          
        </div>        
   </div>
      


</body>
</html>




<!-- ****************************** -->
<!-- <ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a id="approver" style="color: black;"
      ngbNavLink>Approuver</a>
    <ng-template ngbNavContent>
      kl;
      <table mat-table [dataSource]="dataSource" matSort>    

        <ng-container matColumnDef="nom_auto_ecole">       
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nom_auto_ecole"> 
            <span style="font-weight:900;font-size: 11px;">NOM</span>    
          </th>
          <td mat-cell *matCellDef="let element">{{element?.nom_auto_ecole}}</td>
        </ng-container>
   
        <ng-container matColumnDef="responsable">  
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">RESPONSABLE</span></th>
          <td mat-cell *matCellDef="let element">{{element?.nom_responsable}}{{" "}}{{element?.prenom_responsable}} </td>
        </ng-container>

          <ng-container matColumnDef="etat">  
            <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">ETAT</span>   </th>
            <td mat-cell *matCellDef="let element"><p style="background-color: rgb(0, 255, 13);color: white;">Approuvé</p></td>
          </ng-container> 

        <ng-container matColumnDef="telephone">  
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">TEL AUTO-ÉCOLE</span></th>
          <td mat-cell *matCellDef="let element">{{element?.telephone}} </td>
        </ng-container>

        <ng-container matColumnDef="tel_responsable">   
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 11px;">TÉL DE GÉRANT(E)</span> </th>
          <td mat-cell *matCellDef="let element">{{element?.tel_responsable}}</td>
        </ng-container>
    
        <ng-container matColumnDef="pays">  
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;font-size: 11px;">PAYS/VILLE</span> </th>
          <td mat-cell *matCellDef="let element">{{element?.pays}}/{{element?.ville}}</td>
        </ng-container>   
       
        <ng-container matColumnDef="actions">  
          <th mat-header-cell *matHeaderCellDef><span style="font-weight:900;font-size: 11px;">ACTIONS</span>  </th>
          <td mat-cell *matCellDef="let element"> 
            <button title="désapprouver" 
            (click)="desapprover(element?.id)"
            class="btn" style="background-color: #ff8819;color: white;height: 40px;width: 120px;">
            Désapprouver
          </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator 
      [length]="n" 
      [pageSize]="5"  
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
       
        
    </ng-template>
  </li>
  <li ngbNavItem>
    <a id="desapprover"  style="color: black;" ngbNavLink>Désapprouver</a>
    <ng-template ngbNavContent>
      <table class="table">
          <thead>
            <tr style="color: black;" >
              <th  scope="col">{{ "AUTO-ECOLE" | translate }}</th>
              <th scope="col">{{ "AVIS" | translate }}</th>
              <th scope="col">{{ "ETAT" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of autoEcoleEnAttente; " >
              <td  >{{data.nom_auto_ecole}}</td>
              <td> {{data.avis}}</td>
              <td>
                  <button title="approuver" 
                   class="btn"
                   (click)="approver(data?.id)"
                    style="background: #19ff2c;color: white;height: 40px;width: 120px;">
                      Approuver
                  </button>
              </td>
          </tr>
             
          
            </tbody>
        </table>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div> -->
