<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <title>Gestion Auto-écoles-J2HB PLUS Editeur sécurité Routière</title>
</head>
<body style=" background:rgb(251, 251, 252);">
    <app-headerlogged></app-headerlogged>
    <app-menu-sb></app-menu-sb>
    <div class="container-dashboard-body" style="max-width: 100%;margin-top: 60px;margin-bottom: 10px;">
        <!-- first container -->
      <div style=" display: flex;background:rgb(233, 236, 236);padding: 20px;">
      
        <div class="container-form col-12">
            <div class="container">
                <section class="content" id="form-font">
                    <form class="form"  [formGroup]="form" (ngSubmit)="AddDivis()" method="POST" action="" id="register" 
                    enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="first-name-column">{{ "Numéro*" | translate }} :</label>
                                        <select class="form-control" name="numero" formControlName="numero">
                                            <option value="1">{{ "num" | translate }}1</option>
                                            <option value="2">{{ "num" | translate }}2</option>
                                        </select> 
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.numero.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.numero.errors.required">
                                          {{'field required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="city-column">{{ "Date*" | translate }}:</label>
                                    <input type="date" class="form-control" formControlName="date">   
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.date.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.date.errors.required">
                                          {{'field required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
            
                          
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="city-column">{{ "Candidat*" | translate }}:</label>
                                    <select class="form-control" name="moniteur-pratique" formControlName="candidat_id">
                                        <option value="">{{ "Choisir un candidat" | translate }}</option>
                                        <option value="1">{{ "candidat" | translate }}1</option>
                                        <option value="2">{{ "candidat" | translate }}2</option>
                                    </select>     
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.candidat_id.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.candidat_id.errors.required">
                                          {{'field required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                            
                           
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="last-name-column">{{ "Société*" | translate }}:</label>
                                    <input type="text" id="appt" name="appt" class="form-control" formControlName="date">
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.date.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.date.errors.required">
                                          {{'field required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
            
            
            
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email-id-column">{{ "Remarque" | translate }}:</label>
                                    <textarea class="form-control adresse" name="remarque" id="remarque" formControlName="remarque"
                                        placeholder="{{ 'Remarque' | translate }}"></textarea>
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.remarque.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.remarque.errors.required">
                                          {{'field required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <button class="btn next-btn" id="button1-fnt" (click)="AddDivis()">
                            <i class="fa fa-plus"></i>
                            {{ "Ajouter" | translate }}
                            
                        </button>
                    </div>
                </div>
            </div>
            </div>
      </div>
                       
                  
   </div>
      


</body>
</html>




<!-- 
     -->