
<!doctype html>
<html lang="fr">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="Job board html template">
        <meta name="Author" content="Spruko Technologies Private Limited">
        <meta name="keywords" content=""/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="csrf-token" content="EyyYSiAbcWCiTKOK2fPvbpBLxLevZOVzfgZLQKLS">
        <link rel="icon" href="/assets/img/logo_gae.png" type="image/x-icon"/>
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/logo_gae.png" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
        <!-- Title -->
        <title>Gestion Auto-écoles - J2HB Plus Editeur de la securité routiére au maroc.</title>
        <!-- Dashboard Css -->
        <link href="https://gestionautoecole.com/css/style.css" rel="stylesheet" />
</head>
    <body class="main-body bg-white" >
        <style>
.form-section{
    padding-left: 15px;
    display: none;
}

.form-section.current
{
    display: block;
}

/* .btn-success
{
    margin-left: 20px;
} */
/* .btn-info, .btn-success
{
    margin-top: 10px;
    font-size: 1rem;
} */

.form-label {
    font-size: 20px;
}

.form-navigation
{
    text-align: center;
}

.modal h5
{
    font-size: 40px;
    font-weight: 700;
}

#registerMission
{
    display: none;
}
#loginMission
{
 display: none;   
}




.parsley-required,.parsley-type
{
    margin: 2px 0px 3px;
    padding: 0;
    list-style-type: none;
    color: red;
}

</style>
    

        <div class="page custom-pages">
    <div class="page-content z-index-10">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Vérifiez votre adresse e-mail</div>

                        <div class="card-body">
                                                        <label class="form-label text-dark">
                            Avant de continuer, veuillez vérifier votre e-mail pour valider votre compte,
                            Si vous n &#039;avez pas reçu l &#039;e-mail.
                            </label>
                            <form class="d-inline" [formGroup]="form" (ngSubmit)="resendEmail()"  method="POST" action=""  
                            enctype="multipart/form-data">
                            <button type="submit" class="btn btn-success">Cliquez ici pour en demander un autre</button>
                            </form>
                            <div class="text-center  mt-3 text-dark" style="margin-left: -100px">
                                <button (click)="logout()" class="btn" style="font-weight:700;border: none;background:white;color: black;text-decoration: underline;">Se déconnecter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://gestionautoecole.com/js/Abonner/abonner.js"></script>
<!--Footer Section-->        <!-- Back to top -->
        <a routerLink="#top" id="back-to-top" ><i class="fa fa-arrow-up"></i></a>

        <!-- Bootstrap js -->
        <script src="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/js/popper.min.js"></script>
        <script src="https://gestionautoecole.com/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

        <!-- Tags Input -->
        <script src="https://gestionautoecole.com/js/bootstrap-tagsinput.js"></script>

        <!---Accordion Js-->
        <script src="https://gestionautoecole.com/plugins/accordion/accordion.min.js"></script>
        <script src="https://gestionautoecole.com/js/accor.js"></script>

        <!--JQuery Sparkline Js-->
        <script src="https://gestionautoecole.com/js/vendors/jquery.sparkline.min.js"></script>

        <!-- Circle Progress Js-->
        <script src="https://gestionautoecole.com/js/vendors/circle-progress.min.js"></script>

        <!-- Star Rating Js-->
        <script src="https://gestionautoecole.com/plugins/rating/jquery.rating-stars.js"></script>

        <!--Counters -->
        <script src="https://gestionautoecole.com/plugins/counters/counterup.min.js"></script>
        <script src="https://gestionautoecole.com/plugins/counters/waypoints.min.js"></script>
        <script src="https://gestionautoecole.com/plugins/counters/numeric-counter.js"></script>

        <!--Owl Carousel js -->
        <script src="https://gestionautoecole.com/plugins/owl-carousel/owl.carousel.js"></script>

        <!--Horizontal Menu-->
        <script src="https://gestionautoecole.com/plugins/horizontal/horizontal-menu/horizontal.js"></script>

        <!--JQuery TouchSwipe js-->
        <script src="https://gestionautoecole.com/js/jquery.touchSwipe.min.js"></script>

        <!--Select2 js -->
        <script src="https://gestionautoecole.com/plugins/select2/select2.full.min.js"></script>
        <script src="https://gestionautoecole.com/js/select2.js"></script>

        <!-- Datepicker js -->
        <script src="https://gestionautoecole.com/plugins/date-picker/spectrum.js"></script>
        <script src="https://gestionautoecole.com/plugins/date-picker/jquery-ui.js"></script>
        <!-- <script src="https://gestionautoecole.com/plugins/input-mask/jquery.maskedinput.js"></script> -->

        <!-- Inline js -->
        <script src="https://gestionautoecole.com/js/formelements.js"></script>

        <!-- file uploads js -->
        <script src="https://gestionautoecole.com/plugins/fileuploads/js/dropify.js"></script>

        <!-- sticky Js-->
        <script src="https://gestionautoecole.com/js/sticky.js"></script>

        <!-- Ion.RangeSlider -->
        <script src="https://gestionautoecole.com/plugins/jquery-uislider/jquery-ui.js"></script>

        <!--Showmore Js-->
        <script src="https://gestionautoecole.com/js/jquery.showmore.js"></script>
        <script src="https://gestionautoecole.com/js/showmore.js"></script>

        <!-- Custom scroll bar Js-->
        <script src="https://gestionautoecole.com/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

        <!-- Swipe Js-->
        <script src="https://gestionautoecole.com/js/swipe.js"></script>

        <!-- Scripts Js-->
        <script src="https://gestionautoecole.com/js/scripts2.js"></script>

        <!-- Custom Js-->
        <script src="https://gestionautoecole.com/js/custom.js"></script>
    </body>
</html>
