<div style="padding: 10px;margin-top: 60px;display: flex;align-items: center;justify-content: center;background: green;">
    <form class="form" [formGroup]="form"  method="POST" action="" id="ajoute_cours" style="width: 100%;" enctype="multipart/form-data">
        <div class="card-body">
          <p style="color: red; font-weight: bold;font-size: 12px;">(*)Champs obligatoire</p>
          <li *ngIf="errorcategorieDepenselocal" style="color: white;background:red">
             {{errorcategorieDepenselocal}}
          </li>
          <div class="row justify-content-md-center">
              <div class="col-md-9">
                  <div class="form-groupe">
                    <span style="text-transform: uppercase;padding: 5px;font-style: 13px;font-weight: 600;">Ajouter Categorie depense local</span>
                  </div>
                  <div class="form-group">
                      <label class="form-label" style="font-size: 13px;font-weight: 100;">Catégorie</label>
                      <input type="text" name="categorie" style="height: 30px;font-size: 15px;" class="form-control" formControlName="categorie">
                      <span>exemple: GSM,Eau/Electricite, ...</span>
                      <div class="err" *ngIf="submitted && this.form.controls.categorie.errors">
                        <div style="color: red;" *ngIf="this.form.controls.categorie.errors.required">
                              {{'champs obligatoire * ' | translate}}  
                        </div>
                      </div>
                  </div>
                  
              </div>
          
          </div>
      </div>
      <div class="card-footer" style="margin-top: 7px;">
        <button type="submit" class="btn" style="background:#198754 ;color: white;font-size: 16px;" (click)="addcategorie()">Ajouter</button>
          <button type="button" class="btn btn-danger" style="font-size: 16px;" [disabled]="disabled" (click)="next()">Suivant</button>
      </div>
    </form>	
</div>