<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{btn}} Moniteur</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <form class="form" [formGroup]="form"  method="POST"   enctype="multipart/form-data">
    <div class="modal-body">
          <div class="card-body">
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-group">
                          <label class="form-label">Nom*</label>
                          <input type="text" class="form-control" name="titre" placeholder="nom de moniteur" formControlName="nom">
                      </div>
                      <div class="err" *ngIf="submitted && this.form.controls.nom.errors">
                        <div style="color: red;" *ngIf="this.form.controls.nom.errors.required">
                              {{' field required.' | translate}}  
                        </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                      <div class="form-group">
                          <label class="form-label">Description*</label>
                          <textarea rows="5" class="form-control" placeholder="Description de moniteur" name="description"  formControlName="description"></textarea>
                      </div>
                      <div class="err" *ngIf="submitted && this.form.controls.description.errors">
                        <div style="color: red;" *ngIf="this.form.controls.description.errors.required">
                              {{' field required.' | translate}}  
                        </div>

                    </div>
                  </div>

                  <div class="col-md-12">
                      <div class="form-group">
                          <label class="form-label">Salaire*</label>
                          <input type="text" class="form-control" name="prix" placeholder="Prix" formControlName="salaire">
                      </div>
                      <div class="err" *ngIf="submitted && this.form.controls.salaire.errors">
                        <div style="color: red;" *ngIf="this.form.controls.salaire.errors.required">
                              {{' field required.' | translate}}  
                        </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                      <div class="form-group">
                          <label class="form-label">Date*</label>
                          <input type="date" class="form-control" name="date" placeholder="Date" formControlName="date">
                      </div>
                      <div class="err" *ngIf="submitted && this.form.controls.date.errors">
                        <div style="color: red;" *ngIf="this.form.controls.date.errors.required">
                              {{' field required.' | translate}}  
                        </div>

                    </div>
                  </div>

                  <div class="col-md-12">
                      <div class="form-group">
                          <label *ngIf="show"  class="form-label">Image*</label>
                          <input *ngIf="show" class="form-control" type="file"  name="image" formControlName="image" (change)="fileChangeEvent($event)"
                                data-allowed-file-extensions="jpeg jpg png"
                                accept="image/*">
                                <img *ngIf="data?.image" src="{{data?.image}}" alt="" style="width: 200px;height:200px;">
                      </div>
                  </div>
              </div>
          </div>
    </div>
    <div class="modal-footer">
          <button *ngIf="show" type="submit" class="btn" style="background: #198754;color: white;"  (click)="gestionMoniteurJob()" >{{btn}}</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">Fermer</button>
    </div>
    </form>
  </div>