
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Gestion Auto-écoles-J2HB PLUS Editeur sécurité Routière</title>
</head>
<body style="font-size: 14px;background: #e5ebef;">
  <div class="h-55">
    <app-headerlogged></app-headerlogged>
  </div>
   <app-menu-sb></app-menu-sb>
   <div class="container-dashboard-body" style="max-width: 100%;margin-top: 112px;margin-bottom: 10px;margin-left: 225px;border-top-left-radius: 7px;background: #e5ebef;">
    <div style="display: flex;background: #e5ebef;">
      <div class="wrap-table100">
        <div class="mat-elevation-z8">
          <div style="display: flex;align-items:center; justify-content:space-between;margin-bottom: 10px;margin-left: 6px;margin-right: 6px;padding: 10px;">
            <div style="font-weight: 600;color: black;">LISTES DES PRODUITS
            </div>
            <div class="col-3 add-btn-div" >
              <button 
                  (click)="open('Ajouter', null)"
                  class="btn" 
                  style="background-color: #198754;color: white;font-style: 14px;">
                <i class="fa fa-plus"></i>{{ "Nouveau Produit" | translate }}
              </button>
            </div>
        </div>
        <hr>
        <mat-card>
          <div class="card" style="width: 100%;">
            <div class="card-body">
               <div class="table-responsive border-top mb-0">
                      <!--ABSENCE candidats -->
                  
                        <div style="display: flex;align-items:center;justify-content:flex-end">
                          <div style="margin-right: 6px">  Rechercher:</div>
                          <mat-form-field appearance="standard">
                             <mat-label></mat-label>
                             <input matInput (keyup)="applyFilter($event)" placeholder="... " #input>
                          </mat-form-field>
                      </div>
                       <table  mat-table [dataSource]="dataSource" matSort>    
                     
                        <ng-container matColumnDef="fournisseur">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fournisseur"> 
                            <span style="font-weight:900;margin-right: 5px;">FOURNISSEUR</span>    
                          </th>
                          <td mat-cell *matCellDef="let element"> {{element.fournisseur}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="libelle">    
                          <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;margin-right: 5px;">LIBELLE</span>   </th>
                          <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="prix">   
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>  <span style="font-weight:900;margin-right: 5px;">PRIX</span> </th>
                          <td mat-cell *matCellDef="let element"> {{element.prix}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="quantite">  
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;margin-right: 5px;">QUANTITE</span> </th>
                          <td mat-cell *matCellDef="let element"> {{element.quantite}} </td>
                        </ng-container>   
                
                        <ng-container matColumnDef="description"> 
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;">DESCRIPTION</span> </th>
                          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                        </ng-container>
                        <ng-container matColumnDef="gsm">  
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;">GSM</span> </th>
                          <td mat-cell *matCellDef="let element"> {{element.autoecole[0]?.tel_responsable}} </td>
                        </ng-container> 
                 
                    
                       <ng-container matColumnDef="actions">  
                        <th mat-header-cell *matHeaderCellDef><span style="font-weight:900;">ACTIONS</span>  </th>
                        <td mat-cell *matCellDef="let element"> 
                            <button class="btn btn-danger" style="padding: 5px;" (click)="deleteProduit(element.id)">
                              Supprimer 
                            </button>
                            <button 
                            (click)="open('Modifier', element)"
                                class="btn btn-primary"
                                style="padding: 5px; width: 85px;margin-top: 2px;">
                              Modifier
                            </button>
                        </td>
                      </ng-container>
                
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      <mat-paginator 
                          #paginator
                          [pageSize]="5"  
                          [pageSizeOptions]="[5, 10, 25, 100]"> 
                      </mat-paginator>
                      <!-- end ABSENCE candidats -->
               </div>
            </div>
        </div>
        </mat-card>
           <!-- <div style="display: flex;align-items:center;justify-content:flex-end">
               <div style="margin-right: 6px">  Rechercher:</div>
               <mat-form-field appearance="standard">
                  <mat-label></mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="... " #input>
               </mat-form-field>
           </div>
            <table mat-table [dataSource]="dataSource" matSort>    
          
              <ng-container matColumnDef="fournisseur">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fournisseur"> 
                  <span style="font-weight:900;margin-right: 5px;">FOURNISSEUR</span>    
                </th>
                <td mat-cell *matCellDef="let element"> {{element.fournisseur}} </td>
              </ng-container>
          
              <ng-container matColumnDef="libelle">    
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;margin-right: 5px;">LIBELLE</span>   </th>
                <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
              </ng-container>
          
              <ng-container matColumnDef="prix">   
                <th mat-header-cell *matHeaderCellDef mat-sort-header>  <span style="font-weight:900;margin-right: 5px;">PRIX</span> </th>
                <td mat-cell *matCellDef="let element"> {{element.prix}} </td>
              </ng-container>
          
              <ng-container matColumnDef="quantite">  
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;margin-right: 5px;">QUANTITE</span> </th>
                <td mat-cell *matCellDef="let element"> {{element.quantite}} </td>
              </ng-container>   
      
              <ng-container matColumnDef="description"> 
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;">DESCRIPTION</span> </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
              </ng-container>
              <ng-container matColumnDef="gsm">  
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;">GSM</span> </th>
                <td mat-cell *matCellDef="let element"> {{element.autoecole[0]?.tel_responsable}} </td>
              </ng-container> 
       
          
             <ng-container matColumnDef="actions">  
              <th mat-header-cell *matHeaderCellDef><span style="font-weight:900;">ACTIONS</span>  </th>
              <td mat-cell *matCellDef="let element"> 
                  <button class="btn btn-danger" style="padding: 5px;" (click)="deleteProduit(element.id)">
                    Supprimer 
                  </button>
                  <button 
                  (click)="open('Modifier', element)"
                      class="btn btn-primary"
                      style="padding: 5px; width: 85px;margin-top: 2px;">
                    Modifier
                  </button>
              </td>
            </ng-container>
      
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator 
              [length]="n" 
              [pageSize]="5"  
              [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator> -->
          </div>
      </div>
  </div>
  <!-- fin first container -->
                  

    
             
 </div>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>