.container-apropos1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background: linear-gradient(to right, #333, #a41f20);

}

.child-container-apropos1{
    display:flex;
    align-items:center;
    flex-direction: column;    
}

.container-apropos2{
    background-color: rgb(236, 242, 245);
    padding-left:140px;
    padding-right: 140px;
    padding-top: 60px;
}

.container-child-apropos2{
    background-color: white;
    height: 100%;
}
.text-apropos>span{
    line-height: 40px;
}

.row-child-apropos{
    background-color: rgb(236, 242, 245);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 170px;
    width: 400px;
    /* margin: 20px; */
    line-height: 20px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.row-apropos1{
    display: flex;
}


.contact-apropos{
    margin-left: 50px;
    margin-bottom: 30px;
}


.copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
    padding: 10px;
}

.containerbottom{
    background-color:#312828;
    color:white;
}



.abonnement:focus{
    border: 2px solid red;
    box-shadow:none;
}
input::placeholder{
    font-size: 12px;
}
input:focus{
    border: 0px solid white;
    
}
input{
    outline: none;
    box-shadow: red;
}

.navhome:after{
    content:"";
	position: absolute;
	background-color: red;
	height: 3px;
	width: 70%;
	left: 0;
	bottom: -22px;
    margin-left: 15px;
}

