<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <title>Gestion Auto-écoles-J2HB PLUS Editeur sécurité Routière</title>
</head>
<body style=" background:rgb(251, 251, 252);">
    <app-headerlogged></app-headerlogged>
    <app-menu-sb></app-menu-sb>
    <div class="container-dashboard-body" style="max-width: 100%;margin-top: 60px;margin-bottom: 10px;">
        <!-- first container -->
      <div style=" display: flex;background:rgb(233, 236, 236);padding: 20px;">
      
         <!-- table -->
         <div class="container-form" style="padding: 20px;">
            <div style="display: flex;align-items: center;justify-content: space-between;">
                <span>NOUVEAU PLANNING
                </span>
                <div class="button_cours_pratique" style="color: white;height: 40px; background: #198754;">
                    <i class="fa fa-list"></i>
                    <span style="margin-left: 5px;">
                       <a href="/listes-conduites" style="color: white;text-decoration: none;"> Listes des plannings</a>   
                    </span>
                </div>
            </div>
            <hr>
            <span style="color: red;padding-left: 10px;">(*) Champs obligatoire

            </span>
            <div class="container">
                <section class="content" id="form-font">
                    <form class="form" [formGroup]="form" (ngSubmit)="addCours_pratique()" method="POST" action="" id="ajoute_cours" 
                    enctype="multipart/form-data"> 
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="first-name-column">{{ "Date*" | translate }} :</label>
                                        <input type="date" name="begin" class="form-control" placeholder="dd-mm-yyyy " value="" formControlName="date">
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.date.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.date.errors.required">
                                          {{'Date required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                            
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="last-name-column">{{ "Heure de début" | translate }}:</label>
                                    <input type="time" id="appt" name="appt" class="form-control" formControlName="date_debut">
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.date_debut.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.date_debut.errors.required">
                                          {{'Hour required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                            
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="last-name-column">{{ "Heure de Fin" | translate }}:</label>
                                    <input type="time" id="appt" name="appt" class="form-control" formControlName="date_fin">
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.date_fin.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.date_fin.errors.required">
                                          {{'Hour required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                            
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="email-id-column">{{ "Permis" | translate }}:</label>
                                    <select name="permis" class="form-control valid" aria-invalid="false" formControlName="permis">
										<option value="AM">AM</option>
										<option value="A1">A1</option>
										<option value="A">A</option>
										<option value="B">B</option>
										<option value="C">C</option>
										<option value="D">D</option>
										<option value="E">E</option>
										<option value="EB">EB</option>
										<option value="EC">EC</option>
										<option value="ED">ED</option>
									</select>
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.permis.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.permis.errors.required">
                                          {{'Permis required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="city-column">{{ "Type" | translate }}:</label>
                                    <select name="type" class="form-control valid" aria-invalid="false" formControlName="type">
                                        <option value="circuit">Circuit libre</option>
                                        <option value="manoeuvre">Manoeuvre d'examen</option>
                                    </select>
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.type.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.type.errors.required">
                                          {{'Type required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="city-column">{{ "Moniteur pratique" | translate }}:</label>
                                    <select class="form-control" name="moniteur-pratique" formControlName="moniteur_pratique_id">
                                        <option *ngFor="let mP of monitorP_E" value="{{ mP.id }}">{{ mP.employe.nom }}{{ " " }}{{ mP.employe.prenom }}</option>
                                    </select>    
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.moniteur_pratique_id.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.moniteur_pratique_id.errors.required">
                                          {{'Moniteur pratique required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
            
                            
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="city-column">{{ "Véhicule" | translate }}:</label>
                                    <select class="form-control" name="moniteur-pratique" formControlName="vehicule_id">
                                        <option *ngFor="let vehicule of vehicule_ecole" value="{{ vehicule.id }}">{{ vehicule.matricule }}</option>
                                        
                                    </select>    
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.vehicule_id.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.vehicule_id.errors.required">
                                          {{'Véhicule required ' | translate}}  
                                    </div>
    
                                </div>
                            </div>
                         
             
                             <div class="col-4">
                                <div class="form-group" data-select2-id="4">
                                    <label class="form-label">Candidat</label>
                                    <select (change)="add_to_list($event)" class="form-control select2-show-search border-bottom-0 select2-hidden-accessible" id="cin_candidat"  formControlName="candidat">
                                        <option *ngFor="let data of candidatData;" value="{{data.id}}">{{data.nom_fr}}{{ " " }}{{data.prenom_fr}}</option>
                                    </select>
                                </div>
                                <div class="err" *ngIf="submitted && this.form.controls.candidat.errors">
                                    <div style="color: red;" *ngIf="this.form.controls.candidat.errors.required">
                                          {{'Candidat required ' | translate}}  
                                    </div>
                                </div>
                             </div>
             
                            <div class="col-4">
                               <div class="form-group">
                                <div style="display: flex;align-items: center;">
                                    <label for="list">{{ "List" | translate }}:</label>
                                    <textarea class="list_candidat" name="list_candidat" id="list_candidat" cols="30" rows="10">
                                        {{listCandidat}}
                                    </textarea>  
                                </div>
                               </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="button_ajouter_pratique">
                    
              <button type="submit" class="btn next-btn" id="button1-fnt"  (click)="addCours_pratique()">
                {{ addOrUpdate}}
                        </button>
            </div>
            </div>
            
            



      </div>
      <!-- fin first container -->
                        <!-- examen vehicule  -->
                        <div class="row examen-vehicule" style="margin-left: 0;margin-right:0;background: #e8eeea;">
                        
      
                          
                        
                  
                 
                  
                       

                      </div>
                  
   </div>
      


</body>
</html>