
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Auto-écoles-J2HB PLUS Editeur sécurité Routière</title>
</head>
<body style=" background:rgb(251, 251, 252);">
    <app-headerlogged></app-headerlogged>
    <app-menu-sb></app-menu-sb>
    <div class="container-dashboard-body" style="max-width: 100%;margin-top: 60px;margin-bottom: 10px;">
        <!-- first container -->
      <div style=" display: flex;background:rgb(233, 236, 236);padding: 20px;">
      
        <div class="container-form col-12">
            <div class="container">
                <section class="content" id="form-font">
                    <form class="form" [formGroup]="form" method="POST" action="" id="register" 
                    enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-6">  
                                <div class="form-group">
                                    <label for="city-column">{{ "Candidat" | translate }}:</label>
                                    <select id="appt" name="appt" class="form-control" formControlName="candidat_id">
                                        <option value="">Choisissez candidat</option>
                                        <option *ngFor="let data of dataCandidat" value="{{data.id}}">{{data.nom_fr}}{{" "}}{{data.prenom_fr}}</option>
                                    </select>
                                    <div class="err" *ngIf="submitted && this.form.controls.candidat_id.errors">
                                        <div style="color: red;" *ngIf="this.form.controls.candidat_id.errors.required">
                                            {{' field required.' | translate}} 
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-6">   
                                <div class="form-group">
                                    <label for="last-name-column">{{ "Libelle" | translate }}:</label>
                                    <select type="text" id="appt" name="appt" class="form-control" formControlName="produit_id">
                                        <option value="">Choisissez Produit</option>
                                        <option *ngFor="let data of produits" value="{{data.id}}">{{data.libelle}}</option>
                                    </select>
                                    <div class="err" *ngIf="submitted && this.form.controls.produit_id.errors">
                                        <div style="color: red;" *ngIf="this.form.controls.produit_id.errors.required">
                                            {{' field required.' | translate}} 
                                        </div>
                                        
            
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group"> 
                                    <label for="last-name-column">{{ "Prix Unitaire" | translate }}:</label>
                                    <input type="text" id="appt" name="appt" class="form-control" formControlName="prixUnitaire">
                                    <div class="err" *ngIf="submitted && this.form.controls.prixUnitaire.errors">
                                        <div style="color: red;" *ngIf="this.form.controls.prixUnitaire.errors.required">
                                            {{' field required.' | translate}} 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group"> 
                                    <label for="last-name-column">{{ "Prix Totale" | translate }}:</label>
                                    <input type="text" id="appt" name="appt" class="form-control" formControlName="prixTotale">
                                    <div class="err" *ngIf="submitted && this.form.controls.prixTotale.errors">
                                        <div style="color: red;" *ngIf="this.form.controls.prixTotale.errors.required">
                                            {{' field required.' | translate}} 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-6">
                                <div class="form-group">  
                                    <label for="last-name-column">{{ "Quantite Disponible" | translate }}:</label>
                                    <input type="text" id="appt" name="appt" class="form-control" formControlName="quantiteDisponible">
                                    <div class="err" *ngIf="submitted && this.form.controls.quantiteDisponible.errors">
                                        <div style="color: red;" *ngIf="this.form.controls.quantiteDisponible.errors.required">
                                            {{' field required.' | translate}} 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6"> 
                                <div class="form-group"> 
                                    <label for="last-name-column">{{ "Quantite" | translate }}:</label>
                                    <input type="text" id="appt" name="appt" class="form-control" formControlName="quantite">
                                    <div class="err" *ngIf="submitted && this.form.controls.quantite.errors">
                                        <div style="color: red;" *ngIf="this.form.controls.quantite.errors.required">
                                            {{' field required.' | translate}} 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group"> 
                                    <label for="last-name-column">{{ "Date" | translate }}:</label>
                                    <input type="date" id="appt" name="appt" class="form-control" formControlName="date">
                                    <div class="err" *ngIf="submitted && this.form.controls.date.errors">
                                        <div style="color: red;" *ngIf="this.form.controls.date.errors.required">
                                            {{' field required.' | translate}} 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <button type="submit" style="margin-left: 20px;" class="btn next-btn" id="button1-fnt" (click)="addVente()">
                            {{action}}
                        </button>
                    </div>
                </div>
            </div>
            </div>
      </div>
                       
                  
   </div>
</body>
</html>