<div style="padding: 15px;">
    <form class="form" [formGroup]="form" (ngSubmit)="addMoniteur()" method="POST" action=""
enctype="multipart/form-data">
<p style="color: red; font-weight: bold;font-size: 12px;">(*) Champs obligatoire </p>
    <li *ngIf="errorMoniteurTheorique" style="color: white;background: red;">
        {{errorMoniteurTheorique}}
    </li>
    <li *ngIf="errorMoniteurPratique" style="color: white;background: red;">
        {{errorMoniteurPratique}}
    </li>
    <div class="row" >
        <div class="col-6">
            <div class="form-group">
                <label for="city-column">{{ "nom" | translate }}:</label>
                <input type="text" id="appt" name="appt" style="font-size:16px" class="form-control input-class" formControlName="nom">
            </div>
            <div class="err" *ngIf="submitted && this.form.controls.nom.errors">
                <div style="color: red;" *ngIf="this.form.controls.nom.errors.required">
                      {{'Nom obligatoire * ' | translate}}  
                </div>

            </div>
        </div> 
        <div class="col-6">
            <div class="form-group">
                <label for="city-column">{{ "prenom" | translate }}:</label>
                <input type="text" id="appt" style="font-size:16px"  name="appt" class="form-control input-class" formControlName="prenom">
            </div>
            <div class="err" *ngIf="submitted && this.form.controls.prenom.errors">
                <div style="color: red;" *ngIf="this.form.controls.prenom.errors.required">
                      {{'Prenom obligatoire * ' | translate}}  
                </div>

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="city-column">{{ "CIN" | translate }}:</label>
                <input type="text" style="font-size:16px"  id="cin" name="cin" class="form-control input-class" formControlName="cin">
            </div>
            <div class="err" *ngIf="submitted && this.form.controls.cin.errors">
                <div style="color: red;" *ngIf="this.form.controls.cin.errors.required">
                      {{'Cin obligatoire * ' | translate}}  
                </div>

            </div>
        </div>
       
        <div class="col-6">
            <div class="form-group">
                <label for="last-name-column">{{ "Date de naissance" | translate }}:</label>
                <input type="date" style="font-size:16px"  id="date_naissance" name="date_naissance" class="form-control input-class" formControlName="date_naissance">
            </div>
            <div class="err" *ngIf="submitted && this.form.controls.date_naissance.errors">
                <div style="color: red;" *ngIf="this.form.controls.date_naissance.errors.required">
                      {{'Date de naissance obligatoire * ' | translate}}  
                </div>

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="city-column">{{ "Lieu de naissance" | translate }}:</label>
                <input type="text" id="lieu_naissance" style="font-size:16px"  name="lieu_naissance" class="form-control input-class" formControlName="lieu_naissance">
            </div>
            <div class="err" *ngIf="submitted && this.form.controls.lieu_naissance.errors">
                <div style="color: red;" *ngIf="this.form.controls.lieu_naissance.errors.required">
                      {{'Lieu de naissance obligatoire * ' | translate}}  
                </div>

            </div>
        </div> 
        <div class="col-6">
            <div class="form-group">
                <label for="city-column">{{ "email" | translate }}:</label>
                <input type="text" id="email" style="font-size:16px"  name="email" class="form-control input-class" formControlName="email">
            </div>
            <div class="err" *ngIf="submitted && this.form.controls.email.errors">
                <div style="color: red;" *ngIf="this.form.controls.email.errors.required">
                      {{'Email obligatoire * ' | translate}}  
                </div>

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="city-column">{{ "telephone" | translate }}:</label>
                <input type="text" id="telephone" style="font-size:16px"  name="telephone" class="form-control input-class" formControlName="telephone">
            </div>
            <div class="err" *ngIf="submitted && this.form.controls.telephone.errors">
                <div style="color: red;" *ngIf="this.form.controls.telephone.errors.required">
                      {{'Telephone obligatoire * ' | translate}}  
                </div>

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="last-name-column">{{ "Date de embauche" | translate }}:</label>
                <input type="date" id="date_embauche" style="font-size:16px"  name="date_embauche" class="form-control input-class" formControlName="date_embauche">
            </div>
            <div class="err" *ngIf="submitted && this.form.controls.date_embauche.errors">
                <div style="color: red;" *ngIf="this.form.controls.date_embauche.errors.required">
                      {{'Date de embauche obligatoire * ' | translate}}  
                </div>

            </div>
        </div> 
        <div class="col-6">
            <div class="form-group">
                <label for="city-column">{{ "Type Moniteur*" | translate }}:</label>
                <select name="type_moniteur" style="font-size:16px;height:30px"  class="form-control" formControlName="type_moniteur">
                    <option value="">Choisissez type</option>
                    <option value="Moniteur Théorique">Moniteur Théorique</option>
                    <option value="Moniteur Pratique">Moniteur Pratique</option>
                </select>
                <div class="err" *ngIf="submitted && this.form.controls.type_moniteur.errors">
                    <div style="color: red;" *ngIf="this.form.controls.type_moniteur.errors.required">
                          {{'Type Moniteur obligatoire * ' | translate}}  
                    </div>

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="city-column">{{ "C.A.P.N" | translate }}:</label>
                <input type="text" id="capn" style="font-size:16px"  name="capn" class="form-control input-class" formControlName="capn">
            </div>
            <div class="err" *ngIf="submitted && this.form.controls.capn.errors">
                <div style="color: red;" *ngIf="this.form.controls.capn.errors.required">
                      {{'C.A.P.N obligatoire * ' | translate}}  
                </div>

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="city-column">{{ "N° P Conduire" | translate }}:</label>
                <input type="text" id="conduire" style="font-size:16px"  name="conduire" class="form-control input-class" formControlName="conduire">
            </div>
            <div class="err" *ngIf="submitted && this.form.controls.conduire.errors">
                <div style="color: red;" *ngIf="this.form.controls.conduire.errors.required">
                      {{'N° P Conduire obligatoire * ' | translate}}  
                </div>

            </div>
        </div>
       
        <div class="col-12">
            <div class="form-group">
                <label for="email-id-column">{{ "adresse:" | translate }}:</label>
                <textarea class="form-control adresse input-class" style="font-size:16px;border: 1px solid rgb(214, 209, 209);outline: none;"  name="adresse" id="adresse" rows="3"
                    placeholder="{{ 'Adresse' | translate }}" formControlName="adresse"></textarea>
            </div>
            <div class="err" *ngIf="submitted && this.form.controls.adresse.errors">
                <div style="color: red;" *ngIf="this.form.controls.adresse.errors.required">
                      {{'Adresse obligatoire * ' | translate}}  
                </div>

            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="email-id-column">{{ "Catégorie" | translate }}:</label>
                <select name="categorie" class="form-control" style="font-size:16px;height:30px"  formControlName="categorie" id="categorie" (change)="addCategorie($event)">
                    <option value="">Choisissez catégorie</option>
                    <option value="AM">AM</option>
                    <option value="A1">A1</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="EB">EB</option>
                    <option value="EC">EC</option>
                    <option value="ED">ED</option>
                    <option value="F">F</option>
                </select>
            </div>
            
        </div>
        <div class="col-3" >
            <div class="form-group">
                <label for="email-id-column">{{ "List" | translate }}:</label>
                <textarea class="list_candidat" style="font-size:16px"   name="categorie_list" id="categorie_list" cols="30" rows="10">{{categorie_list}}</textarea>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="email-id-column">{{ "Observations:" | translate }}:</label>
                <textarea class="form-control adresse input-class" style="font-size:16px" name="observations" id="observations" rows="3"
                    placeholder="{{ 'Observations' | translate }}" formControlName="observations"></textarea>
            </div>
            <div class="err" *ngIf="submitted && this.form.controls.observations.errors">
                <div style="color: red;" *ngIf="this.form.controls.observations.errors.required">
                      {{'Observations obligatoire * ' | translate}}  
                </div>

            </div>
        </div>
      
        <div class="col-12">
            <div class="form-group">
                <label for="email-id-column">{{ "Carte moniteur*" | translate }}:</label>
                <input type="file"  class="form-control" name="carteMoniteur" id="carteMoniteur" rows="3"
                    (change)="fileChangeEvent($event)"
                    data-allowed-file-extensions="jpeg jpg png"
                    accept="image/*"
                    formControlName="carteMoniteur"
                    />
            </div>
            <div  class="err" *ngIf="submitted && this.form.controls.carteMoniteur.errors ">
                <div style="color: red;" *ngIf="this.form.controls.carteMoniteur.errors.required">
                      {{'Carte moniteur obligatoire * ' | translate}}  
                </div>

            </div>
        </div>
    </div>
    <div class="card-footer" style="margin-top: 7px;">
        <button type="submit" class="btn" style="background:#198754 ;color: white;font-size: 16px;" (click)="addMoniteur()">Ajouter</button>
          <button type="button" class="btn btn-danger" style="font-size: 16px;" data-dismiss="modal" (click)="next()">Suivant</button>
      </div>
</form>
</div>