<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

    <title>Gestion Auto-écoles-J2HB PLUS Editeur sécurité Routière</title>
</head>
    
    <body>
    <div class="header-container1">
        <div class="header-left1" style="display: flex;align-items:center;">
       
            <a  routerLink="https://m.facebook.com/J2hb-Plus-112363573583794" >
             
                <i style="font-size: 20px;color:white" class="fa fa-facebook"></i>
            </a>
           
            <a routerLink="tel:+212612457896">
                <i style="font-size: 20px;color:white" class="bi bi-telephone"></i>
            </a>
      
            <a routerLink="https://www.youtube.com">
                <i style="font-size: 20px;color:white" class="fa fa-youtube"></i>
            </a>
      
            <a routerLink="mailto:contact@gestionautoecole.com">
                <i style="font-size: 20px;color:white" class="fa fa-envelope"></i>
            </a>
      
       
        </div>
      
      
       <div class="header-right1" > 
          <div class="section1" [hidden]="loggedIn">
              <i class="fa fa-user mr-1"></i>
              <a routerLink="/register">
                  {{ "S'inscrire" | translate }}
              </a>
          </div>
 
          <div class="section1" [hidden]="loggedIn">
              <i class="bi bi-box-arrow-right"></i>
              <a routerLink="/login">
                  {{ "Connexion" | translate }}
              </a>
          </div>
          <div class="menuTop1">
              <!---->
             <button  class="section1 buttonclass1" [hidden]="!loggedIn"  onclick="this.click =!this.click; document.getElementById('MenuUser').style.display =  this.click ? 'flex' : 'none'; document.getElementById('MenuUser').style.height = superAdmin ? '70px':'130px';" style="margin-right: 60px">
                <img src="https://www.gestionautoecole.com/storage/WCC0eSAEX1kMywrcfAxB4QX2ox6b7tVMqzIb51Xe.jpg" style="height: 30px;width: 30px;border-radius:50%;" alt="">
                <span style="font-size: 15px">
                    {{ user?.login }}
                    <i class="fa fa-caret-down"></i>
                </span>
               
             </button>
             <div class="MenuUser1" id="MenuUser">
                  <button  (click)="redirect_to($event)" style="background: white;outline: none;border: none;text-align: left;">
                    <i class="dropdown-icon fa fa-tachometer text-danger fs-4" style="margin-right:5px;"></i>
                    <span style="font-size: 15px">{{'Tableau de bord'| translate}}</span> 
                  </button>
                 <a href="/parametres">
                    <i class="bi bi-gear  text-danger fs-4"  style="margin-right:5px"></i> 
                   <span style="font-size: 15px">{{'Parametres du compte'| translate}}</span> 
                 </a>
                 <a routerLink="/login" id="login" (click)="logoutUser($event)" >
                    <i class="bi bi-power  text-danger fs-4"  style="margin-right:5px"></i>
                    <span style="font-size: 15px"> {{'Se deconnecter' | translate}}</span> 
                 </a>
            </div>
          </div>
      </div>
    
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>