<div class="modal-content" style="width: 800px;">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel" style="font-size: 16px;">{{btn|translate}} {{'Véhicule'|translate}}</h5>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <form class="form" [formGroup]="form"  method="POST"   enctype="multipart/form-data" style="padding: 20px;">
        <div class="card-body">
             <p style="color: red; font-weight: bold;font-size: 12px;">(*) {{'Champs obligatoire'|translate}}</p>
            
             <div class="row">
                 <div class="col-md-6">
                   <div class="form-group">
                       <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'matricule'| translate}}<span style="color: red;">*</span></label>
                       <input type="text" id="appt" name="appt" style="font-size: 16px;height: 30px;" class="form-control input" formControlName='matricule'>
                   </div>
                   <div class="err" *ngIf="submitted && this.form.controls.matricule.errors">
                       <div style="color: red;" *ngIf="this.form.controls.matricule.errors.required">
                             {{'matricule obligatoire.* ' | translate}}  
                       </div>

                   </div>
                 </div>

                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Type'| translate}}<span style="color: red;">*</span></label>
                         <div class="input-group mb-3">
                             <select name="type" class="form-control"  style="font-size: 16px;height: 30px;"  id="add_type" formControlName='type'>
                                 <option value="">{{'Choisir un type'|translate}}</option>
                                 <option value="Motocycle">{{'Motorcycle'|translate}}</option>
                                 <option value="Autocar">{{'Autocar'|translate}}</option>
                                 <option value="Voiture">{{'Voiture'|translate}}</option>
                                 <option value="Camion">{{'Camion'|translate}}</option>
                               </select>
                         </div>
                         <div class="err" *ngIf="submitted && this.form.controls.type.errors">
                           <div style="color: red;" *ngIf="this.form.controls.type.errors.required">
                                 {{'type obligatoire.* ' | translate}}  
                           </div>

                       </div>
                     </div>
                 </div>
                 
                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Fournisseur'| translate}}<span style="color: red;">*</span></label>
                         <input type="text" name="fournisseur"  style="font-size: 16px"  class="form-control" formControlName='fourniseur'>
                     </div>
                     <div class="err" *ngIf="submitted && this.form.controls.fourniseur.errors">
                       <div style="color: red;" *ngIf="this.form.controls.fourniseur.errors.required">
                             {{'fourniseur obligatoire.* ' | translate}}  
                       </div>
                   </div>
                 </div>

                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Marque'| translate}}<span style="color: red;">*</span></label>
                         <input type="text" name="marque"  style="font-size: 16px"  class="form-control" formControlName='marque'>
                     </div>
                     <div class="err" *ngIf="submitted && this.form.controls.marque.errors">
                       <div style="color: red;" *ngIf="this.form.controls.marque.errors.required">
                             {{'marque obligatoire.* ' | translate}}  
                       </div>
                   </div>
                 </div>

                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Modéle'| translate}}<span style="color: red;">*</span></label>
                         <input type="text" name="modele"  style="font-size: 16px"  class="form-control" formControlName='modele'>
                     </div>
                     <div class="err" *ngIf="submitted && this.form.controls.modele.errors">
                       <div style="color: red;" *ngIf="this.form.controls.modele.errors.required">
                             {{'modele obligatoire.* ' | translate}}  
                       </div>
                   </div>
                 </div>
                 <div class="col-md-6">
                     <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Catégorie'| translate}}<span style="color: red;">*</span></label>
                     <select name="categorie" class="form-control "  style="font-size: 16px;height: 30px;"  formControlName='categorie'>
                         <option value="">{{'Choisissez catégorie'|translate}}</option>
                         <option value="A">A</option>
                         <option value="AM">AM</option>
                         <option value="A1">A1</option>
                         <option value="B">B</option>
                         <option value="C">C</option>
                         <option value="D">D</option>
                         <option value="E">E</option>
                         <option value="EB">EB</option>
                         <option value="EC">EC</option>
                         <option value="ED">ED</option>
                     </select>
                     <div class="err" *ngIf="submitted && this.form.controls.categorie.errors">
                       <div style="color: red;" *ngIf="this.form.controls.categorie.errors.required">
                             {{'categorie obligatoire.* ' | translate}}  
                       </div>
                   </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Date visite technique'| translate}}<span style="color: red;">*</span></label>
                         <div class="wd-200 mg-b-30">
                             <div class="input-group">
                                 <input class="form-control" placeholder="DD/MM/YYYY"  style="font-size: 13px;text-transform: uppercase;"  type="date" formControlName='date_visite'>
                             </div>
                         </div>
                         <div class="err" *ngIf="submitted && this.form.controls.date_visite.errors">
                           <div style="color: red;" *ngIf="this.form.controls.date_visite.errors.required">
                                 {{'date visite obligatoire.* ' | translate}}  
                           </div>
                       </div>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Date prochain visite technique'| translate}}<span style="color: red;">*</span></label>
                         <div class="wd-200 mg-b-30">
                             <div class="input-group">
                                 <input class="form-control" placeholder="DD/MM/YYYY"  style="font-size: 13px;text-transform: uppercase;"  type="date" formControlName='date_prochain_visite'>
                             </div>
                         </div>
                         <div class="err" *ngIf="submitted && this.form.controls.date_prochain_visite.errors">
                           <div style="color: red;" *ngIf="this.form.controls.date_prochain_visite.errors.required">
                                 {{'date visite obligatoire.* ' | translate}}  
                           </div>
                       </div>
                     </div>
                 </div>

                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Date vidange'| translate}}<span style="color: red;">*</span></label>
                         <div class="wd-200 mg-b-30">
                             <div class="input-group">
                                 <input class="form-control" placeholder="DD/MM/YYYY" style="font-size: 13px;text-transform: uppercase;"  type="date" formControlName='date_vidange' >
                             </div>
                         </div>
                         <div class="err" *ngIf="submitted && this.form.controls.date_vidange.errors">
                           <div style="color: red;" *ngIf="this.form.controls.date_vidange.errors.required">
                                 {{'date vidange obligatoire.* ' | translate}}  
                           </div>
                       </div>
                       
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Date prochain vidange'| translate}}<span style="color: red;">*</span></label>
                         <div class="wd-200 mg-b-30">
                             <div class="input-group">
                                 <input class="form-control" placeholder="DD/MM/YYYY" style="font-size: 13px;text-transform: uppercase;"  type="date" formControlName='date_prochain_vidange' >
                             </div>
                         </div>
                         <div class="err" *ngIf="submitted && this.form.controls.date_prochain_vidange.errors">
                           <div style="color: red;" *ngIf="this.form.controls.date_prochain_vidange.errors.required">
                                 {{'date prochain vidange obligatoire.* ' | translate}}  
                           </div>

                       </div>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Date assurance'| translate}}<span style="color: red;">*</span></label>
                         <div class="wd-200 mg-b-30">
                             <div class="input-group">
                                 <input class="form-control" placeholder="DD/MM/YYYY"  style="font-size: 13px;text-transform: uppercase;"  type="date" formControlName='date_assurance'>
                             </div>
                         </div>
                         <div class="err" *ngIf="submitted && this.form.controls.date_assurance.errors">
                           <div style="color: red;" *ngIf="this.form.controls.date_assurance.errors.required">
                                 {{'date assurance obligatoire.* ' | translate}}  
                           </div>
                       </div>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Date expiration assurance'| translate}}<span style="color: red;">*</span></label>
                         <div class="wd-200 mg-b-30">
                             <div class="input-group">
                                 <input class="form-control" placeholder="DD/MM/YYYY" style="font-size: 13px;text-transform: uppercase;"  type="date" formControlName='date_expiration_assurance'>
                             </div>
                             <div class="err" *ngIf="submitted && this.form.controls.date_expiration_assurance.errors">
                               <div style="color: red;" *ngIf="this.form.controls.date_expiration_assurance.errors.required">
                                     {{'date expiration assurance obligatoire.* ' | translate}}  
                               </div>

                           </div>
                         </div>

                     </div>
                 </div>

                 <div class="col-md-3">
                   <div class="form-group">
                       <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Carte grise'| translate}}<span style="color: red;">*</span></label>
                       <input type="file" id="appt" class="dropify" name="appt" style="font-size: 13px" class="form-control input" formControlName='carte_grise' 
                       (change)="fileChangeEvent($event, 'cart')"
                       data-allowed-file-extensions="jpg png jpeg"
                      >
                   </div>
                   <div class="err" *ngIf="submitted && this.form.controls.carte_grise.errors ">
                       <div style="color: red;" *ngIf="this.form.controls.carte_grise.errors.required">
                             {{'carte grise obligatoire.* ' | translate}}  
                       </div>

                   </div>
                 </div>
 
                 <div class="col-md-3">
                   <div class="form-group"> 
                       <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'assurance'| translate}}<span style="color: red;">*</span></label>
                       <input type="file" id="appt" name="appt" class="form-control input" style="font-size: 13px;" formControlName='assurance'
                                 (change)="fileChangeEvent($event, 'assurance')"
                       >
                   </div>
                   <div class="err" *ngIf="submitted && this.form.controls.assurance.errors">
                       <div style="color: red;" *ngIf="this.form.controls.assurance.errors.required">
                             {{'assurance obligatoire.* ' | translate}}  
                       </div>

                   </div>
                 </div>
 
                 <div class="col-md-3">
                   <div class="form-group"> 
                       <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'visite technique'| translate}}<span style="color: red;">*</span></label>
                       <input type="file" id="appt" name="appt" class="form-control input" style="font-size: 13px;" formControlName='visite'
                              (change)="fileChangeEvent($event, 'visite')"
                       >
                   </div>
                   <div class="err" *ngIf="submitted && this.form.controls.visite.errors">
                       <div style="color: red;" *ngIf="this.form.controls.visite.errors.required">
                             {{'visite obligatoire.* ' | translate}}  
                       </div>

                   </div>
                 </div>
 
                 <div class="col-md-3">
                   <div class="form-group">
                       <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'vignette'| translate}}<span style="color: red;">*</span></label>
                       <input type="file" id="appt" name="appt" style="font-size: 13px;"
                              class="form-control input" 
                              formControlName='vignette'
                              (change)="fileChangeEvent($event, 'vignette')"
                              data-allowed-file-extensions="jpg png jpeg"
                              >
                   </div>
                   <div class="err" *ngIf="submitted && this.form.controls.vignette.errors">
                       <div style="color: red;" *ngIf="this.form.controls.vignette.errors.required">
                             {{'vignette obligatoire.* ' | translate}}  
                       </div>

                   </div>
                 </div>

             </div>	
         </div>
         <div class="card-footer" *ngIf="show" style="margin-top: 7px;">
           <button type="submit" class="btn" style="background:#198754 ;color: white;font-size: 16px;" (click)="AddOrModifierVehicule()">{{btn|translate}}</button>
             <button type="button" class="btn btn-danger" style="font-size: 16px;" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">{{'Annuler'|translate}}</button>
         </div>
     </form>	
  </div>
