<div class="modal-content" style="width: 800px;">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel" style="font-size: 16px;">{{btn}} planning</h5>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <form class="form"  [formGroup]="form" method="POST" action="" enctype="multipart/form-data">
        <div class="card-body">
           <p style="color: red; font-weight: bold;font-size: 12px;">(*) Champs obligatoire</p>
           <div class="col-md-12">
               <div class="alert" id="AddMessage" style="display: none;">
               </div>
           </div>     
           <div class="row">
               <div class="col-md-6">
                   <div class="form-group">
                       <label class="form-label">Date*</label>
                       <div class="wd-200 mg-b-30">
                         <div class="input-group">
                             <input class="form-control" placeholder="DD/MM/YYYY" type="date" name="date" formControlName="date" >
                         </div>
                         <div class="err" *ngIf="submitted && this.form.controls.date.errors">
                             <div style="color: red;" *ngIf="this.form.controls.date.errors.required">
                                   {{'Date obligatoire * ' | translate}}  
                             </div>

                         </div>
                     </div>
                   </div>
               </div>

               <div class="col-md-6">
                   <div class="form-group">
                       <label class="form-label">Heure début</label>
                       <input type="time" name="heure_debut" class="form-control" formControlName="date_debut" placeholder="Heure Début 08:00">
                   </div>
                   <div class="err" *ngIf="submitted && this.form.controls.date_debut.errors">
                     <div style="color: red;" *ngIf="this.form.controls.date_debut.errors.required">
                           {{'Hour obligatoire * ' | translate}}  
                     </div>

                 </div>
               </div>
               
               <div class="col-md-6">
                   <div class="form-group">
                     <label class="form-label">Heure fin</label>
                     <input type="time" name="heure_fin"  formControlName="date_fin" class="form-control" placeholder="Heure Fin 18:00">
                   </div>
                   <div class="err" *ngIf="submitted && this.form.controls.date_fin.errors">
                     <div style="color: red;" *ngIf="this.form.controls.date_fin.errors.required">
                           {{'Hour obligatoire * ' | translate}}  
                     </div>

                 </div>
               </div>
               
               <div class="col-md-6">
                 <label class="form-label">Permis</label>
                 <select id="permis_add" name="permis" class="form-control" style="height:30px" formControlName="permis">
                     <option value="AM">AM</option>
                     <option value="A1">A1</option>
                     <option value="A">A</option>
                     <option value="B">B</option>
                     <option value="C">C</option>
                     <option value="D">D</option>
                     <option value="E">E</option>
                     <option value="EB">EB</option>
                     <option value="EC">EC</option>
                     <option value="ED">ED</option>
                 </select>
                 <div class="err" *ngIf="submitted && this.form.controls.permis.errors">
                     <div style="color: red;" *ngIf="this.form.controls.permis.errors.required">
                           {{'Permis obligatoire * ' | translate}}  
                     </div>

                 </div>
               </div>
                
               <div class="col-md-6">
                     <label class="form-label">Type</label>
                     <div class="input-group mb-3">
                         <select name="type" class="form-control" style="height:30px"  formControlName="type">
                             <option value="circuit">Circuit libre</option>
                             <option value="manoeuvre">Manoeuvre d'examen</option>
                         </select>
                     </div>
                     <div class="err" *ngIf="submitted && this.form.controls.type.errors">
                         <div style="color: red;" *ngIf="this.form.controls.type.errors.required">
                               {{'Type obligatoire * ' | translate}}  
                         </div>

                     </div>
                 </div>
             <div class="col-md-4">
                 <div class="form-group">
                     <label class="form-label">Moniteur</label>
                     <select id="monitor_add" name="moniteur" style="height:30px"  class="form-control" formControlName="moniteur_pratique_id">
                         <option value="">Choisissez moniteur</option>
                         <option *ngFor="let mP of monitorP_E" value="{{ mP?.id }}">{{ mP?.nom }}{{ " " }}{{ mP?.prenom }}</option>
                     </select>
                     <div class="err" *ngIf="submitted && this.form.controls.moniteur_pratique_id.errors">
                         <div style="color: red;" *ngIf="this.form.controls.moniteur_pratique_id.errors.required">
                               {{'Moniteur pratique obligatoire * ' | translate}}  
                         </div>

                     </div>
                 </div>
             </div>    
             <div class="col-md-4">
                 <div class="form-group">
                     <label class="form-label">Véhicule</label>
                     <select dir="rtl" name="vehicule" class="form-control" style="height:30px"  formControlName="vehicule_id">
                         <option value="">Choisissez une Véhicule </option>
                         <option *ngFor="let vehicule of vehicule_ecole" value="{{vehicule?.id}}">{{ vehicule?.matricule }}</option>
                                                         
                     </select>
                     <div class="err" *ngIf="submitted && this.form.controls.vehicule_id.errors">
                         <div style="color: red;" *ngIf="this.form.controls.vehicule_id.errors.required">
                               {{'Véhicule obligatoire * ' | translate}}  
                         </div>

                     </div>
                 </div> 
             </div>
         </div>
         <div class="row">
             <div class="col-md-4">
                 <div class="form-group">
                     <label class="form-label">Candidat</label>
                     <select class="form-control" formControlName="candidat" style="height:30px"  (change)="add_to_list($event)">
                         <option value="">Choisissez un(e) Candidat </option>   
                         <option *ngFor="let data of candidatsB;" value="{{data?.id}}">{{data?.nom_fr}}{{ " " }}{{data?.prenom_fr}}</option>
                         <option *ngFor="let data of candidatS;" value="{{data?.id}}">{{data?.nom_fr}}{{ " " }}{{data?.prenom_fr}}</option>
                     </select>
                     <div class="err" *ngIf="submitted && this.form.controls.candidat.errors">
                         <div style="color: red;" *ngIf="this.form.controls.candidat.errors.required">
                               {{'Candidat obligatoire * ' | translate}}  
                         </div>
                     </div>
                 </div> 
             </div>

             <div class="col-md-8">
                 <div class="form-group">
                     <label class="form-label">List</label>
                     <textarea class="form-control" name="list_candidat"  readonly="readonly">
                         {{listCandidat}}
                     </textarea> 
                 </div> 
             </div>

         </div>
         </div> 

       <div class="card-footer">
         <button type="submit" class="btn" style="background: #198754;color: white;" (click)="addCours_pratique()">{{btn}}</button>
         <button type="button" class="btn btn-danger" aria-label="Close" (click)="activeModal.dismiss('Cross click')">Annuler</button>
       </div>
   </form>	
  </div>

