
<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{btn}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <form class="form" [formGroup]="form"  method="POST"   enctype="multipart/form-data">
    <div class="modal-body">
          <div class="card-body">
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Titre'| translate}}<span style="color: red;">*</span></label>
                          <input type="text" class="form-control" name="titre" formControlName="titre">
                      </div>
                      <div class="err" *ngIf="submitted && this.form.controls.titre.errors">
                        <div style="color: red;" *ngIf="this.form.controls.titre.errors.required">
                            {{' champs obligatoire *' | translate}} 
                        </div>
                    </div>
                  </div>    

                  <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Catégorie'| translate}}<span style="color: red;">*</span></label>
                          <select id="list_categorie" style="height: 32px;" class="form-control" name="categorie" formControlName="categorie" (change)="boolShow($event)">
                              <option value="">Choisir un categorie</option>
                              <option value="Materiel informatique">Materiel informatique</option>
                              <option value="Vehicule occasion">Vehicule occasion</option>
                              <option value="Equipement véhicule">Equipement véhicule</option>
                              <option value="Bureau immobilier">Bureau immobilier</option>
                              <option value="Simulateur de conduite">Simulateur de conduite</option>
                              <option value="ouvrage">ouvrage</option>
                          </select>
                          <div class="err" *ngIf="submitted && this.form.controls.categorie.errors">
                            <div style="color: red;" *ngIf="this.form.controls.categorie.errors.required">
                                {{' champs obligatoire *' | translate}} 
                            </div>
                        </div>
                      </div>
                  </div>
                 
                  <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Prix'| translate}}<span style="color: red;">*</span></label>
                          <input type="text" class="form-control" name="prix" id="prix" formControlName="prix">
                      </div>
                      <div class="err" *ngIf="submitted && this.form.controls.prix.errors">
                        <div style="color: red;" *ngIf="this.form.controls.prix.errors.required">
                            {{' champs obligatoire *' | translate}} 
                        </div>
                    </div>
                  </div>
              
                  <div class="col-md-12" id="car_detail" >
                      <div *ngIf="hidd" class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Marque'| translate}}</label>
                                  <input type="text" class="form-control" name="marque" formControlName="marque" (keyup)="check()">
                              </div>
                              <div class="err" *ngIf="submitted && this.form.controls.marque.errors && hidd">
                                <div style="color: red;" *ngIf="this.form.controls.marque.errors.required">
                                    {{' champs obligatoire *' | translate}} 
                                </div>
                            </div>
                          </div>
                         
                          <div class="col-md-6">
                              <div class="form-group">
                                <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Modéle'| translate}}</label>
                                  <input type="text" class="form-control" name="modele" formControlName="model">
                              </div>
                              <div class="err" *ngIf="submitted && this.form.controls.model.errors && hidd">
                                <div style="color: red;" *ngIf="this.form.controls.model.errors.required">
                                    {{' champs obligatoire *' | translate}} 
                                </div>
                            </div>
                          </div>
                        
                          <div class="col-md-6">
                              <div class="form-group">
                                <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Carburant'| translate}}</label>
                                  <select class="form-control" name="carburant" formControlName="carburant">
                                      <option value="">Carburant</option>
                                      <option value="Diesel">Diesel</option>
                                      <option value="Essence">Essence</option>
                                  </select>
                                  <div class="err" *ngIf="submitted && this.form.controls.carburant.errors && hidd">
                                    <div style="color: red;" *ngIf="this.form.controls.carburant.errors.required">
                                        {{' champs obligatoire *' | translate}} 
                                    </div>
                                </div>
                              </div>
                          </div>
                        
                          <div class="col-md-6">
                              <div class="form-group">
                                <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Kilometrage'| translate}}</label>
                                  <input type="text" class="form-control" name="kilometrage" formControlName="kilometrage">
                              </div>
                              <div class="err" *ngIf="submitted && this.form.controls.kilometrage.errors && hidd">
                                <div style="color: red;" *ngIf="this.form.controls.kilometrage.errors.required">
                                    {{' champs obligatoire *' | translate}} 
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              
                  <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Promotion'| translate}}</label>
                          <label class="form-label"></label>
                          <label class="custom-control custom-checkbox mb-3">
                              <input id="radio1" name="etat" type="radio" class="custom-control-input" value="non" (click)="showPrix($event)">
                              <span class="custom-control-label">
                                  Non
                              </span>
                          </label>

                          <label class="custom-control custom-checkbox mb-3">
                              <input id="radio2" name="etat" type="radio" class="custom-control-input" value="oui"  (click)="showPrix($event)" >
                              <span class="custom-control-label">
                                  Oui
                              </span>
                          </label>
                      </div>
                  </div>
                     
                  <div class="col-md-6" *ngIf="show_prix">
                      <div id="div_promotion" style="display: block;">
                          <div class="form-group">
                            <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Prix promotion'| translate}}<span style="color: red;">*</span></label>
                              <input type="text" class="form-control" name="promotion" id="prix_promotion" formControlName="prixPromotion">
                          </div>
                          <div class="err" *ngIf="submitted && this.form.controls.prixPromotion.errors">
                            <div style="color: red;" *ngIf="this.form.controls.prixPromotion.errors.required">
                                {{' champs obligatoire *' | translate}} 
                            </div>
                        </div>
                      </div>
                  </div>
                     
                  <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Description'| translate}}</label>
                          <textarea  class="form-control" name="description" id="description" cols="30" rows="10" formControlName="description"></textarea>
                      </div>
                      <div class="err" *ngIf="submitted && this.form.controls.description.errors">
                        <div style="color: red;" *ngIf="this.form.controls.description.errors.required">
                            {{' champs obligatoire *' | translate}} 
                        </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-label" style="font-size: 13px;font-weight: 400;">{{'Image de produit'| translate}}</label>
                          <input type="file" name="cin" class="form-control" (change)="fileChangeEvent($event)"  formControlName="image">
                          <div class="err" *ngIf="submitted && this.form.controls.image.errors">
                              <div style="color: red;" *ngIf="this.form.controls.image.errors.required">
                                  {{' champs obligatoire *' | translate}} 
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
    <div class="modal-footer">
          <button  type="submit" class="btn" style="background: #198754;color: white;" (click)="newProduit()">{{btn}}</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">Annuler</button>
    </div>
    </form>
  </div>