<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" content="Job board html template">
  <meta name="Author" content="Spruko Technologies Private Limited">
  <meta name="keywords" content=""/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta property="og:image" content="/assets/img/logo_gae.png">
  <meta name="csrf-token" content="l2vGHGGkLfgABEqzYiMOwbuolN7SWzURXuPGWLe5">
  <link rel="icon" href="/assets/img/logo_gae.png" type="image/x-icon"/>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/logo_gae.png" />
  <title>Gestion Auto-écoles-J2HB PLUS Editeur sécurité Routière</title>
</head>
<body style=" background:rgb(251, 251, 252);">
	<!-- <app-headerlogged></app-headerlogged> -->
  
    <app-slide-bar></app-slide-bar>
    <!-- <app-menu-admin></app-menu-admin> -->
    <div class="container-dashboard-body " style="max-width: 100%;margin-top: 85px;margin-bottom: 10px;">
       
        <div style="display: flex;background: #e5ebef;">
            <div class="container-child-dashboard" style="background: #e5ebef;">
                <div style="background-color: white;border: 1px solid rgb(235, 232, 232);width:100%;margin: 10px;color:black;">
                    <!-- begin -->
                    <span style="padding: 10px; font-size: medium;">MON COMPTE</span>
                    <hr>
                    <form [formGroup]="formlogo"  method="POST" action="" 
                 enctype="multipart/form-data">
                          <div class="row logoClass">
                              <div class="col-6">
                                  <div class="form-group">
                                      <label for="city-column">{{ "Logo de votre etablissement" | translate }}:</label>
                                      <input type="file"  (change)="fileChangeEvent($event)" class="form-control" formControlName="logo">   
                                  </div>
                                  <div class="err" *ngIf="submittedlogo && this.formlogo.controls.logo.errors">
                                      <div style="color: red;" *ngIf="this.formlogo.controls.logo.errors.required">
                                              {{'champs obligatoire ' | translate}}  
                                      </div>
                  
                                  </div>
                              </div>
                          </div>
                          <button class="btn btn-success m-class" (click)="setLogo()">Modifier Image</button>
                    </form>
                    <hr>
                    <form [formGroup]="formEmail"  method="POST" action="" 
                    enctype="multipart/form-data" >
                <div class="row">
                      <div class="col-2">
                          <label for="city-column" class="e-class">{{ "votre E-mail" | translate }}:</label>
                      </div>
                      <div class="col-6">
                          <div class="form-group">
                              
                              <input type="text"   class="form-control" formControlName="email">   
                          </div>
                          <div class="err" *ngIf="submittedEmail && this.formEmail.controls.email.errors">
                              <div style="color: red;" *ngIf="this.formEmail.controls.email.errors.required">
                                  {{'champs obligatoire ' | translate}}
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row mar-e">
                      <div class="col-2">
                          <label  class="e-class">{{ "Nouveau E-mail" | translate }}:</label>
                      </div>
                      <div class="col-6">
                          <div class="form-group">
                             
                              <input type="text"   class="form-control" formControlName="newEmail">   
                          </div>
                          <div class="err" *ngIf="submittedEmail && this.formEmail.controls.newEmail.errors">
                              <div style="color: red;" *ngIf="this.formEmail.controls.newEmail.errors.required">
                                  {{'champs obligatoire ' | translate}}  
                              </div>
                
                          </div>
                      </div>
                  </div>
                  <button  class="btn btn-success m-class" (click)="setEmail()">Modifier Email</button>
                    </form>
                  <hr>
                 <form [formGroup]="formPassword"  method="POST" action="" 
                    enctype="multipart/form-data" >
                  <div class="row ">
                      <div class="col-3">
                          <label for="city-column"  class="e-class">{{ "email address" | translate }}:</label>
                      </div>
                      <div class="col-6">
                          <div class="form-group">
                              <input type="email"   class="form-control" formControlName="email">   
                          </div>
                          <div class="err" *ngIf="submittedPassword && this.formPassword.controls.email.errors">
                              <div style="color: red;" *ngIf="this.formPassword.controls.email.errors.required">
                                  {{'champs obligatoire ' | translate}}  
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row my-2" >
                      <div class="col-3"> 
                          <label for="city-column"  class="e-class w-lebel">{{ "Nouveau mot de passe" | translate }}:</label>
                      </div>
                      <div class="col-6">
                          <div class="form-group">
                              <input type="password" class="form-control class-n-mot-pass" formControlName="password"> 
                          </div>
                          <div class="err" *ngIf="submittedPassword && this.formPassword.controls.password.errors">
                              <div style="color: red;" *ngIf="this.formPassword.controls.password.errors.required">
                                    {{'champs obligatoire ' | translate}}  
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row my-2" >
                      <div class="col-3"> 
                          <label for="city-column"  class="e-class w-lebel">{{ "Retaper le mot de passe" | translate }}:</label>
                      </div>
                      <div class="col-6">
                          <div class="form-group">
                              <input type="password" class="form-control class-n-mot-pass" formControlName="password_confirmation">
                          </div>
                          <div class="err" *ngIf="submittedPassword && this.formPassword.controls.password_confirmation.errors">
                              <div style="color: red;" *ngIf="this.formPassword.controls.password_confirmation.errors.required">
                                    {{'champs obligatoire ' | translate}}  
                              </div>
                          </div>
                      </div>
                  </div>
                 <div class="row my-2">
                    <button  class="btn btn-success m-class" style="width: 200px;"  (click)="setPassword()">Modifier mot de passe</button>
                 </div>
                  </form>
                    <!-- end -->
                </div>
            </div>
           
        </div>
         
   </div>
      


</body>
</html>