
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Gestion Auto-écoles-J2HB PLUS Editeur sécurité Routière</title>
</head>
<body style="font-size: 14px;">
  <div class="h-55">
    <app-headerlogged></app-headerlogged>
  </div>
   <app-menu-sb></app-menu-sb>
   <div class="container-dashboard-body" style="max-width: 100%;margin-top: 112px;margin-bottom: 10px;margin-left: 225px;border-top-left-radius: 7px;color:white">
    <div style="display: flex;">
      <div class="wrap-table100">
          
        <div class="mat-elevation-z8">
   
          <div style="display: flex;align-items:center; justify-content:space-between;margin-bottom: 10px;margin-left: 6px;margin-right: 6px;padding: 10px;">
            <div style="font-weight: 600;color: black;">LISTE DES PLANNINGS
            </div>
            <button 
                  class="btn add-btn"
                  (click)="open( 'Ajouter', null)"
                  style="background: #198754;border-radius: 5px;padding: 5px;color: white;width: 200px;font-size: 14px;">{{ "Nouveau plannings" | translate }}
             </button>
        </div>
        <hr>
           <div style="display: flex;align-items:center;justify-content:space-between;padding-left:5px;padding-right:5px">
            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control" name="categorie" id="categorie" style="height:32px;font-size: 14px;">
                  <option value="">Choisissez catégorie</option>
                  <option value="A">A</option>
                  <option value="A1">A1</option>
                  <option value="AM">AM</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="D">D</option>
                  <option value="EB">EB</option>
                  <option value="EC">EC</option>
                  <option value="ED">ED</option>
                  <option value="F">F</option>
                  <option value="FC">FC</option>
                  <option value="FP">FP</option>
                  <option value="FP/FC">FP/FC</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <select name="moniteur" class="form-control" id="moniteur"  style="height:32px;font-size: 14px;">
                  <option value="">Choisissez Moniteur</option>
                  <option *ngFor="let data of datamoniteurT" value="{{data?.id}}">{{data?.nom}}{{" "}}{{data?.prenom}} </option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <select name="candidats" class="form-control" id="candidats"  style="height:32px;font-size: 14px;">
                  <option value="">Choisissez candidats</option>
                  <option *ngFor="let data of candidatsB" value="{{data?.id}}">{{data?.nom_fr}}{{" "}}{{data?.prenom_fr}}</option>
                  <option *ngFor="let data of candidatS" value="{{data?.id}}">{{data?.nom_fr}}{{" "}}{{data?.prenom_fr}}</option>
                </select>
              </div>
            </div>

           </div>
           <mat-card>
            <div class="card" style="width: 100%;">
              <div class="card-body">
                 <div class="table-responsive border-top mb-0">
                        <!--ABSENCE candidats -->
                    
                          <div style="display: flex;align-items:center;justify-content:flex-end">
                            <div style="margin-right: 6px">  Rechercher:</div>
                            <mat-form-field appearance="standard">
                               <mat-label></mat-label>
                               <input matInput (keyup)="applyFilter($event)" placeholder="... " #input>
                            </mat-form-field>
                        </div>
                         <table  mat-table  [dataSource]="dataSource"  matSort #empTbSort="matSort">    
                       
                          <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"> 
                              <span style="font-weight:900;;margin-right: 5px;">{{ "DATE" | translate }}</span>    
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element?.date}} </td>
                          </ng-container>       
                      
                          <ng-container matColumnDef="heure">  
                            <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;;margin-right: 5px;">{{ "HEURE" | translate }}</span>   </th>
                            <td mat-cell *matCellDef="let element"> {{element?.date_debut}}{{'/'}}{{element?.date_fin}} </td>
                          </ng-container>
                      
                          <ng-container matColumnDef="type">   
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>  <span style="font-weight:900;;margin-right: 5px;">{{ "TYPE" | translate }}</span> </th>
                            <td mat-cell *matCellDef="let element"> {{element?.type}} </td>
                          </ng-container>
                      
                          <ng-container matColumnDef="permis">  
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;;margin-right: 5px;">{{ "CATEGORIE" | translate }}</span> </th>
                            <td mat-cell *matCellDef="let element" style="text-align:center"> {{element?.permis}} </td>
                          </ng-container>   
                  
                          <ng-container matColumnDef="moniteurp"> 
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;;margin-right: 5px;">{{ "MONITEUR" | translate }}</span> </th>
                            <td mat-cell *matCellDef="let element"> {{element?.moniteurth?.nom}}{{" "}}{{element?.moniteurth?.prenom}} </td>
                          </ng-container>
                          <ng-container matColumnDef="candidats">  
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;;margin-right: 5px;">{{ "CANDIDAT" | translate }}</span> </th>
                            <td mat-cell *matCellDef="let element"> {{element?.candidats}} </td>
                          </ng-container> 
                      
                         <ng-container matColumnDef="actions">  
                          <th mat-header-cell *matHeaderCellDef><span style="font-weight:900;;">{{ "ACTIONS" | translate }}</span>  </th>
                          <td mat-cell *matCellDef="let element"> 
                                <button
                                   class="btn btn-white "
                                   (click)="open1(element)"
                                   style="background: #198754;padding:4px;font-size: 12px;padding: 7px;" class="btn text-white">
                                   <span >{{ "Presence" | translate }}</span>
                            </button>
                            <button  class="btn btn-danger" style="padding:4px;font-size: 12px;padding: 7px;" (click)="deleteCourTheorique(element?.id, $event)" >
                              {{ "Supprimer" | translate }}
                            </button>
                            <button
                                style="padding:4px;font-size: 12px;padding: 7px;"
                                type="button" 
                                (click)="open( 'Modifier', element)"
                                class="btn btn-primary">
                              {{ "Modifier" | translate }}
                            </button>
                          </td>
                        </ng-container>
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator 
                        [pageSize]="5"  
                        [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
                        <!-- end ABSENCE candidats -->
                 </div>
              </div>
          </div>
          </mat-card>
           <!-- <div style="display: flex;align-items:center;justify-content:flex-end">
               <div style="margin-right: 6px">  Rechercher:</div>
               <mat-form-field appearance="standard">
                  <mat-label></mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="... " #input>
               </mat-form-field>
           </div>
            <table mat-table [dataSource]="dataSource" matSort>    
          
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"> 
                  <span style="font-weight:900;;margin-right: 5px;">{{ "DATE" | translate }}</span>    
                </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
              </ng-container>       
          
              <ng-container matColumnDef="heure">  
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;;margin-right: 5px;">{{ "HEURE" | translate }}</span>   </th>
                <td mat-cell *matCellDef="let element"> {{element?.date_debut}}{{'/'}}{{element?.date_fin}} </td>
              </ng-container>
          
              <ng-container matColumnDef="type">   
                <th mat-header-cell *matHeaderCellDef mat-sort-header>  <span style="font-weight:900;;margin-right: 5px;">{{ "TYPE" | translate }}</span> </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
              </ng-container>
          
              <ng-container matColumnDef="permis">  
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;;margin-right: 5px;">{{ "CATEGORIE" | translate }}</span> </th>
                <td mat-cell *matCellDef="let element" style="text-align:center"> {{element.permis}} </td>
              </ng-container>   
      
              <ng-container matColumnDef="moniteurp"> 
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;;margin-right: 5px;">{{ "MONITEUR" | translate }}</span> </th>
                <td mat-cell *matCellDef="let element"> {{element?.moniteurth?.nom}}{{" "}}{{element?.moniteurth?.prenom}} </td>
              </ng-container>
              <ng-container matColumnDef="candidats">  
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-weight:900;;margin-right: 5px;">{{ "CANDIDAT" | translate }}</span> </th>
                <td mat-cell *matCellDef="let element"> {{element.candidats}} </td>
              </ng-container> 
          
             <ng-container matColumnDef="actions">  
              <th mat-header-cell *matHeaderCellDef><span style="font-weight:900;;">{{ "ACTIONS" | translate }}</span>  </th>
              <td mat-cell *matCellDef="let element"> 
                    <button
                    class="btn btn-white "
                    (click)="open1(element)"
                style="background: #198754;padding:4px;font-size: 12px;padding: 7px;" class="btn text-white" onclick="document.getElementById('presence').style.display='block';" >
                  <span >{{ "Presence" | translate }}</span>
                </button>
                <button  class="btn btn-danger" style="padding:4px;font-size: 12px;padding: 7px;" (click)="deleteCourTheorique(element?.id, $event)" >
                  {{ "Supprimer" | translate }}
                </button>
                <button
                    style="padding:4px;font-size: 12px;padding: 7px;"
                    type="button" 
                    (click)="open( 'Modifier', element)"
                    class="btn btn-primary">
                  {{ "Modifier" | translate }}
                </button>
              </td>
            </ng-container>
      
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator 
              [length]="n" 
              [pageSize]="5"  
              [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator> -->
          </div>
      </div>
  </div>
  <!-- fin first container -->
                  

    
             
 </div>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>