
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Gestion Auto-écoles-J2HB PLUS Editeur sécurité Routière</title>
</head>
<body style="font-size: 14px;">
  <div class="h-55">
    <app-headerlogged></app-headerlogged>
  </div>
   <app-menu-sb></app-menu-sb>
   <div class="container-dashboard-body" style="max-width: 100%;margin-top: 112px;margin-bottom: 10px;margin-left: 225px;border-top-left-radius: 7px;color:white">
    <div style="display: flex;">
      <div class="wrap-table100 card">
        <div class="table-header">
          <div class="row">
            <div class="col-9" style="font-size: 15px;font-weight: 700;color: black;">
              GESTION DES RECETTES
            </div>
          </div>
        </div>
    
        <nav ngbNav #nav="ngbNav" class="nav-tabs">
        <ng-container ngbNavItem>
          <a ngbNavLink style="border:1px solid rgb(204, 198, 198); border-radius: 0;margin-right: 4px;color: white;font-weight: 700;font-size: 15px;background: black;" class="rg" (click)="changestyle('.rg')">Recette general</a>
          <ng-template ngbNavContent>
            <div class="tableDiv">
              <div style="display: flex; align-items:flex-end; justify-content:flex-end;margin: 5px;">
                <button class="btn btn-sm" style="background: red; color: white;box-shadow: none;outline: none;font-size: 16px;margin-bottom: 7px;">
                  <i class="fa fa-print"></i>
                  Imprimer
                </button>
              </div>
              <mat-card>
                <div class="card" style="width: 100%;background: white;">      
                  <div style="display: flex;align-items:center;justify-content:flex-end">
                    <div style="margin-right: 6px;font-size: 16px;">  Rechercher:</div>
                    <mat-form-field appearance="standard">
                      <mat-label></mat-label>
                      <input matInput (keyup)="applyFilter($event)" style="font-size: 16px" placeholder="... " #input>
                    </mat-form-field>
                </div> 
                <table mat-table  [dataSource]="dataSource"  matSort #empTbSort="matSort">    
                  <ng-container matColumnDef="date">     
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="categorie by candidat"> 
                      <span style="font-weight:900;font-size: 16px;">DATE</span>    
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element?.candidat?.cin}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="candidat">  
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="font-weight:900;font-size: 16px;">CANDIDAT</span>   </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{ element?.candidat?.nom_fr }}{{" "}}{{ element?.candidat?.prenom_fr }} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="type_formation">   
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>  <span style="font-weight:900;font-size: 16px;">TYPE FORMATION</span> </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element?.type_formation}} </td>
                  </ng-container>

                    <ng-container matColumnDef="categorie">   
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>  <span style="font-weight:900;font-size: 16px;">CATEGORIE</span> </th>
                      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element?.categorie}} </td>
                    </ng-container>  
                    <ng-container matColumnDef="montant">   
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>  <span style="font-weight:900;font-size: 16px;">MONTANT</span> </th>
                      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element?.montant}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nbr_heure_pratique">   
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>  <span style="font-weight:900;font-size: 16px;">NOMBRE HEURE</span> </th>
                      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element?.nbr_heure_pratique}} </td>
                    </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator 
                  #paginatorFirst
                  [pageSize]="5"  
                  [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
              </div>
              </mat-card>
            </div>
          </ng-template>
        </ng-container>

        <ng-container ngbNavItem>
          <a ngbNavLink style="border:1px solid rgb(189, 186, 186); border-radius: 0;margin-right: 4px;color: rgb(104, 95, 95);font-weight: 700;font-size: 15px;" class="rp" (click)="changestyle('.rp')">Permis</a>
          <ng-template ngbNavContent>
            <div class="tableDiv">
              <div style="display: flex; align-items:flex-end; justify-content:flex-end;margin: 5px;">
                <button class="btn btn-sm" style="background: red; color: white;box-shadow: none;outline: none;">
                  <i class="fa fa-print"></i>
                  Imprimer
                </button>
              </div>
              <app-table-recette-permis></app-table-recette-permis>
            </div>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
          <a ngbNavLink style="border:1px solid rgb(189, 186, 186); border-radius: 0;margin-right: 4px;color: rgb(104, 95, 95);font-weight: 700;font-size: 15px;" class="rcs"  (click)="changestyle('.rcs')">Cours Supplementaire</a>
          <ng-template ngbNavContent>
            <div class="tableDiv" >
              <div style="display: flex; align-items:flex-end; justify-content:flex-end;margin: 5px;">
                <button class="btn btn-sm" style="background: red; color: white;box-shadow: none;outline: none;">
                  <i class="fa fa-print"></i>
                  Imprimer
                </button>
              </div>
              <app-table-cours-supplementaire></app-table-cours-supplementaire>
            </div>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
          <a ngbNavLink style="border:1px solid rgb(189, 186, 186); border-radius: 0;margin-right: 4px;color: rgb(104, 95, 95);font-weight: 700;font-size: 15px;" class="rpc"  (click)="changestyle('.rpc')">Produit Candidat</a>
          <ng-template ngbNavContent>
            
            <div class="tableDiv" >
              <app-recette-produit-candidat-table></app-recette-produit-candidat-table>
              
            
            </div>
          </ng-template>
        </ng-container>
        </nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>


      </div>
  </div>
  <!-- fin first container -->
                  

    
             
 </div>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>